Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @hubertp, @jdunkerley, @radeusgd

Updated the required changelog check. Removed dead config for release branches.
  .github/settings.yml
Owners: none

Add `Is_Empty`, `Not_Empty`, `Like` and `Not_Like` to `Filter_Condition` (#3775)
  CHANGELOG.md
  build.sbt
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Filter_Condition_Helpers.enso
  project/StdBits.scala
  std-bits/base/src/main/java/org/enso/base/Regex_Utils.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/text/LikeOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  test/Table_Tests/src/Common_Table_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/List_Spec.enso
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @jdunkerley, @radeusgd

Sign MacOS package on CI only (#3788)
  app/ide-desktop/lib/client/electron-builder-config.ts
Owners: @MichaelMauderer, @wdanilo

Supporting self attribute, type methods and operations (#3789)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

Qualified defs (#3785)
  Cargo.lock
  Cargo.toml
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/parser/debug/Cargo.toml
  lib/rust/parser/debug/src/lib.rs
  lib/rust/parser/debug/src/main.rs
  lib/rust/parser/debug/tests/metadata/mod.rs
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/main.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Fetch the remote branch before comparing. (#3794)
  build/build/src/changelog/check.rs
  build/ci_utils/src/programs/git.rs
Owners: @mwu-tow

Macro contexts (#3792)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/macros/resolver.rs
  lib/rust/parser/src/syntax/operator.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Don't crash interpreter on missing method (#3787)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/resolver/HostMethodCallNode.java
  test/Tests/src/Semantic/Java_Interop_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @jdunkerley, @radeusgd

More coding patterns converted to IR (#3796)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

Add `replace_text` method to In-Memory `Table` (#3793)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  test/Table_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6

Lex doc comments and attach text to AST (#3795)
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/parser/debug/src/bin/lexer.rs
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/main.rs
  lib/rust/parser/src/syntax/operator.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/src/syntax/tree/block.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Ensure all new parser files are checked for changes (#3800)
  build.sbt
Owners: @4e6, @jaroslavtulach, @hubertp

Missing foreign language generates proper Enso error. (#3798)
  CHANGELOG.md
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/runtime/ForeignParsingException.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ForeignMethodInvokeTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

Show section name in breadcrumbs (#3778)
  app/gui/src/presenter/searcher.rs
  app/gui/view/component-browser/component-list-panel/breadcrumbs/src/entry.rs
  app/gui/view/component-browser/component-list-panel/breadcrumbs/src/lib.rs
  app/gui/view/component-browser/component-list-panel/grid/src/content.rs
  app/gui/view/component-browser/component-list-panel/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

Parse case-by-type, add an old-lambda syntax rule (#3802)
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/parser/debug/src/bin/lexer.rs
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/macros/resolver.rs
  lib/rust/parser/src/syntax/operator.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/src/syntax/tree/block.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Improve Unsupported_Argument_Types message. (#3803)
  distribution/lib/Standard/Base/0.0.0-dev/src/Error/Common.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/resolver/HostMethodCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/UnsupportedArgumentTypes.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/UnsupportedArgumentTypesToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/ArrayLengthNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  test/Tests/src/Semantic/Error_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Update `drop_missing_rows` to `filter_blank_rows` API. (#3805)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Searcher/0.0.0-dev/src/Data_Science/Preparation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  test/Table_Tests/src/Common_Table_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/Database/Common_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd

fix span bug in doc comments (#3808)
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/source/code.rs
  lib/rust/parser/src/syntax/tree.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Process documentation in type definitions (#3806)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/parser/generate-java/src/serialization.rs
Owners: @4e6, @jaroslavtulach, @hubertp, @kazcw, @wdanilo

Fix potential dobule-borrow panic. (#3807)
  lib/rust/frp/src/network.rs
Owners: @MichaelMauderer, @mwu-tow, @farmaazon, @wdanilo, @kazcw

A caption when hovering the marketplace button on the left bar of Component Browser (#3783)
  Cargo.lock
  app/gui/view/component-browser/component-list-panel/Cargo.toml
  app/gui/view/component-browser/component-list-panel/src/navigator.rs
  lib/rust/ensogl/component/label/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon

Add support for `Blank_Columns` to Table and Database (#3812)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Any.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Span.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Day_Of_Week_From.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Error/Common.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Aggregate_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Searcher/0.0.0-dev/src/Data_Science/Preparation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Selector.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  std-bits/base/src/main/java/org/enso/base/polyglot/Polyglot_Utils.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  test/Table_Tests/src/Common_Table_Spec.enso
  test/Table_Tests/src/Database/Common_Spec.enso
  test/Table_Tests/src/Database/Helpers/Fake_Test_Connection.enso
  test/Table_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd

Move logic calculating the index in Vector.at to a builtin method to make the performance of Vector to be on par with Array (#3811)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Error/Common.enso
  docs/runtime-guide.md
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/IndexOutOfBoundsError.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/immutable/AtVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/ArrayAtNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  test/Tests/src/Data/Array_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Test to make sure number of files accepted by the new parser only grows (#3814)
  engine/runtime/src/test/java/org/enso/compiler/ParseStdLibTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

Order of types in method signatures and more robust comment handling (#3825)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  engine/runtime/src/test/java/org/enso/compiler/ParseStdLibTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon
/lib/rust/metamodel/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/profiler/ @kazcw @MichaelMauderer @wdanilo
/lib/rust/reflect/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6
/lib/scala/interpreter-dsl/ @4e6 @jaroslavtulach

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp
/distribution/ @4e6
/engine/ @4e6 @jaroslavtulach @hubertp
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd
/tools/ @4e6

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd

# Engine
/app/engine/ @4e6
