Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo, @4e6

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz @radeusgd

# Distribution
/distribution @iamrecursion @kustosz @radeusgd
/distribution/std-lib @iamrecursion @kustosz @wdanilo

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd
/lib/scala/core-definition @iamrecursion @kustosz
/lib/scala/flexer @iamrecursion @kustosz
/lib/scala/graph @iamrecursion @kustosz
/lib/scala/interpreter-dsl @iamrecursion @kustosz
/lib/scala/json-rpc-server @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/json-rpc-server-test @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/logger @kustosz @iamrecursion
/lib/scala/parser-service @kustosz @iamrecursion
/lib/scala/pkg @iamrecursion @kustosz
/lib/scala/project-manager @radeusgd @4e6 @kustosz
/lib/scala/searcher @4e6 @radeusgd @kustosz
/lib/scala/syntax @iamrecursion @kustosz
/lib/scala/testkit @4e6 @kustosz @iamrecursion
/lib/scala/text-buffer @iamrecursion @kustosz
/lib/scala/version-output @iamrecursion @kustosz @radeusgd

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo @radeusgd

# Main Project
/engine/language-server @radeusgd @4e6 @kustosz
/engine/launcher @iamrecursion @kustosz @radeusgd
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @radeusgd
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/docs @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/.github/workflows @iamrecursion @kustosz @radeusgd
/tools @iamrecursion @kustosz @radeusgd
/project @iamrecursion @kustosz @radeusgd
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion

Bump the version to 0.2.3-SNAPSHOT
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Abandon Terminating Language Server (#1463)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerRegistry.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/versionmanagement/DefaultDistributionConfiguration.scala
Owners: @radeusgd, @4e6, @kustosz

Sorting Tables (#1471)
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Table/src/Data/Order_Rule.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  table/src/main/java/org/enso/table/data/index/HashIndex.java
  table/src/main/java/org/enso/table/data/index/Index.java
  table/src/main/java/org/enso/table/data/mask/OrderMask.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/data/clothes.csv
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Add the `Geo.point` function (#1474)
  .github/workflows/scala.yml
  distribution/std-lib/Geo/package.yaml
  distribution/std-lib/Geo/src/Main.enso
  distribution/std-lib/Table/src/Main.enso
  test/Geo_Tests/package.yaml
  test/Geo_Tests/src/Geo_Spec.enso
  test/Geo_Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Table Visualization Fixes (#1476)
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StorageListView.java
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Make some minor updates to the readme (#1449)
  README.md
Owners: @iamrecursion, @kustosz

Prepare for the 0.2.3 release (#1477)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Add Stack Traces in Tests (#1482)
  distribution/std-lib/Test/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/IfThenNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugBreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/GetStackTraceTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintErrNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintlnNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/scope/AssignmentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/DataflowError.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/resources/Builtins.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Set Correct Payload for Dataflow Errors (#1484)
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Table API: contatenation, index access, column aggregation, API unification (#1489)
  distribution/std-lib/Base/src/Data/Locale.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Time/Time.enso
  distribution/std-lib/Base/src/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/builder/object/BoolBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/Builder.java
  table/src/main/java/org/enso/table/data/column/builder/object/InferredBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/NumericBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/ObjectBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/StringBuilder.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/Aggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/CountAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/FunctionAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/numeric/LongToLongAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/numeric/NumericAggregator.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  table/src/main/java/org/enso/table/data/index/HashIndex.java
  table/src/main/java/org/enso/table/data/index/Index.java
  table/src/main/java/org/enso/table/data/table/Column.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/data/table/aggregate/AggregateColumn.java
  table/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Locale_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Time/Spec.enso
  test/Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Change Graal Version from SemVer to String (#1493)
  distribution/manifest.template.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/enso/enso-0.0.0/manifest.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-darwin-amd64-1.0.0.1.foo.tar.gz/graalvm-ce-java11-1.0.0.1.foo/Contents/Home/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-linux-amd64-1.0.0.1.foo.tar.gz/graalvm-ce-java11-1.0.0.1.foo/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-windows-amd64-1.0.0.1.foo.zip/graalvm-ce-java11-1.0.0.1.foo/bin/java.exe
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManagerSpec.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMVersion.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/Manifest.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Fix Dependency Analysis (#1495)
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Error message representations (#1498)
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ArithmeticErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ArityErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/CompileErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/InexhaustivePatternMatchErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/InvalidArrayIndexErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ModuleDoesNotExistErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ModuleNotInPackageErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NoSuchMethodErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NotInvokableErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/PolyglotErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/SyntaxErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/TypeErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/UninitializedStateErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/UnsupportedArgumentTypesToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/AnyToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/util/TypeToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/text/Text.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/BuiltinMethod.java
  test/Tests/src/Semantic/Error_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Prepare for the 0.2.4 release (#1499)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Enable the docker pipeline for releases (#1500)
  .github/workflows/release.yml
  docs/infrastructure/upgrading-graalvm.md
  docs/runtime/README.md
  docs/runtime/instruments.md
Owners: @iamrecursion, @kustosz, @radeusgd

Make `is_a` work on `Error` (#1502)
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Meta.enso
  test/Tests/src/Semantic/Any_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Fix the type of Type_Error's name field (#1504)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NotInvokableErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/TypeErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Table: Fix bool column sorting (#1505)
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Analyze compiled modules (#1507)
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Band-aid the "template pattern segment" error (#1509)
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  lib/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/ParserTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Always Send Panic Updates (#1508)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Desugar blanks in function position (#1512)
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LambdaShorthandArgsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

feat: invalidate method dependencies (#1516)
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

fix: lambda locations (#1522)
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/SectionsToBinOp.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/SectionsToBinOpTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Prepare for the 0.2.5 release (#1524)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Additional fixes for parser crashes (#1523)
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Make panic messages short (#1528)
  engine/polyglot-api/src/test/scala/org/enso/polyglot/ModuleManagementTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/PanicException.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CaseTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/PatternMatchTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SystemProcessTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Fix Invalidation of Dynamic Dependencies (#1532)
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Prepare for the 0.2.6 release (#1533)
  .github/settings.yml
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Initialize language server on client connection (#1535)
  .github/settings.yml
  .github/workflows/legal-review.yml
  .github/workflows/release-update-broken.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/LanguageServerComponent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/DirectoriesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/InitializationComponent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/RepoInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/SequentialResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/TruffleContextInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/data/Config.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionControllerFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/session/SessionApi.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/FileVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Python interop (#1541)
  .github/workflows/scala.yml
  distribution/std-lib/Test/src/Test.enso
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbParser.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/JsForeignNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/PyForeignNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/runtime/PolyglotProxy.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/RecoverPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/generic/IsLanguageInstalledNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Polyglot.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/DataflowError.java
  test/Tests/src/Main.enso
  test/Tests/src/Network/Http_Spec.enso
  test/Tests/src/Semantic/Js_Interop_Spec.enso
  test/Tests/src/Semantic/Python_Interop_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

R Interop (#1559)
  .github/workflows/scala.yml
  distribution/std-lib/Test/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbParser.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/RForeignNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/runtime/PolyglotProxy.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/GetStackTraceTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/PolyglotErrorToDisplayTextNode.java
  test/Tests/src/Main.enso
  test/Tests/src/Semantic/Js_Interop_Spec.enso
  test/Tests/src/Semantic/Python_Interop_Spec.enso
  test/Tests/src/Semantic/R_Interop_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Bump sbt to fix an issue with the scala REPL (#1562)
  .github/workflows/legal-review.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
  project/build.properties
Owners: @iamrecursion, @kustosz, @radeusgd

Fix Logger Disconnect (#1563)
  lib/scala/logging-service/src/main/scala/org/enso/loggingservice/internal/service/ServiceWithActorSystem.scala
  lib/scala/logging-service/src/main/scala/org/enso/loggingservice/printers/FileOutputPrinter.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Update the link for the Enso 101 tutorial (#1568)
  README.md
Owners: @iamrecursion, @kustosz

Update Project Name Validation (#1570)
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/validation/InvalidNameError.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/validation/NameValidation.scala
  lib/scala/pkg/src/test/scala/org/enso/pkg/NameSanitizationSpec.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/MonadicProjectValidator.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ValidationFailure.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectCreateDefaultToLatestSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectCreateMissingComponentsSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectOpenMissingComponentsSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6
