Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo, @4e6

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz @radeusgd

# Distribution
/distribution @iamrecursion @kustosz @radeusgd
/distribution/std-lib @iamrecursion @kustosz @wdanilo

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd
/lib/scala/core-definition @iamrecursion @kustosz
/lib/scala/flexer @iamrecursion @kustosz
/lib/scala/graph @iamrecursion @kustosz
/lib/scala/interpreter-dsl @iamrecursion @kustosz
/lib/scala/json-rpc-server @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/json-rpc-server-test @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/logger @kustosz @iamrecursion
/lib/scala/parser-service @kustosz @iamrecursion
/lib/scala/pkg @iamrecursion @kustosz
/lib/scala/project-manager @radeusgd @4e6 @kustosz
/lib/scala/searcher @4e6 @radeusgd @kustosz
/lib/scala/syntax @iamrecursion @kustosz
/lib/scala/testkit @4e6 @kustosz @iamrecursion
/lib/scala/text-buffer @iamrecursion @kustosz
/lib/scala/version-output @iamrecursion @kustosz @radeusgd

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo @radeusgd

# Main Project
/engine/language-server @radeusgd @4e6 @kustosz
/engine/launcher @iamrecursion @kustosz @radeusgd
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @radeusgd
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/docs @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/.github/workflows @iamrecursion @kustosz @radeusgd
/tools @iamrecursion @kustosz @radeusgd
/project @iamrecursion @kustosz @radeusgd
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion

Add Locations Filter for Instrumented Locations (#1564)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ModuleNotFoundForExpressionIdException.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/LocationFilter.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/LocationResolver.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecutionItem.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Don't use thread interrupts to cancel executions (#1574)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ThreadManager.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/RuntimeManagementTest.scala
  table/src/main/java/org/enso/table/data/index/HashIndex.java
Owners: @iamrecursion, @kustosz, @radeusgd

Prepare for the 0.2.7 release (#1578)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

PostgreSQL Support in Database Library (#1565)
  .github/workflows/scala.yml
  build.sbt
  distribution/std-lib/Standard/THIRD-PARTY/NOTICE
  distribution/std-lib/Standard/THIRD-PARTY/org.checkerframework.checker-qual-3.5.0/LICENSE.txt
  distribution/std-lib/Standard/THIRD-PARTY/org.postgresql.postgresql-42.2.19/LICENSE
  distribution/std-lib/Standard/THIRD-PARTY/org.postgresql.postgresql-42.2.19/NOTICES
  distribution/std-lib/Standard/src/Base/Meta.enso
  distribution/std-lib/Standard/src/Base/System/Environment.enso
  distribution/std-lib/Standard/src/Database/Connection/Connection.enso
  distribution/std-lib/Standard/src/Database/Connection/Database.enso
  distribution/std-lib/Standard/src/Database/Data/Column.enso
  distribution/std-lib/Standard/src/Database/Data/Sql.enso
  distribution/std-lib/Standard/src/Database/Data/Table.enso
  distribution/std-lib/Standard/src/Test.enso
  docs/CONTRIBUTING.md
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetSourceLocationNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Meta.java
  engine/runtime/src/main/resources/Builtins.enso
  std-bits/src/main/java/org/enso/database/JDBCProxy.java
  test/Database_Tests/README.md
  test/Database_Tests/src/Common_Spec.enso
  test/Database_Tests/src/Main.enso
  test/Database_Tests/src/Postgresql_Spec.enso
  test/Database_Tests/src/Sqlite_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
  tools/legal-review/Standard/org.checkerframework.checker-qual-3.5.0/custom-license
  tools/legal-review/Standard/org.checkerframework.checker-qual-3.5.0/files-keep
  tools/legal-review/Standard/org.postgresql.postgresql-42.2.19/copyright-ignore
  tools/legal-review/Standard/org.postgresql.postgresql-42.2.19/copyright-keep
  tools/legal-review/Standard/org.postgresql.postgresql-42.2.19/copyright-keep-context
  tools/legal-review/Standard/org.postgresql.postgresql-42.2.19/custom-license
  tools/legal-review/Standard/org.postgresql.postgresql-42.2.19/files-keep
  tools/legal-review/Standard/report-state
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Index Builtins Suggestions (#1575)
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeStdlibTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Fix the array visualisation and misc crashes (#1588)
  distribution/std-lib/Standard/src/Base.enso
  distribution/std-lib/Standard/src/Base/Data/Array/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Json.enso
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Base/Meta.enso
  distribution/std-lib/Standard/src/Base/System/File.enso
  distribution/std-lib/Standard/src/Test.enso
  engine/polyglot-api/src/main/java/org/enso/polyglot/MethodNames.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Module.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/ApiTest.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/ModuleManagementTest.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/DisplayTypeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetPolyglotLanguageNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/util/TypeToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Meta.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/ComplexType.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/ComplexTypeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CodeLocationsTest.scala
  test/Tests/src/Data/Array_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Database Visualization Support (#1582)
  distribution/std-lib/Standard/src/Base/Data/Json.enso
  distribution/std-lib/Standard/src/Base/Meta.enso
  distribution/std-lib/Standard/src/Database/Connection/Connection.enso
  distribution/std-lib/Standard/src/Database/Data/Column.enso
  distribution/std-lib/Standard/src/Database/Data/Sql.enso
  distribution/std-lib/Standard/src/Database/Data/Table.enso
  distribution/std-lib/Standard/src/Table/Data/Column.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  distribution/std-lib/Standard/src/Test.enso
  distribution/std-lib/Standard/src/Visualization/Helpers.enso
  distribution/std-lib/Standard/src/Visualization/Sql/Visualization.enso
  distribution/std-lib/Standard/src/Visualization/Table/Visualization.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetQualifiedTypeNameNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetSimpleTypeNameNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Meta.java
  engine/runtime/src/main/resources/Builtins.enso
  std-bits/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/NumericStorage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/src/main/java/org/enso/table/data/index/DefaultIndex.java
  std-bits/src/main/java/org/enso/table/data/index/HashIndex.java
  std-bits/src/main/java/org/enso/table/data/index/Index.java
  std-bits/src/main/java/org/enso/table/data/table/Column.java
  std-bits/src/main/java/org/enso/table/data/table/Table.java
  std-bits/src/main/java/org/enso/table/data/table/aggregate/AggregateColumn.java
  std-bits/src/main/java/org/enso/table/data/table/aggregate/AggregateTable.java
  test/Database_Tests/src/Codegen_Spec.enso
  test/Database_Tests/src/Postgresql_Spec.enso
  test/Database_Tests/src/Sqlite_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Make the process library more IDE-friendly (#1591)
  distribution/std-lib/Standard/src/Base/System/Process.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/system/CreateProcessNode.java
  test/Tests/src/System/Process_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Fix table visualization when no index is present (#1595)
  distribution/std-lib/Standard/src/Visualization/Table/Visualization.enso
Owners: @iamrecursion, @kustosz, @wdanilo

Prepare for the 0.2.8 release (#1596)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Image Processing Library Prototype (#1450)
  build.sbt
  distribution/std-lib/Standard/THIRD-PARTY/NOTICE
  distribution/std-lib/Standard/THIRD-PARTY/licenses/BSD-3-Clause
  distribution/std-lib/Standard/THIRD-PARTY/org.openpnp.opencv-4.5.1-0/NOTICES
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Image.enso
  distribution/std-lib/Standard/src/Image/Codecs.enso
  distribution/std-lib/Standard/src/Image/Codecs/Internal.enso
  distribution/std-lib/Standard/src/Image/Data/Histogram.enso
  distribution/std-lib/Standard/src/Image/Data/Image.enso
  distribution/std-lib/Standard/src/Image/Data/Image/Internal.enso
  distribution/std-lib/Standard/src/Image/Data/Matrix.enso
  distribution/std-lib/Standard/src/Image/Data/Matrix/Internal.enso
  docs/CONTRIBUTING.md
  std-bits/src/main/java/org/enso/image/Codecs.java
  std-bits/src/main/java/org/enso/image/data/Histogram.java
  std-bits/src/main/java/org/enso/image/data/Image.java
  std-bits/src/main/java/org/enso/image/data/Matrix.java
  std-bits/src/main/java/org/enso/image/opencv/OpenCV.java
  test/Image_Tests/.gitignore
  test/Image_Tests/package.yaml
  test/Image_Tests/src/Codecs_Spec.enso
  test/Image_Tests/src/Data/Image_Spec.enso
  test/Image_Tests/src/Data/Matrix_Spec.enso
  test/Image_Tests/src/Main.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Network/Http_Spec.enso
  tools/legal-review/Standard/org.openpnp.opencv-4.5.1-0/copyright-ignore
  tools/legal-review/Standard/org.openpnp.opencv-4.5.1-0/copyright-keep
  tools/legal-review/Standard/report-state
  tools/legal-review/Standard/reviewed-licenses/BSD_License
  tools/legal-review/std-lib-Image/report-state
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

fix: color conversion (#1612)
  std-bits/src/main/java/org/enso/image/data/Image.java
Owners: @iamrecursion, @kustosz, @radeusgd

Do not cache panics (#1611)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Provide searcher suggestions for compatible types (#1613)
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/Suggestions.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/data/TypeGraph.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/data/TypeGraphTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/GetTypeGraphCommand.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/searcher/src/bench/java/org/enso/searcher/sql/SuggestionsRepoBenchmark.java
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Histogram and Scatterplot visualizations support for Table (#1608)
  .github/workflows/scala.yml
  distribution/std-lib/Standard/src/Visualization/Helpers.enso
  distribution/std-lib/Standard/src/Visualization/Histogram.enso
  distribution/std-lib/Standard/src/Visualization/Scatter_Plot.enso
  test/Visualization_Tests/package.yaml
  test/Visualization_Tests/src/Helpers_Spec.enso
  test/Visualization_Tests/src/Histogram_Spec.enso
  test/Visualization_Tests/src/Main.enso
  test/Visualization_Tests/src/Scatter_Plot_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Fix a Bug in the Database Join Implementation (#1614)
  distribution/std-lib/Standard/src/Database/Data/Internal/IR.enso
  distribution/std-lib/Standard/src/Database/Data/Table.enso
  distribution/std-lib/Standard/src/Visualization/Table/Visualization.enso
  test/Database_Tests/src/Codegen_Spec.enso
  test/Database_Tests/src/Common_Spec.enso
  test/Visualization_Tests/src/Main.enso
  test/Visualization_Tests/src/Sql_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Wait for truffle context init (#1617)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/TruffleContextInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/event/InitializedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Fix the example for File.read (#1618)
  distribution/std-lib/Standard/src/Base/System/File.enso
Owners: @iamrecursion, @kustosz, @wdanilo

Prepare for the 0.2.9 release (#1619)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

Rank suggestions by self-type specificity (#1629)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/data/TypeGraph.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/data/TypeGraphTest.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Implement additional methods for table (#1628)
  distribution/std-lib/Standard/src/Table/Data/Column.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  std-bits/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/src/Column_Spec.enso
  test/Table_Tests/src/Main.enso
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Misc Runtime Fixes (#1633)
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/DetachVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/LocationFilter.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualisationJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Convert GeoJSON to Table (#1632)
  distribution/std-lib/Standard/src/Base/Network/Http.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Form.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Request.enso
  distribution/std-lib/Standard/src/Base/Network/Internal.enso
  distribution/std-lib/Standard/src/Base/Network/Uri.enso
  distribution/std-lib/Standard/src/Base/Network/Uri/Internal.enso
  distribution/std-lib/Standard/src/Geo/Geo_Json.enso
  distribution/std-lib/Standard/src/Table.enso
  test/Geo_Tests/src/Main.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Network/Http/Request_Spec.enso
  test/Tests/src/Network/Http_Spec.enso
  test/Tests/src/Network/Uri_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd

Fix symlinks and increase compression level (#1631)
  project/DistributionPackage.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Inlining Helper for Benchmarks (#1638)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/NoInlineWithArgNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/resources/Builtins.enso
  test/Tests/src/Main.enso
  test/Tests/src/Semantic/Runtime_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Enable All Languages in Context (#1640)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Doc Parser Hotfix: Correctly displays multiple lines in lists, and it won't panic on unknown character anymore. (#1636)
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
  lib/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/DocParserTests.scala
Owners: @iamrecursion, @kustosz

Case Insensitive Dataframe Support in Visualizations (#1634)
  distribution/std-lib/Standard/src/Visualization/Geo_Map.enso
  distribution/std-lib/Standard/src/Visualization/Helpers.enso
  distribution/std-lib/Standard/src/Visualization/Histogram.enso
  distribution/std-lib/Standard/src/Visualization/Scatter_Plot.enso
  test/Visualization_Tests/src/Geo_Map_Spec.enso
  test/Visualization_Tests/src/Helpers.enso
  test/Visualization_Tests/src/Helpers_Spec.enso
  test/Visualization_Tests/src/Histogram_Spec.enso
  test/Visualization_Tests/src/Main.enso
  test/Visualization_Tests/src/Scatter_Plot_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @radeusgd
