Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @lolczak, @4e6, @wdanilo, @radeusgd

Bump scalafmt to 2.6.2 (#969)
  .scalafmt.conf
Owners: @iamrecursion, @kustosz

Update rust style guide (#971)
  docs/style-guide/rust.md
Owners: @iamrecursion, @kustosz

Refactor the Flexer (#972)
  lib/rust/flexer/src/automata.rs
  lib/rust/flexer/src/automata/alphabet.rs
  lib/rust/flexer/src/automata/dfa.rs
  lib/rust/flexer/src/automata/nfa.rs
  lib/rust/flexer/src/automata/pattern.rs
  lib/rust/flexer/src/automata/state.rs
  lib/rust/flexer/src/automata/symbol.rs
  lib/rust/flexer/src/data.rs
  lib/rust/flexer/src/data/matrix.rs
  lib/rust/flexer/src/group.rs
  lib/rust/flexer/src/group/rule.rs
  lib/rust/flexer/src/lib.rs
  lib/rust/flexer/src/parser.rs
  lib/scala/flexer/src/main/scala/org/enso/flexer/spec/Macro.scala
Owners: @iamrecursion, @wdanilo, @kustosz

Launcher Design (#963)
  .github/ISSUE_TEMPLATE/bug-report.md
  distribution/launcher/README.md
  docs/distribution/README.md
  docs/distribution/launcher-cli.md
  docs/distribution/launcher.md
  docs/distribution/release-policy.md
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @iamrecursion, @kustosz

Fix a few minor things in the repo (#986)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/task.md
  docs/distribution/distribution.md
  docs/types/contexts.md
Owners: @iamrecursion, @kustosz

Move project dirs on project close (#979)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/MainModule.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/event/ProjectEvent.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerGateway.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerGatewayImpl.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerKiller.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ShutdownHookActivationWatcher.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ShutdownHookActivator.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ShutdownHookRunner.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/shutdown/ShutdownHookProcessor.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerGatewaySpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/test/Net.scala
Owners: @iamrecursion, @kustosz

Launcher Native Image Build (#970)
  .github/workflows/scala.yml
  build.sbt
  distribution/launcher/NOTICE
  distribution/launcher/components-licences/LICENSE-APACHE
  distribution/launcher/components-licences/LICENSE-MIT
  distribution/manifest.template.yml
  docs/CONTRIBUTING.md
  docs/distribution/README.md
  docs/distribution/launcher-cli.md
  docs/distribution/licences.md
  docs/distribution/release-policy.md
  docs/infrastructure/sbt.md
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/SuggestionsDatabaseEventsListenerTest.scala
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/Main.scala
  engine/launcher/src/test/scala/org/enso/launcher/LauncherSpec.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/version-output/src/main/scala/org/enso/version/VersionDescription.scala
  project/BuildInfo.scala
  project/EnvironmentCheck.scala
  project/NativeImage.scala
  project/plugins.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Flexer Tests (#983)
  lib/rust/flexer/src/automata/alphabet.rs
  lib/rust/flexer/src/automata/dfa.rs
  lib/rust/flexer/src/automata/nfa.rs
  lib/rust/flexer/src/group.rs
Owners: @iamrecursion, @wdanilo

Layered State Monad (#991)
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/CaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/GetStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/PutStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/data/EmptyMap.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/data/SingletonMap.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/data/SmallMap.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  test/Benchmarks/package.yaml
  test/Benchmarks/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Increase timeouts on Windows CI (#988)
  .github/workflows/scala.yml
  build.sbt
  engine/language-server/src/test/resources/application.conf
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/WatcherAdapterSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/requesthandler/monitoring/PingHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/SuggestionsDatabaseEventsListenerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/SuggestionsHandlerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BinaryFileManipulationTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BinarySessionManagementTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/VisualisationProtocolTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileManagerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileNotificationsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsDatabaseEventsListenerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  lib/scala/project-manager/src/test/resources/application.conf
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerGatewaySpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerSupervisorSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/ProjectRenameActionSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/FlakySpec.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/RetrySpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Automate the Rust Code Generation (#990)
  .gitignore
  Cargo.toml
  docs/parser/flexer.md
  lib/rust/flexer/Cargo.toml
  lib/rust/flexer/build.rs
  lib/rust/flexer/src/lib.rs
  lib/rust/lexer/definition/Cargo.toml
  lib/rust/lexer/definition/src/lexer.rs
  lib/rust/lexer/definition/src/lib.rs
  lib/rust/lexer/generation/Cargo.toml
  lib/rust/lexer/generation/build.rs
  lib/rust/lexer/generation/src/lexer.rs
  lib/rust/lexer/generation/src/lib.rs
  lib/rust/lexer/tests/Cargo.toml
  lib/rust/lexer/tests/src/main.rs
  tools/run
Owners: @iamrecursion, @kustosz, @wdanilo

Test Framework for Enso (#998)
  distribution/std-lib/Base/src/Bench_Utils.enso
  distribution/std-lib/Base/src/List.enso
  distribution/std-lib/Base/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/GetFieldNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/function/ApplicationOperator.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/GCNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/system/ExitNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/unsafe/SetAtomFieldNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DemandAnalysis.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DemandAnalysisTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/opr/Assoc.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/opr/Prec.scala
  test/Benchmarks/src/Main.enso
  test/Test/package.yaml
  test/Test/src/List_Spec.enso
  test/Test/src/Main.enso
  test/Test/src/Number_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Expose connection with Documentation parser and generator in ScalaJS artifact (#1002)
  lib/scala/syntax/specialization/js/src/main/scala/org/enso/syntax/text/Main.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Owners: @iamrecursion, @kustosz

Create documentation generator websocket wrapper (#1017)
  lib/scala/parser-service/src/main/scala/org/enso/ParserService.scala
  lib/scala/parser-service/src/main/scala/org/enso/parserservice/Protocol.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
Owners: @iamrecursion, @kustosz

Enable FlakySpec only on Windows (#1015)
  .github/workflows/scala.yml
  engine/language-server/src/main/scala/org/enso/languageserver/boot/LanguageServerComponent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  lib/scala/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
  lib/scala/project-manager/src/test/resources/application.conf
  lib/scala/project-manager/src/test/resources/logback-test.xml
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/ProjectManagementOps.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlDatabase.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/FlakySpec.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6

doc: fix capability/acquire parameters (#1018)
  docs/language-server/protocol-language-server.md
Owners: @iamrecursion, @kustosz

Update Documentation and Build Settings (#993)
  .github/workflows/scala.yml
  build.sbt
  distribution/bin/enso
  distribution/bin/enso.bat
  distribution/manifest.template.yaml
  docs/CONTRIBUTING.md
  docs/distribution/distribution.md
  docs/distribution/launcher-cli.md
  docs/distribution/launcher.md
  docs/distribution/packaging.md
  docs/distribution/release-policy.md
  engine/runner/jupyter-kernel/enso/kernel.json
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Add function to generate doc HTML from text (#1023)
  lib/scala/parser-service/src/main/scala/org/enso/ParserService.scala
  lib/scala/parser-service/src/main/scala/org/enso/parserservice/Protocol.scala
  lib/scala/syntax/specialization/js/src/main/scala/org/enso/syntax/text/Main.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Owners: @iamrecursion, @kustosz

Update the prettier ignore settings
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Owners: @iamrecursion, @kustosz

Add a lazy input reader for flexer (#1014)
  Cargo.toml
  docs/parser/reader.md
  lib/rust/lazy-reader/Cargo.toml
  lib/rust/lazy-reader/src/decoder.rs
  lib/rust/lazy-reader/src/lib.rs
Owners: @iamrecursion, @kustosz, @wdanilo

Automate the Enso release process (#989)
  .github/workflows/release.yml
  distribution/launcher/.enso.portable
Owners: @iamrecursion, @kustosz

Fix the search/getSuggestionsDatabase API (#1021)
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/SearchApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @lolczak, @4e6, @iamrecursion, @kustosz, @radeusgd

Method naming fixes (#1024)
  distribution/std-lib/Base/src/Test.enso
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ClosureRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/MethodRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/QualifiedName.scala
  test/Test/src/Main.enso
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Create a stub AST for the parser (#1019)
  Cargo.toml
  lib/rust/ast/Cargo.toml
  lib/rust/ast/src/lib.rs
  lib/rust/lazy-reader/src/lib.rs
Owners: @iamrecursion, @kustosz, @wdanilo

Wait for Suggestions Database Initialization (#1025)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/LanguageServerComponent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/event/InitializedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/CompletionHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/GetSuggestionsDatabaseHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/GetSuggestionsDatabaseVersionHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/ModuleNameBuilder.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchFailureMapper.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/resources/application.conf
  engine/language-server/src/test/scala/org/enso/languageserver/search/Suggestions.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/project-manager/src/main/resources/logback.xml
  lib/scala/project-manager/src/test/resources/application.conf
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/test/resources/application.conf
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/FileVersionsRepoTest.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @lolczak, @4e6, @iamrecursion, @kustosz, @radeusgd

[Tool] Move engine build after launcher
  .github/workflows/release.yml
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd

[Build,Doc] Make builds work outside a repository
  docs/getting-enso.md
  project/BuildInfo.scala
Owners: @iamrecursion, @kustosz

Add Installation Mechanism in the Launcher
  .gitignore
  docs/distribution/distribution.md
  engine/launcher/src/main/scala/org/enso/launcher/Environment.scala
  engine/launcher/src/main/scala/org/enso/launcher/FileSystem.scala
  engine/launcher/src/main/scala/org/enso/launcher/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/InternalOpts.scala
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/Logger.scala
  engine/launcher/src/main/scala/org/enso/launcher/Main.scala
  engine/launcher/src/main/scala/org/enso/launcher/PluginManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionInstaller.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/internal/Environment.scala
  engine/launcher/src/main/scala/org/enso/launcher/internal/OS.scala
  engine/launcher/src/main/scala/org/enso/launcher/internal/PluginManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/internal/installation/DistributionManager.scala
  engine/launcher/src/test/scala/org/enso/launcher/NativeTest.scala
  engine/launcher/src/test/scala/org/enso/launcher/WithTemporaryDirectory.scala
  engine/launcher/src/test/scala/org/enso/launcher/installation/DistributionManagerSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/installation/InstallerSpec.scala
  lib/scala/cli/src/main/scala/org/enso/cli/Application.scala
  lib/scala/cli/src/main/scala/org/enso/cli/CLIOutput.scala
  lib/scala/cli/src/main/scala/org/enso/cli/Opts.scala
  lib/scala/cli/src/main/scala/org/enso/cli/internal/Flag.scala
  lib/scala/cli/src/main/scala/org/enso/cli/internal/HiddenOpts.scala
  lib/scala/cli/src/main/scala/org/enso/cli/internal/Parser.scala
Owners: @iamrecursion, @kustosz

Update ExpressionValueUpdate Notification API (#1033)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExpressionValueUpdate.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  lib/scala/searcher/src/bench/java/org/enso/searcher/sql/SuggestionsRepoBenchmark.java
  lib/scala/searcher/src/bench/scala/org/enso/searcher/sql/SuggestionRandom.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6

Handle Rename Command Properly (#1041)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/refactoring/ProjectNameChangedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/refactoring/RenameProjectHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/InvalidateSuggestionsDatabaseHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/handler/InvalidateModulesIndexHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/InvalidateModulesIndexCmd.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/FileVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Revert expressionId removal from value update (#1043)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExpressionValueUpdate.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/ProgrammableWebSocketServer.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/ProjectRenameActionSpec.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Generate Scala Classes From The Stub AST (#1044)
  docs/distribution/distribution.md
  docs/distribution/launcher-cli.md
  docs/distribution/launcher.md
  docs/parser/ast.md
  lib/rust/ast/Cargo.toml
  lib/rust/ast/src/ast.rs
  lib/rust/ast/src/generation.rs
  lib/rust/ast/src/lib.rs
  lib/rust/ast/src/main.rs
Owners: @iamrecursion, @kustosz, @wdanilo

Integrate the Scala AST Generation with SBT (#1047)
  .github/workflows/codeql-analysis.yml
  .github/workflows/scala.yml
  .gitignore
  build.sbt
  docs/CONTRIBUTING.md
  docs/parser/ast.md
  lib/rust/ast/Cargo.toml
  lib/rust/ast/src/ast.rs
  lib/rust/ast/src/generation.rs
  project/EnvironmentCheck.scala
  project/GenerateAST.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Emit value updates only on change (#1051)
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/RuntimeCache.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/compiler/context/Changeset.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/CacheInvalidation.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeCacheTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/infrastructure/languageserver/ProjectRenameActionSpec.scala
Owners: @lolczak, @4e6, @iamrecursion, @kustosz, @radeusgd

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz

# Distribution
/distribution @iamrecursion @kustosz

# Scala Libraries
/common/scala/core-definition @iamrecursion @kustosz
/common/scala/flexer @iamrecursion @kustosz
/common/scala/graph @iamrecursion @kustosz
/common/scala/interpreter-dsl @iamrecursion @kustosz
/common/scala/json-rpc-server @lolczak @4e6
/common/scala/json-rpc-server-test @lolczak @4e6
/common/scala/logger @kustosz @iamrecursion
/common/scala/parser-service @kustosz @iamrecursion
/common/scala/pkg @iamrecursion @kustosz
/common/scala/project-manager @lolczak @4e6
/common/scala/searcher @4e6 @lolczak
/common/scala/syntax @iamrecursion @kustosz
/common/scala/text-buffer @iamrecursion @kustosz

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo

# Main Project
/engine/language-server @lolczak @4e6
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @lolczak @4e6
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/doc @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/ci @iamrecursion @kustosz
/project @iamrecursion @kustosz
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion
