Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

Single column in component browser (#7233)
  app/gui/view/component-browser/component-list-panel/grid/src/entry.rs
  app/gui/view/component-browser/component-list-panel/grid/src/layout.rs
  app/gui/view/component-browser/component-list-panel/grid/src/layouting.rs
  app/gui/view/component-browser/component-list-panel/grid/src/lib.rs
  app/gui/view/component-browser/component-list-panel/src/navigator.rs
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/grid-view/src/scrollable.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix node name visibility by removing remaining view-mode logic fron node output port (#7269)
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/output/area.rs
  app/gui/view/graph-editor/src/component/node/output/port.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Adding new Date/Time operations (`-`, `date_add`, `date_diff`, `date_part`) (#7221)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Period.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Aggregate_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Operation_Metadata.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/SQL_Expression.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Date_Time_Helpers.enso
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  std-bits/base/src/main/java/org/enso/base/time/CustomTemporalUnits.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/GenericBinaryObjectMapOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/datetime/DatePartExtractors.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/DoubleLongMapOpWithSpecialNumericHandling.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/GenericUnaryIntegerOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/UnaryDoubleToLongOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/UnaryIntegerOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/UnaryLongToLongOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/datetime/DateStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/datetime/DateTimeStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/datetime/TimeOfDayStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/AbstractLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/error/UnexpectedTypeException.java
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Common_Table_Operations/Util.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Table_Tests/src/In_Memory/Common_Spec.enso
  test/Tests/src/Data/Text/Regex_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix offline mode (#7250)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Add `date_diff`, `date_add` and `date_part` to scalar Enso date-time values. (#7273)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDateTime.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeOfDay.java
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

No need to depend on EnsoContext when working with PackageRepository (#7276)
  engine/runtime/src/main/java/org/enso/compiler/PackageRepositoryUtils.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Engine benchmarks download tool is able to plot multiple branches (#7257)
  tools/performance/engine-benchmarks/bench_download.py
  tools/performance/engine-benchmarks/template_jinja.html
Owners: @4e6, @jaroslavtulach, @radeusgd

Debug TextOperations test (#7292)
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Improve error message on `Filter_Condition` missing arguments in `Table.filter` (#7290)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  test/Table_Tests/src/Common_Table_Operations/Filter_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add endpoint for downloading a project (#7291)
  CHANGELOG.md
  build.sbt
  docs/language-server/project-manager-http-endpoints.md
  lib/scala/pkg/src/main/java/org/enso/pkg/archive/CloseArchiveEntryException.java
  lib/scala/pkg/src/main/java/org/enso/pkg/archive/EnsoProjectArchive.java
  lib/scala/pkg/src/main/java/org/enso/pkg/archive/EnsoProjectArchiveException.java
  lib/scala/pkg/src/main/java/org/enso/pkg/archive/TarArchiveBuildingFileVisitor.java
  lib/scala/pkg/src/main/java/org/enso/pkg/archive/WriteArchiveEntryException.java
  lib/scala/pkg/src/test/resources/Enso_Project_Archive_Test/data/sample.txt
  lib/scala/pkg/src/test/resources/Enso_Project_Archive_Test/package.yaml
  lib/scala/pkg/src/test/resources/Enso_Project_Archive_Test/src/Main.enso
  lib/scala/pkg/src/test/scala/org/enso/pkg/archive/EnsoProjectArchiveSpec.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/MainModule.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/http/ProjectsEndpoint.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/model/Project.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Revert "Show spinner when opening/creating a project, take #2 (#6827)" (#7229)
  app/gui/src/controller/ide.rs
  app/gui/src/controller/ide/desktop.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/ide.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/integration_test.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/src/presenter/searcher/component_browser.rs
  app/gui/src/presenter/searcher/component_browser/provider.rs
  app/gui/src/tests.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project_list.rs
  app/gui/view/src/root.rs
  integration-test/tests/engine.rs
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix error visualization positioning (#7267)
  app/gui/view/graph-editor/src/component/node.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Hide error message on execution success (#7268)
  app/gui/src/model/project.rs
  app/gui/src/model/project/synchronized.rs
  app/gui/src/presenter/project.rs
  app/gui/view/graph-editor/src/execution_environment.rs
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add drop down for replace, remove Column_Selector (#7295)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Case_Sensitivity.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Widget_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Database_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_In_Memory_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Searcher/0.0.0-dev/src/Data_Science/Preparation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Aggregate_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Selector.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Row_Number.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  test/Table_Tests/src/Common_Table_Operations/Missing_Values_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Select_Columns_Spec.enso
  test/Table_Tests/src/Formatting/Parse_Values_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Avoiding dependency on EnsoContext from Module and ModuleScope (#7277)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Type.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/PackageRepository.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Builtin methods can support array-like arguments (#7235)
  build.sbt
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoFile.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/BuiltinsProcessor.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/MethodProcessor.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/ExecuteMethodImplGenerator.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/MethodGenerator.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/MethodNodeClassGenerator.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/NoSpecializationClassGenerator.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/SpecializationClassGenerator.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/SpecializedMethodsGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Avoid Compiler compile time dependency on EnsoContext (#7299)
  engine/polyglot-api/src/main/java/org/enso/polyglot/CompilationStage.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/SerializeModuleJob.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/java/org/enso/compiler/ModuleCache.java
  engine/runtime/src/main/java/org/enso/compiler/context/CompilerContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/PackageRepository.scala
  engine/runtime/src/main/scala/org/enso/compiler/SerializationManager.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/FullyQualifiedNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/BuiltinsIrBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime/src/test/java/org/enso/compiler/SerializerTest.java
  engine/runtime/src/test/java/org/enso/interpreter/runtime/ModuleTestUtils.java
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/GlobalNamesTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Ascribed Type checks for a -> b function types (#7298)
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  test/Tests/src/Main.enso
  test/Tests/src/Runtime/Ascribed_Parameters_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

ResourceManagerTest to verify resources are cleaned on ctx.close() (#7302)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ResourceManager.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/ManagedResource.java
  engine/runtime/src/test/java/org/enso/interpreter/runtime/ResourceManagerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Simplify onboarding instructions for engine & project-manager developers (#7181)
  build.sbt
  docs/CONTRIBUTING.md
  engine/launcher/src/main/scala/org/enso/launcher/distribution/DefaultManagers.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/versionmanagement/DefaultDistributionConfiguration.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/TestDistributionConfiguration.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/RuntimeVersionManagerTest.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/distribution/locking/ConcurrencyTest.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/runner/Runner.scala
  project/DistributionPackage.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Delay LS shutdown when last client disconnects (#7254)
  lib/scala/project-manager/src/main/resources/application.conf
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/configuration.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/test/resources/application.conf
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectShutdownSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Bump electron to 25.3. (#7285)
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/package-lock.json
Owners: @PabloBuchu, @indiv0, @somebody1234, @MichaelMauderer, @wdanilo

Redesign IDE top bar (#7249)
  Cargo.lock
  app/gui/src/ide/initializer.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/call_stack.rs
  app/gui/src/presenter/project.rs
  app/gui/view/Cargo.toml
  app/gui/view/examples/Cargo.toml
  app/gui/view/examples/interface/src/lib.rs
  app/gui/view/examples/project-view-top-bar/Cargo.toml
  app/gui/view/examples/project-view-top-bar/src/lib.rs
  app/gui/view/examples/src/lib.rs
  app/gui/view/execution-environment-selector/src/lib.rs
  app/gui/view/graph-editor/src/component.rs
  app/gui/view/graph-editor/src/component/breadcrumbs/breadcrumb.rs
  app/gui/view/graph-editor/src/component/breadcrumbs/project_name.rs
  app/gui/view/graph-editor/src/execution_environment.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/graph-editor/src/shortcuts.rs
  app/gui/view/project-view-top-bar/Cargo.toml
  app/gui/view/project-view-top-bar/src/breadcrumbs.rs
  app/gui/view/project-view-top-bar/src/breadcrumbs/breadcrumb.rs
  app/gui/view/project-view-top-bar/src/go_to_dashboard_button.rs
  app/gui/view/project-view-top-bar/src/lib.rs
  app/gui/view/project-view-top-bar/src/project_name.rs
  app/gui/view/project-view-top-bar/src/window_control_buttons.rs
  app/gui/view/project-view-top-bar/src/window_control_buttons/close.rs
  app/gui/view/project-view-top-bar/src/window_control_buttons/fullscreen.rs
  app/gui/view/src/lib.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project/project_view_top_bar.rs
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/drop-down-menu/src/lib.rs
  lib/rust/ensogl/core/src/data/color/space/def.rs
  lib/rust/ensogl/core/src/display/scene.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Help chat (#7151)
  CHANGELOG.md
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/assets/close_large.svg
  app/ide-desktop/lib/assets/triangle_down.svg
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/src/authentication/src/animations.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/chat.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/twemoji.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/dateTime.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/newtype.ts
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
  app/ide-desktop/lib/dashboard/watch.ts
  app/ide-desktop/package-lock.json
Owners: @somebody1234, @MichaelMauderer, @wdanilo, @PabloBuchu, @indiv0

New icons, part 1 (#7296)
  app/gui/view/component-browser/component-list-panel/grid/src/entry/icon.rs
  app/gui/view/component-browser/component-list-panel/icons/src/common_part.rs
  app/gui/view/examples/icons/src/lib.rs
  app/gui/view/graph-editor/src/component/node/action_bar/icon.rs
  app/gui/view/graph-editor/src/component/node/output/port.rs
  app/gui/view/graph-editor/src/component/visualization/container/action_bar.rs
  build-config.yaml
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/primitive.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix issue with rename_columns and revert order of parameter change on select_columns. (#7321)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  test/Table_Tests/src/Common_Table_Operations/Select_Columns_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add Fallback to Prim_Text_Helper.compile_regex; accept Regex in Text.parse_to_table (#7297)
  CHANGELOG.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Parse_To_Table.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/RegexCompileNode.java
  test/Table_Tests/src/In_Memory/Parse_To_Table_Spec.enso
  test/Tests/src/Data/Text/Regex_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Bench builder API (#7324)
  distribution/lib/Standard/Test/0.0.0-dev/src/Bench.enso
  test/Benchmarks/src/Vector/Operations.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add zone to Date_Times (#7325)
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Update junit-interface (#7338)
  build.sbt
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Allow external edits of project files (#7322)
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/ZioRuntimeInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/event/InitializedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/PathWatcher.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/ReceivesTreeUpdatesHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/Buffer.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/BufferRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/CollaborativeBuffer.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/FileWithMetadata.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ReceivesTreeUpdatesHandlerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VcsManagerTest.scala
  lib/scala/filewatcher/src/main/java/org/enso/filewatcher/package-info.java
  lib/scala/filewatcher/src/main/scala/org/enso/filewatcher/WatcherAdapter.scala
  lib/scala/filewatcher/src/test/scala/org/enso/filewatcher/WatcherAdapterSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

set background throttling to false by default (#7319)
  app/ide-desktop/lib/client/src/config.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Bump setup-conda action (#7358)
  .github/workflows/benchmark.yml
  .github/workflows/changelog.yml
  .github/workflows/gui.yml
  .github/workflows/promote.yml
  .github/workflows/release.yml
  .github/workflows/scala-new.yml
  build/ci_utils/src/actions/workflow/definition.rs
Owners: @mwu-tow

Debug pending saves (#7355)
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VcsManagerTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

New Components Order (#7327)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  app/gui/Cargo.toml
  app/gui/controller/double-representation/src/name.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/controller/searcher/action/hardcoded.rs
  app/gui/src/controller/searcher/breadcrumbs.rs
  app/gui/src/controller/searcher/component.rs
  app/gui/src/controller/searcher/component/builder.rs
  app/gui/src/controller/searcher/component/group.rs
  app/gui/src/controller/searcher/component/hardcoded.rs
  app/gui/src/controller/searcher/input.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/src/presenter/searcher/ai.rs
  app/gui/src/presenter/searcher/component_browser.rs
  app/gui/src/presenter/searcher/component_browser/provider.rs
  app/gui/view/component-browser/component-list-panel/grid/src/content.rs
  app/gui/view/component-browser/component-list-panel/grid/src/entry.rs
  app/gui/view/component-browser/component-list-panel/grid/src/entry/style.rs
  app/gui/view/component-browser/component-list-panel/grid/src/layout.rs
  app/gui/view/component-browser/component-list-panel/grid/src/layouting.rs
  app/gui/view/component-browser/component-list-panel/grid/src/lib.rs
  app/gui/view/component-browser/component-list-panel/src/lib.rs
  app/gui/view/component-browser/component-list-panel/src/navigator.rs
  app/gui/view/component-browser/component-list-panel/src/navigator/entry.rs
  app/gui/view/examples/component-list-panel-view/src/lib.rs
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
