Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6, @wdanilo

Add search/import command (#1310)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/ImportHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchFailureMapper.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/handler/ImportModuleHandler.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/ImportSuggestionCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledStackJob.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Table: Indexes & Joins (#1317)
  distribution/std-lib/Base/src/Data/Json.enso
  distribution/std-lib/Base/src/Data/Vector.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  table/src/main/java/org/enso/table/data/index/HashIndex.java
  table/src/main/java/org/enso/table/data/index/Index.java
  table/src/main/java/org/enso/table/data/table/Column.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/error/NoSuchColumnException.java
  table/src/main/java/org/enso/table/format/csv/Parser.java
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix some CI timeouts (#1321)
  .github/workflows/legal-review.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

Fix Runtime Jobs Scheduling (#1319)
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/FailedToApplyEditsException.java
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PopContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/CommandExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/ExecutionState.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/PendingEdits.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/PendingFileEdits.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/RuntimeContext.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledStackJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/text-buffer/src/main/scala/org/enso/text/editing/JavaEditorAdapter.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Set up GH discussions (#1336)
  .github/ISSUE_TEMPLATE/config.yml
  .github/settings.yml
Owners: @iamrecursion, @kustosz

Misc Visualization Fixes (#1328)
  distribution/std-lib/Base/src/Data/Time/Date.enso
  distribution/std-lib/Base/src/Data/Time/Duration.enso
  distribution/std-lib/Base/src/Data/Time/Locale.enso
  distribution/std-lib/Base/src/Data/Time/Time.enso
  distribution/std-lib/Base/src/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Base/src/Data/Time/Zone.enso
  distribution/std-lib/Base/src/Network/Http/Response.enso
  distribution/std-lib/Base/src/Network/Uri.enso
  distribution/std-lib/Base/src/System/File.enso
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/VectorLiterals.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/Locking.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Duration_Spec.enso
  test/Tests/src/Data/Time/Locale_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
  test/Tests/src/Data/Time/Time_Spec.enso
  test/Tests/src/Data/Time/Zone_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz

# Distribution
/distribution @iamrecursion @kustosz @radeusgd

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd
/lib/scala/core-definition @iamrecursion @kustosz
/lib/scala/flexer @iamrecursion @kustosz
/lib/scala/graph @iamrecursion @kustosz
/lib/scala/interpreter-dsl @iamrecursion @kustosz
/lib/scala/json-rpc-server @lolczak @4e6 @iamrecursion
/lib/scala/json-rpc-server-test @lolczak @4e6 @iamrecursion
/lib/scala/logger @kustosz @iamrecursion
/lib/scala/parser-service @kustosz @iamrecursion
/lib/scala/pkg @iamrecursion @kustosz
/lib/scala/project-manager @lolczak @4e6 @kustosz
/lib/scala/searcher @4e6 @lolczak
/lib/scala/syntax @iamrecursion @kustosz
/lib/scala/testkit @4e6 @kustosz
/lib/scala/text-buffer @iamrecursion @kustosz
/lib/scala/version-output @iamrecursion @kustosz @radeusgd

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo

# Main Project
/engine/language-server @lolczak @4e6 @kustosz
/engine/launcher @iamrecursion @kustosz @radeusgd
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @radeusgd
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/docs @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/.github/workflows @iamrecursion @kustosz @radeusgd
/tools @iamrecursion @kustosz @radeusgd
/project @iamrecursion @kustosz @radeusgd
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion
