Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6, @wdanilo

Add information on including atoms
  docs/syntax/types.md
Owners: @iamrecursion, @kustosz

Populate the Suggestions Database with Imported Modules (#1155)
  build.sbt
  engine/language-server/src/main/resources/application.conf
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/util/Logging.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/OptionsHelper.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/FailedToApplyEditsException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ModuleNotFoundForFileException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/SourceNotFoundException.java
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/Handler.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/InvalidateModulesIndexCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledStackJob.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/StdlibRuntimeServerTest.scala
  lib/scala/searcher/src/main/resources/reference.conf
  lib/scala/searcher/src/main/scala/org/enso/searcher/FileVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/test/resources/application.conf
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/FileVersionsRepoTest.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/OsSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Disable TCP offloading on macOS (#1159)
  .github/workflows/release.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

Change sbt links to direct GitHub releases links (#1176)
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

Polyglot Import Renaming (#1179)
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/BindingAnalysisTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Test/src/Java_Interop/Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Missing specializations for MethodResolverNode (#1173)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/GetStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/PutStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/AnyToTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  test/Test/src/Deep_Export/Internal.enso
  test/Test/src/Deep_Export/Internal_1.enso
  test/Test/src/Deep_Export/Internal_2.enso
  test/Test/src/Deep_Export/Internal_3.enso
  test/Test/src/Deep_Export/Internal_4.enso
  test/Test/src/Import_Loop/A.enso
  test/Test/src/Main.enso
  test/Test/src/Semantic/Deep_Export/Internal.enso
  test/Test/src/Semantic/Deep_Export/Internal_1.enso
  test/Test/src/Semantic/Deep_Export/Internal_2.enso
  test/Test/src/Semantic/Deep_Export/Internal_3.enso
  test/Test/src/Semantic/Deep_Export/Internal_4.enso
  test/Test/src/Semantic/Deep_Export/Internal_5.enso
  test/Test/src/Semantic/Deep_Export/Spec.enso
  test/Test/src/Semantic/Error_Spec.enso
  test/Test/src/Semantic/Import_Loop/A.enso
  test/Test/src/Semantic/Import_Loop/B.enso
  test/Test/src/Semantic/Import_Loop/Spec.enso
  test/Test/src/Semantic/Java_Interop_Spec.enso
  test/Test/src/Semantic/Names_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Bump the NodeJS patch version expected
  docs/CONTRIBUTING.md
Owners: @iamrecursion, @kustosz

Bump the Node LTS patch version (#1182)
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/scala.yml
  docs/CONTRIBUTING.md
  engine/launcher/src/test/scala/org/enso/launcher/NativeTest.scala
  engine/launcher/src/test/scala/org/enso/launcher/locking/TestSynchronizer.scala
  engine/launcher/src/test/scala/org/enso/launcher/upgrade/UpgradeSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Update README.md
  README.md
Owners: @iamrecursion, @kustosz

Defining Methods for Operators (#1189)
  distribution/std-lib/Base/src/Boolean.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Maybe.enso
  distribution/std-lib/Base/src/System/Platform.enso
  distribution/std-lib/Base/src/Test.enso
  distribution/std-lib/Base/src/Text/Extensions.enso
  distribution/std-lib/Base/src/Vector.enso
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  lib/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/ParserTest.scala
  test/Test/src/Text/Spec.enso
  test/Test/src/Vector/Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix the Suggestions Database Updates Handling (#1161)
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/StdlibRuntimeServerTest.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/FileVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/FileVersionsRepoTest.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @lolczak, @4e6, @kustosz, @iamrecursion, @radeusgd

Managed Resources Engine (#1194)
  docs/semantics/managed-resources.md
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/managedResource/FinalizeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/managedResource/RegisterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/managedResource/TakeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/managedResource/WithNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ResourceManager.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/ManagedResource.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/ManagedResource.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/RuntimeManagementTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ThreadInterruptionTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Run Stdlib tests on CI (#1196)
  .github/settings.yml
  .github/workflows/scala.yml
  test/Test/src/Process_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix Documentation Comments (#1199)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeFunctions.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/DocumentationCommentsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/TypeSignaturesTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Catch Polyglot Exceptions (#1200)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Remove documentation style sheet, fix code blocks (#1202)
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Owners: @iamrecursion, @kustosz

Implement Enso Time Library (#1171)
  distribution/std-lib/Base/src/Time/Date.enso
  distribution/std-lib/Base/src/Time/Duration.enso
  distribution/std-lib/Base/src/Time/Time.enso
  distribution/std-lib/Base/src/Time/Time_Of_Day.enso
  distribution/std-lib/Base/src/Time/Zone.enso
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/BindingAnalysisTest.scala
  std-bits/src/main/java/org/enso/base/Time_Utils.java
  test/Test/src/Main.enso
  test/Test/src/Time/Date_Spec.enso
  test/Test/src/Time/Duration_Spec.enso
  test/Test/src/Time/Spec.enso
  test/Test/src/Time/Time_Of_Day_Spec.enso
  test/Test/src/Time/Time_Spec.enso
  test/Test/src/Time/Zone_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix bugs in TCO and test library (#1205)
  distribution/std-lib/Base/src/Test.enso
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/TailCall.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/TailCallTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Fix source locations in Enso files (#1208)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Allow Underscores in Project Names (#1209)
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  lib/scala/pkg/src/test/scala/org/enso/pkg/NameSanitizationSpec.scala
Owners: @iamrecursion, @kustosz

Automate License Information Gathering (#1198)
  .github/workflows/release.yml
  .github/workflows/scala.yml
  .prettierignore
  build.sbt
  docs/CONTRIBUTING.md
  docs/distribution/README.md
  docs/distribution/licences.md
  docs/distribution/licenses.md
  project/Distribution.scala
  project/GatherLicenses.scala
  project/StdBits.scala
  project/src/main/scala/licenses/Attachment.scala
  project/src/main/scala/licenses/DependencyInformation.scala
  project/src/main/scala/licenses/DependencySummary.scala
  project/src/main/scala/licenses/DistributionDescription.scala
  project/src/main/scala/licenses/backend/AttachmentGatherer.scala
  project/src/main/scala/licenses/backend/CombinedBackend.scala
  project/src/main/scala/licenses/backend/GatherCopyrights.scala
  project/src/main/scala/licenses/backend/GatherNotices.scala
  project/src/main/scala/licenses/backend/GithubHeuristic.scala
  project/src/main/scala/licenses/frontend/DependencyFilter.scala
  project/src/main/scala/licenses/frontend/SbtLicenses.scala
  project/src/main/scala/licenses/report/HTMLWriter.scala
  project/src/main/scala/licenses/report/PackageNotices.scala
  project/src/main/scala/licenses/report/Report.scala
  project/src/main/scala/licenses/report/Review.scala
  project/src/main/scala/licenses/report/WithWarnings.scala
  std-bits/pom.xml
  tools/legal-review-helper/index.js
  tools/legal-review-helper/package.json
  tools/legal-review-helper/static/inject.js
  tools/legal-review/launcher/com.typesafe.akka.akka-protobuf-v3_2.13-2.6.6/files-add/COPYING.protobuf
  tools/legal-review/launcher/commons-io.commons-io-2.7/custom-license
  tools/legal-review/license-texts/APACHE2.0
Owners: @iamrecursion, @kustosz, @radeusgd

Implement Generic Programming Facilities (#1216)
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Meta/Meta.enso
  distribution/std-lib/Base/src/Number/Extensions.enso
  distribution/std-lib/Base/src/Vector.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetAtomConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetAtomFieldsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetConstructorFieldNamesNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetConstructorNameNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetPolyglotLanguageNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsAtomConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsAtomNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsPolyglotNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsSameObjectNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsUnresolvedSymbolNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/NewAtomInstanceNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Meta.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/scala/org/enso/compiler/pass/lint/ShadowedPatternFields.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/optimise/LambdaConsolidate.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/optimise/LambdaConsolidateTest.scala
  test/Benchmarks/src/Collections.enso
  test/Test/src/Main.enso
  test/Test/src/Semantic/Meta_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Localize Interpreter Errors (#1212)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ConstructorNotFoundException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/MethodNotFoundException.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledStackJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/StdlibRuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Use Environment Files in Actions (#1218)
  .github/workflows/codeql-analysis.yml
  .github/workflows/legal-review.yml
  .github/workflows/release-update-broken.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

JSON Library (#1241)
  build.sbt
  distribution/std-lib/Base/src/Data/Json.enso
  distribution/std-lib/Base/src/Data/Json/Internal.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Number/Extensions.enso
  distribution/std-lib/Base/src/Test.enso
  distribution/std-lib/Base/src/Text/Extensions.enso
  distribution/std-lib/Base/src/Vector.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/EmptyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/GetAtNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/GetRefNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/LengthNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/New1Node.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/New2Node.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/New3Node.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/New4Node.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/NewNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/NewRefNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/PutRefNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/SetAtNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/ToArrayNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/JsonSerializeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Mutable.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Ref.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/builtin/LanguageEntitySerializer.scala
  engine/runtime/src/test/scala/org/enso/std/test/JsonSerializationTest.scala
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  std-bits/src/main/java/org/enso/base/json/Parser.java
  std-bits/src/main/java/org/enso/base/json/Printer.java
  test/Benchmarks/src/Json.enso
  test/Test/data/books.json
  test/Test/src/Data/Json_Spec.enso
  test/Test/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd

HTTP Library (#1220)
  .github/workflows/scala.yml
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Net/Http.enso
  distribution/std-lib/Base/src/Net/Http/Form.enso
  distribution/std-lib/Base/src/Net/Http/Header.enso
  distribution/std-lib/Base/src/Net/Http/Method.enso
  distribution/std-lib/Base/src/Net/Http/Request.enso
  distribution/std-lib/Base/src/Net/Http/Request/Body.enso
  distribution/std-lib/Base/src/Net/Http/Response.enso
  distribution/std-lib/Base/src/Net/Http/Response/Body.enso
  distribution/std-lib/Base/src/Net/Http/Status_Code.enso
  distribution/std-lib/Base/src/Net/Http/Version.enso
  distribution/std-lib/Base/src/Net/Proxy.enso
  distribution/std-lib/Base/src/Net/Uri.enso
  distribution/std-lib/Base/src/Text/Extensions.enso
  distribution/std-lib/Base/src/Time/Date.enso
  distribution/std-lib/Base/src/Time/Duration.enso
  distribution/std-lib/Base/src/Time/Time.enso
  distribution/std-lib/Base/src/Time/Time_Of_Day.enso
  distribution/std-lib/Base/src/Vector.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/syntax/ConstructorDispatchNode.java
  std-bits/src/main/java/org/enso/base/Http_Utils.java
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  std-bits/src/main/java/org/enso/base/net/http/BasicAuthorization.java
  std-bits/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  test/Test/src/Main.enso
  test/Test/src/Net/Http/Header_Spec.enso
  test/Test/src/Net/Http/Request_Spec.enso
  test/Test/src/Net/Http_Spec.enso
  test/Test/src/Net/Uri_Spec.enso
  test/Test/src/Time/Duration_Spec.enso
  test/Test/src/Vector/Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Make Legal Review Required For PRs (#1246)
  .github/settings.yml
  lib/rust/flexer/Cargo.toml
Owners: @iamrecursion, @wdanilo

Update Project Manager Protocol (#1240)
  docs/language-server/protocol-architecture.md
  docs/language-server/protocol-common.md
  docs/language-server/protocol-project-manager.md
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/JsonProtocol.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/MessageHandler.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/Protocol.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/EngineVersion.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/MissingComponentAction.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/ProgressUnit.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ClientController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/JsonRpc.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ProjectManagementApi.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/NotImplementedHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectCreateHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectOpenHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectServiceApi.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/ProjectManagementOps.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6

Create the initial design for the macro system (#1264)
  docs/parser/macro-resolution.md
Owners: @iamrecursion, @kustosz

Simple CSV parser (#1268)
  .github/workflows/scala.yml
  build.sbt
  distribution/std-lib/Base/src/Data/Json.enso
  distribution/std-lib/Base/src/Data/Map.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/System/File.enso
  distribution/std-lib/Table/THIRD-PARTY/NOTICE
  distribution/std-lib/Table/THIRD-PARTY/com.univocity.univocity-parsers-2.9.0/NOTICES
  distribution/std-lib/Table/THIRD-PARTY/licenses/APACHE2.0
  distribution/std-lib/Table/package.yaml
  distribution/std-lib/Table/src/Io/Csv.enso
  distribution/std-lib/Table/src/Main.enso
  distribution/std-lib/Table/src/Table.enso
  table/src/main/java/org/enso/table/data/column/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/LongStorage.java
  table/src/main/java/org/enso/table/data/column/Storage.java
  table/src/main/java/org/enso/table/data/column/StringStorage.java
  table/src/main/java/org/enso/table/data/column/builder/PrimInferredStorageBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/StorageBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/StringStorageBuilder.java
  table/src/main/java/org/enso/table/data/table/Column.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/format/csv/Parser.java
  test/Table_Tests/data/simple_empty.csv
  test/Table_Tests/data/varied_column.csv
  test/Table_Tests/package.yaml
  test/Table_Tests/src/Main.enso
  test/Table_Tests/src/Table_Spec.enso
  tools/legal-review/std-lib-Table/com.univocity.univocity-parsers-2.9.0/copyright-keep
  tools/legal-review/std-lib-Table/report-state
  tools/legal-review/std-lib-Table/reviewed-licenses/Apache_2
Owners: @iamrecursion, @kustosz, @radeusgd

Update the Running Enso Section in Contribution Docs (#1250)
  docs/CONTRIBUTING.md
Owners: @iamrecursion, @kustosz

Restore Original Proxy Type Name
  distribution/std-lib/Base/src/Network/Http.enso
  distribution/std-lib/Base/src/Network/Proxy.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Make Locking Thread-Safe (#1267)
  build.sbt
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerTest.scala
  engine/launcher/src/main/scala/org/enso/launcher/DefaultComponentManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/LauncherApplication.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/Main.scala
  engine/launcher/src/main/scala/org/enso/launcher/distribution/DefaultManagers.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionInstaller.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionUninstaller.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/EnsoRepository.scala
  engine/launcher/src/main/scala/org/enso/launcher/upgrade/LauncherUpgrader.scala
  engine/launcher/src/test/scala/org/enso/launcher/NativeTest.scala
  engine/launcher/src/test/scala/org/enso/launcher/upgrade/UpgradeSpec.scala
  lib/scala/locking-test-helper/src/main/scala/org/enso/runtimeversionmanager/test/Main.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NativeTestHelper.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/TestSynchronizer.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManagerSpec.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/locking/ConcurrencyTest.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/locking/ThreadSafeFileLockManagerTest.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/locking/FileLockManager.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/locking/ThreadSafeFileLockManager.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/releases/testing/FakeReleaseProvider.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/OsSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Add missing methods to the standard library (#1284)
  distribution/std-lib/Base/src/Data/Json.enso
  distribution/std-lib/Base/src/Data/List.enso
  distribution/std-lib/Base/src/Data/Number/Extensions.enso
  distribution/std-lib/Base/src/Data/Pair.enso
  distribution/std-lib/Base/src/Data/Range.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Vector.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Math.enso
  distribution/std-lib/Table/src/Table.enso
  distribution/std-lib/Test/src/Test.enso
  test/Benchmarks/src/Collections.enso
  test/Benchmarks/src/Text.enso
  test/Tests/src/Data/List_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Enso Docs: Proper indentation in HTML render of code block and `copy` button. (#1288)
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
Owners: @iamrecursion, @kustosz

Add `Number.noise` to the standard library (#1295)
  distribution/std-lib/Base/src/Data/Interval.enso
  distribution/std-lib/Base/src/Data/Interval/Bound.enso
  distribution/std-lib/Base/src/Data/Noise.enso
  distribution/std-lib/Base/src/Data/Noise/Generator.enso
  distribution/std-lib/Base/src/Data/Number/Extensions.enso
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Test/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/CeilNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/FloorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/CeilNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/FloorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/CeilNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/FloorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/utils/BigIntegerOps.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/utils/ToEnsoNumberNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Number.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/number/EnsoBigInteger.java
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Tests/src/Data/Interval_Spec.enso
  test/Tests/src/Data/Noise/Generator_Spec.enso
  test/Tests/src/Data/Noise_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Main.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Tables: column mapping & masking (#1297)
  distribution/std-lib/Base/src/Data/Number/Extensions.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/System/File.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Io/Csv.enso
  distribution/std-lib/Table/src/Main.enso
  distribution/std-lib/Table/src/Table.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/syntax/HostValueToEnsoNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/GetUserHomeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  table/src/main/java/org/enso/table/data/column/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/LongStorage.java
  table/src/main/java/org/enso/table/data/column/Storage.java
  table/src/main/java/org/enso/table/data/column/StringStorage.java
  table/src/main/java/org/enso/table/data/column/builder/object/BoolBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/Builder.java
  table/src/main/java/org/enso/table/data/column/builder/object/InferredBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/NumericBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/ObjectBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/StringBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/TypedBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/string/PrimInferredStorageBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/string/StorageBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/string/StringStorageBuilder.java
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  table/src/main/java/org/enso/table/data/table/Column.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/error/UnexpectedColumnTypeException.java
  table/src/main/java/org/enso/table/format/csv/Parser.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Implement better splitting for Text (#1298)
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Text/Split_Kind.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/ArrayBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BooleanBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/CatchAllBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/ConstructorBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/DecimalBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/IntegerBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/NumberBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/PolyglotBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/TextBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Polyglot.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Main.enso
  test/Tests/src/Semantic/Case_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Add the ability to split Text on word boundaries (#1302)
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Text/Split_Kind.enso
  distribution/std-lib/Base/src/Meta.enso
  distribution/std-lib/Test/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BooleanBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BooleanConstructorBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/IntegerBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/NumberBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/EqualsNode.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Semantic/Case_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Introduce Ordering to the Base (#1306)
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Data/Number/Extensions.enso
  distribution/std-lib/Base/src/Data/Ordering.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Main.enso
  test/Tests/src/Data/Ordering_Spec.enso
  test/Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz

# Distribution
/distribution @iamrecursion @kustosz @radeusgd

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd
/lib/scala/core-definition @iamrecursion @kustosz
/lib/scala/flexer @iamrecursion @kustosz
/lib/scala/graph @iamrecursion @kustosz
/lib/scala/interpreter-dsl @iamrecursion @kustosz
/lib/scala/json-rpc-server @lolczak @4e6 @iamrecursion
/lib/scala/json-rpc-server-test @lolczak @4e6 @iamrecursion
/lib/scala/logger @kustosz @iamrecursion
/lib/scala/parser-service @kustosz @iamrecursion
/lib/scala/pkg @iamrecursion @kustosz
/lib/scala/project-manager @lolczak @4e6 @kustosz
/lib/scala/searcher @4e6 @lolczak
/lib/scala/syntax @iamrecursion @kustosz
/lib/scala/testkit @4e6 @kustosz
/lib/scala/text-buffer @iamrecursion @kustosz
/lib/scala/version-output @iamrecursion @kustosz @radeusgd

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo

# Main Project
/engine/language-server @lolczak @4e6 @kustosz
/engine/launcher @iamrecursion @kustosz @radeusgd
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @radeusgd
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/docs @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/.github/workflows @iamrecursion @kustosz @radeusgd
/tools @iamrecursion @kustosz @radeusgd
/project @iamrecursion @kustosz @radeusgd
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion
