Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @hubertp, @jdunkerley, @radeusgd

Add prettier commit to git-blame-ignore (#6190)
  .git-blame-ignore-revs
Owners: none

Always try to resolve conversion for Any type (#6184)
  distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/resolver/ConversionResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedConversion.java
  test/Tests/src/Semantic/Conversion_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Hotkey to display GPU debug info (#6188)
  app/ide-desktop/lib/client/src/index.ts
  app/ide-desktop/lib/client/src/ipc.ts
  app/ide-desktop/lib/client/src/preload.ts
  lib/rust/debug-api/src/lib.rs
  lib/rust/ensogl/core/src/display/world.rs
Owners: @MichaelMauderer, @wdanilo, @kazcw, @mwu-tow, @farmaazon

Instance ordering (#6140)
  Cargo.lock
  app/gui/src/ide/initializer.rs
  build-config.yaml
  lib/rust/ensogl/core/src/data/seq/observable.rs
  lib/rust/ensogl/core/src/display/object.rs
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/scene/layer.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
  lib/rust/ensogl/core/src/display/symbol/gpu.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound/sprite.rs
  lib/rust/ensogl/core/src/gui/component.rs
  lib/rust/ensogl/core/src/system/gpu/data/attribute.rs
  lib/rust/ensogl/core/src/system/gpu/data/buffer.rs
  lib/rust/ensogl/examples/Cargo.toml
  lib/rust/ensogl/examples/instance-ordering/Cargo.toml
  lib/rust/ensogl/examples/instance-ordering/src/lib.rs
  lib/rust/ensogl/examples/src/lib.rs
  lib/rust/ensogl/pack/js/src/runner/config.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Update `Text.split` to take a `Vector Text` parameter (#6156)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  std-bits/base/src/main/java/org/enso/base/Regex_Utils.java
  std-bits/base/src/main/java/org/enso/base/Text_Utils.java
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd

Disable buffer compaction (#6199)
  lib/rust/ensogl/core/src/system/gpu/data/attribute.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Implement hiding context switch expression in graph editor (#6136)
  app/gui/controller/double-representation/src/context_switch.rs
  app/gui/controller/double-representation/src/node.rs
  app/gui/src/controller/graph.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/state.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Remove old (Java) Regex library and replace with new (Truffle) library. (#6195)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Helpers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Matching.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine/Default.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Match.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Match_2.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern_2.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Regex_Mode.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Regex_Option.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Replacer.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex_2.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex_Matcher.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Matcher.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Examples/0.0.0-dev/src/Main.enso
  std-bits/base/src/main/java/org/enso/base/Regex_Utils.java
  test/Meta_Test_Suite_Tests/src/Main.enso
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Text/Default_Regex_Engine_Spec.enso
  test/Tests/src/Data/Text/Matching_Spec.enso
  test/Tests/src/Data/Text/Regex_2_Spec.enso
  test/Tests/src/Data/Text/Regex_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Main.enso
Owners: @jdunkerley, @radeusgd

Fix calculating checksums (#6203)
  app/ide-desktop/lib/client/tasks/computeHashes.cjs
  build/ci_utils/src/github/release.rs
  build/ci_utils/src/io/web.rs
Owners: @MichaelMauderer, @wdanilo, @kazcw, @mwu-tow

Hotfix for #6203. (#6210)
  build/ci_utils/src/github/release.rs
Owners: @mwu-tow

Engine benchmark visualization tool can compare two bench runs (#6198)
  tools/performance/engine-benchmarks/bench_download.py
Owners: @4e6, @jaroslavtulach, @radeusgd

Text.to_display_text is (shortened) identity (#6174)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/AnyToDisplayTextNode.java
  lib/scala/common-polyglot-core-utils/src/main/java/org/enso/polyglot/common_utils/Core_Text_Utils.java
  std-bits/base/src/main/java/org/enso/base/Text_Utils.java
  test/Tests/src/Data/Text/Utils_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @jdunkerley, @radeusgd

Suspended atom fields are evaluated only once (#6151)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Runtime/Lazy.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQL_Type_Reference.enso
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/ListBenchmarks.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/unboxing/Layout.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/unboxing/SuspendedFieldGetterNode.java
  engine/runtime/src/test/java/org/enso/interpreter/test/LazyAtomFieldTest.java
  test/Tests/src/Runtime/Lazy_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Formatter fix to not fail when encountering an invalid symlink. (#6172)
  Cargo.lock
  Cargo.toml
  build/base/src/fs/wrappers.rs
  build/build/src/project/backend.rs
  build/ci_utils/Cargo.toml
  build/ci_utils/src/fs/wrappers/tokio.rs
  build/enso-formatter/src/lib.rs
Owners: @mwu-tow

Implement `Table.union` for Database backend (#6204)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/SQL_Type.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Database_Join_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/From_Spec.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/SQL_Expression.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Type_Mapping.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQL_Type_Mapping.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQL_Type_Reference.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Type_Mapping.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  test/Table_Tests/src/Common_Table_Operations/Cast_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Union_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Types/Postgres_Type_Mapping_Spec.enso
  test/Table_Tests/src/Helpers/Value_Type_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd

Add cloud endpoints for frontend (#6002)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/service.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/http.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/newtype.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/utils.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Adjust `{Table|Column}.parse` to use `Value_Type` (#6213)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Data_Formatter.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Parse_Values_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Problems.enso
  std-bits/table/src/main/java/org/enso/table/parsing/TypeInferringParser.java
  test/Table_Tests/src/Formatting/Data_Formatter_Spec.enso
  test/Table_Tests/src/Formatting/Parse_Values_Spec.enso
Owners: @jdunkerley, @radeusgd

Project Sharing (#6077)
  CHANGELOG.md
  app/gui/src/config.rs
  app/gui/src/controller/ide/desktop.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/tests.rs
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/client/electron-builder-config.ts
  app/ide-desktop/lib/client/file-associations.ts
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/lib/client/src/config/parser.ts
  app/ide-desktop/lib/client/src/file-associations.ts
  app/ide-desktop/lib/client/src/index.ts
  app/ide-desktop/lib/client/src/paths.ts
  app/ide-desktop/lib/client/src/project-management.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/types/globals.d.ts
  app/ide-desktop/package-lock.json
  app/ide-desktop/utils.ts
  build/build/src/ide/web.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/gui/component.rs
  lib/rust/ensogl/examples/instance-ordering/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Replace IOContexts with execution env and contexts (#6171)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Unimplemented.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Runtime.enso
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/BuiltinTypesTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/permission/PermissionGuardNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/Unimplemented.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/ContextIsEnabledNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/RuntimeCurrentExecutionEnvironmentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/RuntimeWithDisabledContextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/RuntimeWithEnabledContextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/ExecutionEnvironment.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/IOPermissions.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/state/State.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/DesignExecutionEnvironmentTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/IOContextTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LiveExecutionEnvironmentTest.scala
  test/Tests/src/Semantic/Runtime_Spec.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Function.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Runtime.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Full-joins in SQLite (#6215)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Database_Join_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Join_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @jdunkerley, @radeusgd

Fix #6011. Don't use debug-assertion; fix sanity check that wasn't being run. (#6187)
  lib/rust/bitmap/src/lib.rs
  lib/rust/ensogl/component/text/src/font/msdf/src/texture.rs
Owners: @MichaelMauderer, @mwu-tow, @farmaazon, @wdanilo, @kazcw

Fix `./run gui watch` (#6212)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/package.json
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/copy-plugin/package.json
  app/ide-desktop/lib/copy-plugin/src/index.mjs
  app/ide-desktop/lib/dashboard/esbuild-config.ts
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/watch.ts
  app/ide-desktop/lib/esbuild-plugin-copy-directories/package.json
  app/ide-desktop/lib/esbuild-plugin-copy-directories/src/index.d.ts
  app/ide-desktop/lib/esbuild-plugin-copy-directories/src/index.js
  app/ide-desktop/lib/types/enso-copy-plugin.d.ts
  app/ide-desktop/package-lock.json
  app/ide-desktop/package.json
Owners: @MichaelMauderer, @wdanilo, @kazcw

Add dashboard skeleton (#6005)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
Owners: @MichaelMauderer, @wdanilo, @kazcw

Fix links in Markdown (#6235)
  README.md
  docs/style-guide/rust.md
Owners: none

Language Server support for execution environments (#6217)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/executioncontext/SetExecutionEnvironmentHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionEnvironment.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/SetExecutionContextEnvironmentHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/command/SetExecutionEnvironmentCommand.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/CacheInvalidation.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PopContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/SetExpressionValueCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fix the `--ide-option` handling. (#6237)
  app/ide-desktop/lib/client/watch.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Consolidate Vector and Array methods (#6218)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetConstructorNameNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Array.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/ArraySlice.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Vector.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  engine/runtime/src/test/java/org/enso/compiler/VectorArraySignatureTest.java
  test/Tests/src/Data/Array_Spec.enso
  test/Tests/src/Data/Pair_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Error_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Add node button to enable/disable output context (#6205)
  app/gui/src/presenter/graph.rs
  app/gui/view/examples/icons/src/lib.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/node/action_bar/icon.rs
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix `./run gui watch` on Windows (#6239)
  app/ide-desktop/lib/content/esbuild-config.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Remove SQL versions repo (#6242)
  docs/runtime/searcher.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/RepoInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/event/InitializedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/BufferRegistry.scala
  engine/language-server/src/test/scala/org/enso/languageserver/boot/resource/RepoInitializationSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeStdlibTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/CommandExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/RuntimeContext.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleInScopeJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleJob.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/VersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/VersionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Provide Forbidden_Operation.to_display_text (#6246)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ForbiddenOperationToDisplayTextNode.java
Owners: @4e6, @jaroslavtulach, @hubertp

Fix: when default visualization is displayed, its entry is not present in the chooser list. (#6209)
  app/gui/view/graph-editor/src/component/visualization/container.rs
  app/gui/view/graph-editor/src/component/visualization/container/action_bar.rs
  app/gui/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Add Warning methods onto Any to make working with them easier. (#6176)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Warning.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/InvokeFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/Warning.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/WithWarnings.java
  test/Tests/src/Semantic/Warnings_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Simplify authentication JS module (#6220)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/common.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/fontAwesomeIcon.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/forgotPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/input.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/login.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/resetPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/setUsername.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/svgIcon.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/utils.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp
/distribution/ @4e6 @jdunkerley @radeusgd
/engine/ @4e6 @jaroslavtulach @hubertp
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd
