Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

Prevent incorrect application of list widget on incompatible expressions (#6771)
  app/gui/language/span-tree/src/generate.rs
  app/gui/language/span-tree/src/lib.rs
  app/gui/language/span-tree/src/node.rs
  app/gui/view/graph-editor/src/component/node/input/port.rs
  app/gui/view/graph-editor/src/component/node/input/widget.rs
  app/gui/view/graph-editor/src/component/node/input/widget/hierarchy.rs
  app/gui/view/graph-editor/src/component/node/input/widget/insertion_point.rs
  app/gui/view/graph-editor/src/component/node/input/widget/label.rs
  app/gui/view/graph-editor/src/component/node/input/widget/list_editor.rs
  app/gui/view/graph-editor/src/component/node/input/widget/single_choice.rs
  build-config.yaml
  lib/rust/ensogl/component/list-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Clearly select single specialization with enum dispatch pattern (#6819)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/TypeOfNode.java
  test/Tests/src/Semantic/Case_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

do not activate nested dropdowns together (#6830)
  app/gui/view/graph-editor/src/component/node/input/widget/single_choice.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Various test improvements to increase coverage and speed things up (#6820)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Interval.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/MetaIsAPolyglotTest.java
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/MetaObjectPolyglotTest.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/EqualsTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/HashCodeTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/MetaIsATest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
  engine/runtime/src/test/java/org/enso/interpreter/test/VectorSortTest.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fallback to opened date when ordering projects (#6814)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/RecentlyUsedProjectsOrdering.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fix "set username" screen (#6824)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix JWT leak (#6815)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/session.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix some dashboard issues (#6668)
  app/ide-desktop/lib/client/start.ts
  app/ide-desktop/lib/client/watch.ts
  app/ide-desktop/lib/content-config/src/config.json
  app/ide-desktop/lib/content/bundle.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/globals.d.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/start.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/resetPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/session.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/directoryCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/fileCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/secretCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/validation.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/detect.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/platform.ts
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/types/globals.d.ts
  lib/rust/ensogl/pack/js/src/runner/config.ts
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @PabloBuchu, @indiv0, @somebody1234, @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Handle `show-dashboard` event (#6837)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Stop graph editing when in full-screen visualization mode (#6844)
  CHANGELOG.md
  app/gui/view/graph-editor/src/shortcuts.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Allow casting a Mixed column into a concrete type (#6777)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Cast_Helpers.enso
  std-bits/table/src/main/java/org/enso/table/data/column/builder/object/DoubleBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/object/LongBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/object/NumericBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/string/StorageBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/string/StringStorageBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/CastProblemBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/CastProblemBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/StorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToBooleanStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToDateStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToDateTimeStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToFloatStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToIntegerStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToMixedStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToTextStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/cast/ToTimeOfDayStorageConverter.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateTimeStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/MixedStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/SpecializedStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/TimeOfDayStorage.java
  std-bits/table/src/main/java/org/enso/table/read/DelimitedReader.java
  test/Table_Tests/src/Common_Table_Operations/Conversion_Spec.enso
  test/Tests/polyglot-sources/enso-test-java-helpers/src/main/java/org/enso/table_test_helpers/ExplodingStorage.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Only initialise visualisation chooser if it is used. (#6758)
  app/gui/view/graph-editor/src/component/visualization/container.rs
  app/gui/view/graph-editor/src/component/visualization/container/action_bar.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Infrastructure for testing inter project imports and exports (#6840)
  engine/runtime/src/test/resources/Logical_Import_Violated_Test/package.yaml
  engine/runtime/src/test/resources/Logical_Import_Violated_Test/src/Main.enso
  engine/runtime/src/test/scala/org/enso/compiler/test/semantic/ImportExportTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterException.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  test/micro-distribution/editions/0.0.0-dev.yaml
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/manifest.yaml
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/package.yaml
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/src/Api/Element.enso
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/src/Impl/Internal.enso
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/src/Main.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Show spinner when opening/creating a project, take #2 (#6827)
  CHANGELOG.md
  app/gui/src/controller/ide.rs
  app/gui/src/controller/ide/desktop.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/ide.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/integration_test.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher/provider.rs
  app/gui/src/tests.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project_list.rs
  app/gui/view/src/root.rs
  build-config.yaml
  integration-test/tests/engine.rs
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Dynamic app resampling and better performance measurements. (#6595)
  CHANGELOG.md
  lib/rust/data-structures/src/lib.rs
  lib/rust/data-structures/src/size_capped_vec_deque.rs
  lib/rust/ensogl/core/Cargo.toml
  lib/rust/ensogl/core/src/animation/loops.rs
  lib/rust/ensogl/core/src/debug/monitor.rs
  lib/rust/ensogl/core/src/debug/monitor/sampler.rs
  lib/rust/ensogl/core/src/debug/stats.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/registry.rs
  lib/rust/ensogl/core/src/display/world.rs
  lib/rust/ensogl/core/src/system/gpu/context.rs
  lib/rust/ensogl/core/src/system/gpu/context/extension.rs
  lib/rust/ensogl/core/src/system/gpu/context/profiler.rs
  lib/rust/ensogl/core/src/system/gpu/data/attribute.rs
  lib/rust/ensogl/core/src/system/web/dom/shape.rs
  lib/rust/web/Cargo.toml
  lib/rust/web/js/resize_observer.js
  lib/rust/web/src/binding/mock.rs
  lib/rust/web/src/binding/wasm.rs
  lib/rust/web/src/lib.rs
Owners: @MichaelMauderer, @mwu-tow, @farmaazon, @wdanilo, @kazcw

Detect and override hooks of the same kind (#6842)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ShutdownHookActivator.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/shutdown/ShutdownHook.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/MoveProjectDirCmd.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Append warnings extracted before tail call execution (#6849)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  test/Tests/src/Semantic/Warnings_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Coalesce graph editor view invalidations (#6786)
  app/gui/src/presenter/graph.rs
  app/gui/view/graph-editor/src/lib.rs
  lib/rust/ensogl/core/src/animation/loops.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Runtime check of ascribed types (#6790)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/File_Error.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Query.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Aggregate_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Delimited/Delimited_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Delimited_Reader.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/IsValueOfTypeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/TypeOfNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/GatherDiagnostics.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/MetaIsATest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/SignatureTest.java
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix dashboard modal bugs (#6833)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/contextMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/input.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/modal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Empty editions are not parsed as NaN (#6873)
  lib/scala/editions/src/main/scala/org/enso/editions/EditionName.scala
  lib/scala/pkg/src/test/scala/org/enso/pkg/ConfigSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fixing layering order (#6882)
  app/gui/view/graph-editor/src/component/node.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Improve UX of Component Browser (#6812)
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/component.rs
  app/gui/src/controller/searcher/component/group.rs
  app/gui/src/controller/searcher/component/hardcoded.rs
  app/gui/src/controller/searcher/input.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/src/presenter/searcher/provider.rs
  app/gui/view/component-browser/component-list-panel/grid/src/content.rs
  app/gui/view/component-browser/component-list-panel/grid/src/layout.rs
  app/gui/view/component-browser/component-list-panel/grid/src/lib.rs
  app/gui/view/examples/component-list-panel-view/src/lib.rs
  app/gui/view/graph-editor/src/shortcuts.rs
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Run IDE with Project Manager endpoint instead of Language Server endpoints, when on local backend (#6810)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Implement nested widget overrides (#6878)
  app/gui/language/ast/impl/src/opr.rs
  app/gui/language/span-tree/example/src/lib.rs
  app/gui/language/span-tree/src/action.rs
  app/gui/language/span-tree/src/builder.rs
  app/gui/language/span-tree/src/generate.rs
  app/gui/language/span-tree/src/generate/context.rs
  app/gui/language/span-tree/src/iter.rs
  app/gui/language/span-tree/src/lib.rs
  app/gui/language/span-tree/src/node.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/controller/graph/widget.rs
  app/gui/src/controller/graph/widget/configuration.rs
  app/gui/src/controller/graph/widget/response.rs
  app/gui/src/model/undo_redo.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/state.rs
  app/gui/suggestion-database/src/entry.rs
  app/gui/suggestion-database/src/lib.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/node/input/widget.rs
  app/gui/view/graph-editor/src/component/node/input/widget/single_choice.rs
  app/gui/view/graph-editor/src/component/node/output/area.rs
  app/gui/view/graph-editor/src/lib.rs
  lib/rust/ensogl/core/src/data/color/animation.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Import polyglot java inner classes (#6818)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/java/LookupClassNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/java/org/enso/example/TestClass.java
  engine/runtime/src/test/java/org/enso/interpreter/test/JavaInteropTest.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/JavaInteropTest.scala
  project/NativeImage.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Disable node entering while editing (#6888)
  app/gui/view/graph-editor/src/shortcuts.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Search for IR.Function deeper in the IR tree to find instance methods (#6902)
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/SignatureTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add drop down for Locale like Encoding (#6654)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Locale.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  test/Tests/src/Data/Locale_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix #6892 (#6898)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/dateTime.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

IGV Enso support recognizes lib/scala/pkg as project (#6904)
  build.sbt
  lib/scala/pkg/src/main/java/org/enso/pkg/package-info.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Consistent self types (#6867)
  app/gui/controller/engine-protocol/src/language_server/tests.rs
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/project/synchronized.rs
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/MethodCall.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/MethodPointer.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/NodeCountingTestInstrument.java
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/IncrementalUpdatesTest.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionService.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix CB discarding changes if pressed Ctrl + Enter too quickly (#6875)
  app/gui/src/controller/searcher/action.rs
  app/gui/src/controller/searcher/component.rs
  app/gui/view/graph-editor/src/component/node/input/area.rs
  app/gui/view/src/project.rs
  app/gui/view/src/root.rs
  lib/rust/data-structures/src/size_capped_vec_deque.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix GPU performance tool panic (#6916)
  lib/rust/ensogl/core/src/display/world.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Don't swallow exceptions in RuntimeServerTest (#6914)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add rounding functions to the Column type (#6817)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Column_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Column_Ops.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Exports.enso
  std-bits/table/src/main/java/org/enso/table/data/column/builder/object/DateBuilder.java
  test/Table_Tests/src/In_Memory/Column_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Data/Range_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Split CB documentation to smaller pages (#6893)
  CHANGELOG.md
  app/gui/suggestion-database/src/documentation_ir.rs
  app/gui/view/documentation/assets/input.css
  app/gui/view/documentation/src/html.rs
  app/gui/view/documentation/src/lib.rs
  lib/rust/ensogl/core/src/application.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Suggestion should contain a list of annotations (#6924)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/Suggestions.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  lib/scala/searcher/src/bench/scala/org/enso/searcher/sql/SuggestionRandom.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Offline mode (#6870)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/devServiceWorker.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/project_manager.ts
  app/ide-desktop/lib/content/src/serviceWorkerConstants.js
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/confirmRegistration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.tsx
Owners: @somebody1234, @PabloBuchu, @indiv0

Merge `Column_Indexes_Out_Of_Range` into `Missing_Input_Columns`. (#6901)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Join_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Problem_Builder.enso
  test/Table_Tests/src/Common_Table_Operations/Add_Row_Number_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Aggregate_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Cross_Tab_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Distinct_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Join_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Order_By_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Select_Columns_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Transpose_Spec.enso
  test/Table_Tests/src/Formatting/Parse_Values_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
