Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @4e6, @wdanilo

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz @radeusgd

# Distribution
/distribution @iamrecursion @kustosz @radeusgd @4e6
/distribution/std-lib @iamrecursion @kustosz @wdanilo @4e6

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd @4e6
/lib/scala/core-definition @iamrecursion @kustosz @4e6
/lib/scala/flexer @iamrecursion @kustosz @4e6
/lib/scala/graph @iamrecursion @kustosz @4e6
/lib/scala/interpreter-dsl @iamrecursion @kustosz @4e6
/lib/scala/json-rpc-server @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/json-rpc-server-test @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/logger @kustosz @iamrecursion @4e6
/lib/scala/parser-service @kustosz @iamrecursion @4e6
/lib/scala/pkg @iamrecursion @kustosz @4e6
/lib/scala/project-manager @radeusgd @4e6 @kustosz
/lib/scala/searcher @4e6 @radeusgd @kustosz @iamrecursion
/lib/scala/syntax @iamrecursion @kustosz @4e6
/lib/scala/testkit @4e6 @kustosz @iamrecursion
/lib/scala/text-buffer @iamrecursion @kustosz @4e6
/lib/scala/version-output @iamrecursion @kustosz @radeusgd @4e6

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo @radeusgd

# Main Project
/engine/language-server @radeusgd @4e6 @kustosz @iamrecursion
/engine/launcher @iamrecursion @kustosz @radeusgd @4e6
/engine/polyglot-api @iamrecursion @kustosz @4e6
/engine/runner @iamrecursion @kustosz @radeusgd @4e6
/engine/runtime @iamrecursion @kustosz @radeusgd @4e6

# Documentation
/docs @iamrecursion @kustosz @4e6
/.gitignore @iamrecursion @kustosz @4e6
/.jvmopts @iamrecursion @kustosz @4e6
/.scalafmt.conf @iamrecursion @kustosz @4e6
/CODE_OF_CONDUCT.md @iamrecursion @kustosz @4e6
/LICENSE @iamrecursion @kustosz @4e6
README.md @iamrecursion @kustosz @4e6

# Config
/.github @iamrecursion @kustosz @4e6
/.github/workflows @iamrecursion @kustosz @radeusgd @4e6
/tools @iamrecursion @kustosz @radeusgd @4e6
/project @iamrecursion @kustosz @radeusgd @4e6
/build.sbt @iamrecursion @kustosz @radeusgd @4e6

# Repo Configuration
/.github/settings.yml @iamrecursion

Improve how indexing in Table works (#1643)
  distribution/std-lib/Standard/src/Database/Data/Column.enso
  distribution/std-lib/Standard/src/Database/Data/Internal/IR.enso
  distribution/std-lib/Standard/src/Database/Data/Table.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  std-bits/src/main/java/org/enso/table/data/table/Table.java
  test/Database_Tests/src/Codegen_Spec.enso
  test/Database_Tests/src/Common_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Sync Suggestions Database when Renaming the Project (#1647)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExpressionValueUpdate.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/VerifyModulesIndexCmd.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

Fix some implementations for the Vector constructors (#1650)
  distribution/std-lib/Standard/src/Base/Data/Text/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Base/System/File.enso
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapNode.java
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Js_Interop_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Add Python and R to the GraalVM Bundle (#1644)
  .github/workflows/release.yml
  build.sbt
  project/DistributionPackage.scala
  tools/ci/prepare-distribution-env.sh
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Install Required GraalVM Components (#1651)
  engine/launcher/src/main/scala/org/enso/launcher/distribution/DefaultManagers.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/versionmanagement/DefaultDistributionConfiguration.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/TestDistributionConfiguration.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NoopComponentUpdater.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NoopComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/RuntimeVersionManagerTest.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/locking/ConcurrencyTest.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponent.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentConfiguration.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeComponentConfiguration.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentConfigurationSpec.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentParserSpec.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdaterSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Prepare for the 0.2.10 release (#1656)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update all references to dev.enso.org
  README.md
  docs/CONTRIBUTING.md
  docs/distribution/packaging.md
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FileStorageFallbackReleaseProvider.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/StaticWebsiteFallbackReleaseProvider.scala
  lib/rust/lexer/definition/src/token.rs
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd, @wdanilo

Install GraalVM components before move (#1660)
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Fix some naming for Maybe (#1666)
  distribution/std-lib/Standard/src/Base/Data/Maybe.enso
  test/Tests/src/Data/Maybe_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Resolve clashing project identifiers (#1665)
  engine/language-server/src/test/resources/application.conf
  engine/runtime/src/main/java/org/enso/interpreter/runtime/util/TruffleFileSystem.java
  lib/scala/pkg/src/main/scala/org/enso/filesystem/FileSystem.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/model/Project.scala
  lib/scala/project-manager/src/test/resources/application.conf
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Add an Atom Suggestion for a Module (#1659)
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

feat: debug graal install (#1663)
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Update README.md (#1667)
  README.md
Owners: @iamrecursion, @kustosz, @4e6

Update the icons in the readme (#1668)
  README.md
Owners: @iamrecursion, @kustosz, @4e6

Remove Unused JAR Launcher Prefix to Fix Issue with Signing (#1672)
  build.sbt
  docs/CONTRIBUTING.md
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update the ensodev user ID for docker (#1681)
  tools/ci/docker/Dockerfile
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update the readme (#1682)
  .github/settings.yml
  README.md
Owners: @iamrecursion, @kustosz, @4e6

Report Visualization Errors (#1671)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/BinaryConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/ErrorFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeFailureMapper.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/AttachVisualisationHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/CreateContextHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/DestroyContextHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/DetachVisualisationHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/ModifyVisualisationHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/PopContextHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/PushContextHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/RecomputeContextHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/handler/ImportModuleHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/handler/InvalidateModulesIndexHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ExecutionContextJsonMessages.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VisualisationOperationsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/service/error/VisualisationException.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualisationJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualisationJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/JsonProtocol.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/MessageHandler.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/Protocol.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectCreateDefaultToLatestSpec.scala
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

Adjust Doc Generator to comply with new Tailwind-css-based stylesheet (#1646)
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Owners: @iamrecursion, @kustosz, @4e6

Synchronize Runtime Updates Sending (#1691)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/RuntimeCache.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/UpdatesSynchronizationState.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/CacheInvalidation.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/ExecutionContextState.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PopContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/Executable.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualisationJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualisationsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Add `.sum` to Vector (#1702)
  distribution/std-lib/Standard/src/Base/Data/Range.enso
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Visualization/Scatter_Plot.enso
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Visualization_Tests/src/Histogram_Spec.enso
  test/Visualization_Tests/src/Scatter_Plot_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Add a schema version to the suggestions database (#1703)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/RepoInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/BufferRegistry.scala
  engine/language-server/src/test/scala/org/enso/languageserver/boot/resource/RepoInitializationSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  lib/scala/searcher/src/main/resources/reference.conf
  lib/scala/searcher/src/main/scala/org/enso/searcher/Database.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/InvalidSchemaVersion.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlDatabase.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlVersionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Add detailed logging to the tooling init (#1704)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeConnector.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeKiller.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NoopComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/ComponentsException.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalRuntime.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdaterSpec.scala
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Prepare for the 0.2.11 release (#1708)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update the release instructions
  docs/distribution/release-policy.md
Owners: @iamrecursion, @kustosz, @4e6

feat: higher-kinded types in suggestions (#1712)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update examples for Standard.Base.Data.* (#1707)
  distribution/std-lib/Standard/data/food_shop_inventory.csv
  distribution/std-lib/Standard/src/Base.enso
  distribution/std-lib/Standard/src/Base/Data/Any/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Array/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Interval.enso
  distribution/std-lib/Standard/src/Base/Data/Interval/Bound.enso
  distribution/std-lib/Standard/src/Base/Data/Json.enso
  distribution/std-lib/Standard/src/Base/Data/List.enso
  distribution/std-lib/Standard/src/Base/Data/Locale.enso
  distribution/std-lib/Standard/src/Base/Data/Map.enso
  distribution/std-lib/Standard/src/Base/Data/Maybe.enso
  distribution/std-lib/Standard/src/Base/Data/Noise/Generator.enso
  distribution/std-lib/Standard/src/Base/Data/Number/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Ordering.enso
  distribution/std-lib/Standard/src/Base/Data/Ordering/Sort_Order.enso
  distribution/std-lib/Standard/src/Base/Data/Range.enso
  distribution/std-lib/Standard/src/Base/Data/Text/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Time.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Date.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Duration.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Time.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Zone.enso
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Base/Network/Http.enso
  distribution/std-lib/Standard/src/Examples.enso
  distribution/std-lib/Standard/src/Table/Io/Csv.enso
  docs/distribution/standard-libraries.md
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/opr/Assoc.scala
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  test/Table_Tests/src/Csv_Spec.enso
  test/Table_Tests/src/Main.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Duration_Spec.enso
  test/Tests/src/Data/Time/Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
  test/Tests/src/Data/Time/Time_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Enhance examples for `Standard.Base.*` (#1714)
  .gitignore
  distribution/std-lib/Standard/src/Base/Error/Common.enso
  distribution/std-lib/Standard/src/Base/Error/Extensions.enso
  distribution/std-lib/Standard/src/Base/Math.enso
  distribution/std-lib/Standard/src/Base/Meta/Enso_Project.enso
  distribution/std-lib/Standard/src/Base/Network/Http.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Form.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Header.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Request.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Response.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Response/Body.enso
  distribution/std-lib/Standard/src/Base/Network/Proxy.enso
  distribution/std-lib/Standard/src/Base/Network/Uri.enso
  distribution/std-lib/Standard/src/Base/System/Environment.enso
  distribution/std-lib/Standard/src/Base/System/File.enso
  distribution/std-lib/Standard/src/Base/System/Platform.enso
  distribution/std-lib/Standard/src/Base/System/Process.enso
  distribution/std-lib/Standard/src/Base/System/Process/Exit_Code.enso
  distribution/std-lib/Standard/src/Examples.enso
  engine/runtime/src/main/resources/Builtins.enso
  test/Tests/src/Network/Http_Spec.enso
  test/Tests/src/System/Process_Spec.enso
Owners: @iamrecursion, @kustosz, @4e6, @wdanilo, @radeusgd

Extract Symlinks from Archives (#1718)
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/archive/Archive.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/ComponentsException.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Owners: @iamrecursion, @kustosz, @radeusgd

HTTP Library Updates (#1722)
  distribution/std-lib/Standard/src/Base/Network/Http.enso
  distribution/std-lib/Standard/src/Base/Network/Http/Request.enso
  distribution/std-lib/Standard/src/Base/Network/Uri.enso
  test/Tests/src/Network/Http_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Enhance the `Standard.Image` examples (#1725)
  .gitignore
  distribution/std-lib/Standard/src/Database/Connection/Connection.enso
  distribution/std-lib/Standard/src/Database/Connection/Database.enso
  distribution/std-lib/Standard/src/Database/Data/Column.enso
  distribution/std-lib/Standard/src/Database/Data/Dialect.enso
  distribution/std-lib/Standard/src/Database/Data/Internal/Base_Generator.enso
  distribution/std-lib/Standard/src/Database/Data/Internal/Helpers.enso
  distribution/std-lib/Standard/src/Database/Data/Internal/IR.enso
  distribution/std-lib/Standard/src/Database/Data/Internal/Vector_Builder.enso
  distribution/std-lib/Standard/src/Database/Data/Sql.enso
  distribution/std-lib/Standard/src/Database/Data/Table.enso
  distribution/std-lib/Standard/src/Examples.enso
  distribution/std-lib/Standard/src/Geo.enso
  distribution/std-lib/Standard/src/Image/Codecs.enso
  distribution/std-lib/Standard/src/Image/Codecs/Internal.enso
  distribution/std-lib/Standard/src/Image/Data/Histogram.enso
  distribution/std-lib/Standard/src/Image/Data/Image.enso
  distribution/std-lib/Standard/src/Image/Data/Image/Internal.enso
  distribution/std-lib/Standard/src/Image/Data/Matrix.enso
  distribution/std-lib/Standard/src/Image/Data/Matrix/Internal.enso
  project/DistributionPackage.scala
Owners: @iamrecursion, @kustosz, @4e6, @wdanilo, @radeusgd

Add a workflow for building nightly releases (#1689)
  .github/settings.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  RELEASES.md
  docs/distribution/README.md
  docs/distribution/nightly.md
  engine/launcher/src/test/scala/org/enso/launcher/components/LauncherRunnerSpec.scala
  lib/scala/logging-service/src/main/scala/org/enso/loggingservice/LoggingServiceSetupHelper.scala
  lib/scala/logging-service/src/main/scala/org/enso/loggingservice/TestLogger.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManagerSpec.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/Engine.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/releases/ReleaseProviderException.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/releases/engine/EngineReleaseProvider.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/releases/github/GithubAPI.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/releases/testing/FakeReleaseProvider.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/runner/Runner.scala
  tools/ci/check-changelog.js
  tools/ci/nightly/bump-version.js
  tools/ci/nightly/extract-release-notes.js
  tools/ci/nightly/github.js
  tools/ci/nightly/package.json
  tools/ci/nightly/preflight-check.js
  tools/ci/nightly/publish-release.js
  tools/ci/nightly/trigger-workflow.js
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update the changelog for the new nightlies (#1728)
  RELEASES.md
Owners: @iamrecursion, @kustosz, @radeusgd

Remove reflective access when loading OpenCV (#1727)
  .github/workflows/scala.yml
  RELEASES.md
  std-bits/src/main/java/org/enso/image/Codecs.java
  std-bits/src/main/java/org/enso/image/data/Image.java
  std-bits/src/main/java/org/enso/image/data/Matrix.java
  test/Image_Tests/src/Codecs_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Finish updating the standard library examples (#1731)
  RELEASES.md
  distribution/std-lib/Standard/data/food_shop_inventory.csv
  distribution/std-lib/Standard/data/food_shop_popularity.csv
  distribution/std-lib/Standard/data/food_shop_transactions.csv
  distribution/std-lib/Standard/src/Examples.enso
  distribution/std-lib/Standard/src/Table.enso
  distribution/std-lib/Standard/src/Table/Data/Column.enso
  distribution/std-lib/Standard/src/Table/Data/Order_Rule.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  distribution/std-lib/Standard/src/Table/Io/Csv.enso
  distribution/std-lib/Standard/src/Test.enso
  distribution/std-lib/Standard/src/Test/Bench.enso
  distribution/std-lib/Standard/src/Visualization/Geo_Map.enso
  distribution/std-lib/Standard/src/Visualization/Helpers.enso
  distribution/std-lib/Standard/src/Visualization/Histogram.enso
  distribution/std-lib/Standard/src/Visualization/Scatter_Plot.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetQualifiedTypeNameNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetSimpleTypeNameNode.java
  test/Tests/src/Examples_Spec.enso
  test/Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo, @4e6

Re-order the issue links
  .github/ISSUE_TEMPLATE/config.yml
Owners: @iamrecursion, @kustosz, @4e6

Improve error types in the standard library (#1734)
  RELEASES.md
  distribution/std-lib/Standard/src/Base/Data/Json.enso
  distribution/std-lib/Standard/src/Base/Data/List.enso
  distribution/std-lib/Standard/src/Base/Data/Map.enso
  distribution/std-lib/Standard/src/Base/Data/Number/Extensions.enso
  distribution/std-lib/Standard/src/Base/Data/Time.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Duration.enso
  distribution/std-lib/Standard/src/Base/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Standard/src/Base/Data/Vector.enso
  distribution/std-lib/Standard/src/Base/System/File.enso
  distribution/std-lib/Standard/src/Table.enso
  distribution/std-lib/Standard/src/Table/Data/Column.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  distribution/std-lib/Standard/src/Visualization/Scatter_Plot.enso
  test/Table_Tests/src/Column_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Json_Spec.enso
  test/Tests/src/Data/List_Spec.enso
  test/Tests/src/Data/Map_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/System/File_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo, @4e6

Update to GraalVM 21.1.0 (#1738)
  .github/workflows/codeql-analysis.yml
  .github/workflows/legal-review.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/scala.yml
  .gitignore
  Cargo.lock
  RELEASES.md
  build.sbt
  docs/CONTRIBUTING.md
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualisationsTest.scala
  lib/rust/ast/Cargo.toml
  lib/rust/lexer/definition/Cargo.toml
  lib/rust/lexer/definition/src/lexer.rs
  lib/rust/lexer/generation/Cargo.toml
  lib/rust/parser-jni/Cargo.toml
  lib/rust/parser-jni/src/jni.rs
  lib/rust/parser/Cargo.toml
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros.rs
  project/EnvironmentCheck.scala
  project/GenerateFlatbuffers.scala
  project/NativeImage.scala
  project/build.properties
  test/Tests/src/Network/Http_Spec.enso
  test/Tests/src/Semantic/Python_Interop_Spec.enso
  tools/run
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6, @wdanilo
