Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6, @wdanilo

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz

# Distribution
/distribution @iamrecursion @kustosz @radeusgd

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd
/lib/scala/core-definition @iamrecursion @kustosz
/lib/scala/flexer @iamrecursion @kustosz
/lib/scala/graph @iamrecursion @kustosz
/lib/scala/interpreter-dsl @iamrecursion @kustosz
/lib/scala/json-rpc-server @lolczak @4e6 @iamrecursion
/lib/scala/json-rpc-server-test @lolczak @4e6 @iamrecursion
/lib/scala/logger @kustosz @iamrecursion
/lib/scala/parser-service @kustosz @iamrecursion
/lib/scala/pkg @iamrecursion @kustosz
/lib/scala/project-manager @lolczak @4e6 @kustosz
/lib/scala/searcher @4e6 @lolczak
/lib/scala/syntax @iamrecursion @kustosz
/lib/scala/testkit @4e6 @kustosz
/lib/scala/text-buffer @iamrecursion @kustosz
/lib/scala/version-output @iamrecursion @kustosz @radeusgd

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo

# Main Project
/engine/language-server @lolczak @4e6 @kustosz
/engine/launcher @iamrecursion @kustosz @radeusgd
/engine/polyglot-api @iamrecursion @kustosz
/engine/runner @iamrecursion @kustosz @radeusgd
/engine/runtime @iamrecursion @kustosz @radeusgd

# Documentation
/docs @iamrecursion @kustosz
/.gitignore @iamrecursion @kustosz
/.jvmopts @iamrecursion @kustosz
/.scalafmt.conf @iamrecursion @kustosz
/CODE_OF_CONDUCT.md @iamrecursion @kustosz
/LICENSE @iamrecursion @kustosz
README.md @iamrecursion @kustosz

# Config
/.github @iamrecursion @kustosz
/.github/workflows @iamrecursion @kustosz @radeusgd
/tools @iamrecursion @kustosz @radeusgd
/project @iamrecursion @kustosz @radeusgd
/build.sbt @iamrecursion @kustosz @radeusgd

# Repo Configuration
/.github/settings.yml @iamrecursion

Update Runtime Notifications API (#1055)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExpressionValueUpdate.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/MethodPointer.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledStackJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/searcher/src/bench/java/org/enso/searcher/sql/SuggestionsRepoBenchmark.java
  lib/scala/searcher/src/bench/scala/org/enso/searcher/sql/SuggestionRandom.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @iamrecursion, @kustosz, @lolczak, @4e6, @radeusgd

Send Method Call Updates After Popping the Frame (#1060)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/MethodCallsCache.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/RuntimeCache.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PopContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/Executable.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualisationJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Qualified names & uppercase name resolution (#1062)
  docs/CONTRIBUTING.md
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/AtomBenchmarks.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/QualifiedAccessorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/FreshNameSupply.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/ComplexType.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/IgnoredBindings.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/MethodDefinitions.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/Patterns.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/SuspendedArguments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/UppercaseNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/StubIrBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/BindingAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/GatherDiagnosticsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/OperatorToFunctionTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/optimise/ApplicationSaturationTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/optimise/LambdaConsolidateTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/UppercaseNamesTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/PatternMatchTest.scala
  project/WithDebugCommand.scala
  test/Test/src/Main.enso
  test/Test/src/Names/Definitions.enso
  test/Test/src/Names_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Proper Imports Syntax (#1067)
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Main.enso
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Util.enso
  engine/runtime/src/test/resources/TestNonImportedOwnMethods/src/Util.enso
  engine/runtime/src/test/resources/TestSimpleImports/src/Main.enso
  engine/runtime/src/test/resources/Test_Hiding_Error/package.yaml
  engine/runtime/src/test/resources/Test_Hiding_Error/src/Atom.enso
  engine/runtime/src/test/resources/Test_Hiding_Error/src/Main.enso
  engine/runtime/src/test/resources/Test_Hiding_Success/package.yaml
  engine/runtime/src/test/resources/Test_Hiding_Success/src/Atom.enso
  engine/runtime/src/test/resources/Test_Hiding_Success/src/Main.enso
  engine/runtime/src/test/resources/Test_Qualified_Error/package.yaml
  engine/runtime/src/test/resources/Test_Qualified_Error/src/Atom.enso
  engine/runtime/src/test/resources/Test_Qualified_Error/src/Main.enso
  engine/runtime/src/test/resources/Test_Rename/package.yaml
  engine/runtime/src/test/resources/Test_Rename/src/Atom.enso
  engine/runtime/src/test/resources/Test_Rename/src/Main.enso
  engine/runtime/src/test/resources/Test_Rename_Error/package.yaml
  engine/runtime/src/test/resources/Test_Rename_Error/src/Atom.enso
  engine/runtime/src/test/resources/Test_Rename_Error/src/Main.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Test/src/Import_Loop/A.enso
  test/Test/src/Import_Loop_Spec.enso
  test/Test/src/Main.enso
  test/Test/src/Names_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix the release workflow (#1057)
  .github/settings.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
  build.sbt
  distribution/bin/enso.bat
  distribution/bin/project-manager.bat
  docs/distribution/release-policy.md
  project/EnvironmentCheck.scala
  project/GenerateAST.scala
Owners: @iamrecursion, @kustosz, @radeusgd

New Import Syntax (#1070)
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Main.enso
  engine/runtime/src/test/resources/TestSimpleImports/src/Main.enso
  engine/runtime/src/test/resources/Test_Hiding_Error/src/Main.enso
  engine/runtime/src/test/resources/Test_Hiding_Success/src/Main.enso
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Test/src/Import_Loop/A.enso
  test/Test/src/Names_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Handle TailCallException in Runtime Instrument (#1068)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

remove duplicate suggestion entry id (#1074)
  docs/language-server/protocol-language-server.md
Owners: @iamrecursion, @kustosz

Fix a bug in error pattern matching (#1081)
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/CaseNode.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Stub Out the Parser Interface (#1065)
  Cargo.toml
  build.sbt
  docs/distribution/distribution.md
  docs/infrastructure/rust.md
  docs/parser/jvm-object-generation.md
  lib/rust/parser/Cargo.toml
  lib/rust/parser/src/jni.rs
  lib/rust/parser/src/lib.rs
  lib/scala/parser/src/main/scala/org/enso/parser/Parser.scala
  lib/scala/parser/src/test/scala/org/enso/parser/ParserTest.scala
  project/Cargo.scala
  project/EnvironmentCheck.scala
  project/GenerateAST.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Return Error When the Method Pointer Not Found (#1083)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ConstructorNotFoundException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/MethodNotFoundException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ModuleNotFoundException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/ServiceException.java
  engine/runtime/src/main/java/org/enso/interpreter/service/error/SourceNotFoundException.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Imports, Exports, and Modules documentation (#1086)
  docs/semantics/modules.md
  docs/syntax/imports.md
Owners: @iamrecursion, @kustosz

Fix Method Pointer Update Notifications (#1084)
  engine/runtime/src/main/java/org/enso/interpreter/instrument/MethodCallsCache.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/RuntimeCache.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Add info about visualizations in the package structure (#1088)
  docs/distribution/packaging.md
  docs/infrastructure/rust.md
Owners: @iamrecursion, @kustosz

Add DISABLE_PARALLEL_EXECUTION runtime option (#1087)
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/CommandExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Add uninstallation functionality to the launcher (#1089)
  build.sbt
  engine/launcher/src/main/scala/org/enso/launcher/FileSystem.scala
  engine/launcher/src/main/scala/org/enso/launcher/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/InternalOpts.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/Main.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionUninstaller.scala
  engine/launcher/src/test/scala/org/enso/launcher/NativeTest.scala
  engine/launcher/src/test/scala/org/enso/launcher/installation/InstallerSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/installation/UninstallerSpec.scala
  lib/scala/cli/src/main/scala/org/enso/cli/Command.scala
  lib/scala/cli/src/main/scala/org/enso/cli/Opts.scala
  lib/scala/cli/src/main/scala/org/enso/cli/internal/SubcommandOpt.scala
  lib/scala/cli/src/test/scala/org/enso/cli/OptsSpec.scala
  project/EnvironmentCheck.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Resolve `here` References when Building Suggestions (#1093)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Module re-exports (#1095)
  docs/semantics/modules.md
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/ModuleThisToHere.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ExportsResolution.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/StubIrBuilder.scala
  engine/runtime/src/test/resources/Cycle_Test/package.yaml
  engine/runtime/src/test/resources/Cycle_Test/src/Main.enso
  engine/runtime/src/test/resources/Cycle_Test/src/Sub/A.enso
  engine/runtime/src/test/resources/Cycle_Test/src/Sub/B.enso
  engine/runtime/src/test/resources/Cycle_Test/src/Sub/C.enso
  engine/runtime/src/test/resources/Cycle_Test/src/Sub/Imp.enso
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/PassesTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/GatherDiagnosticsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/ModuleThisToHereTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/UppercaseNamesTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Test/src/Deep_Export/Internal.enso
  test/Test/src/Deep_Export/Internal_1.enso
  test/Test/src/Deep_Export/Internal_2.enso
  test/Test/src/Deep_Export/Internal_3.enso
  test/Test/src/Deep_Export/Internal_4.enso
  test/Test/src/Deep_Export/Internal_5.enso
  test/Test/src/Deep_Export_Spec.enso
  test/Test/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Fix version check to work with Graal EE too (#1096)
  build.sbt
  project/EnvironmentCheck.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Add Log Level Options to Project Manager (#1092)
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/Cli.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/util/Logging.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Implement imports and exports for Main.enso (#1098)
  distribution/std-lib/Base/src/List.enso
  distribution/std-lib/Base/src/Main.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/MainImportAndExport.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/PassesTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/MainImportAndExportTest.scala
  test/Test/src/List_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

Add Trace Logging to Language Server Boot (#1107)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
Owners: @lolczak, @4e6, @kustosz

Add Base.Process library (#1106)
  build.sbt
  distribution/std-lib/Base/src/Process.enso
  distribution/std-lib/Base/src/Process/Exit_Code.enso
  distribution/std-lib/Base/src/System/Platform.enso
  distribution/std-lib/Base/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/QualifiedAccessorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintErrNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/ReadlnNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/system/CreateProcessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/system/OsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/TextEqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/System.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SystemProcessTest.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/OsSpec.scala
  test/Test/src/Main.enso
  test/Test/src/Process_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Fix SBT Exit During Boot With Code 1 (#1108)
  .github/workflows/release.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

Implement part of the Enso lexer in rust (#1109)
  Cargo.toml
  docs/distribution/packaging.md
  docs/parser/flexer.md
  docs/parser/lexer.md
  docs/parser/operator-resolution.md
  docs/semantics/modules.md
  docs/syntax/naming.md
  engine/runtime/src/test/resources/Cycle_Test/package.yaml
  lib/rust/ast/src/ast.rs
  lib/rust/enso-logger/src/enabled.rs
  lib/rust/enso-optics/Cargo.toml
  lib/rust/enso-prelude/src/data/non_empty_vec.rs
  lib/rust/enso-prelude/src/lib.rs
  lib/rust/flexer-testing/definition/src/lib.rs
  lib/rust/flexer-testing/generation/tests/flexer_generated_lexer.rs
  lib/rust/flexer/src/automata/nfa.rs
  lib/rust/flexer/src/automata/pattern.rs
  lib/rust/flexer/src/automata/symbol.rs
  lib/rust/flexer/src/generate.rs
  lib/rust/flexer/src/group.rs
  lib/rust/flexer/src/lib.rs
  lib/rust/flexer/tests/flexer_invalid_definitions.rs
  lib/rust/lazy-reader/src/decoder.rs
  lib/rust/lazy-reader/src/lib.rs
  lib/rust/lexer/definition/Cargo.toml
  lib/rust/lexer/definition/src/lexer.rs
  lib/rust/lexer/definition/src/lib.rs
  lib/rust/lexer/definition/src/token.rs
  lib/rust/lexer/generation/Cargo.toml
  lib/rust/lexer/generation/build.rs
  lib/rust/lexer/generation/src/generated.rs
  lib/rust/lexer/generation/src/lib.rs
  lib/rust/lexer/generation/tests/enso_lexer.rs
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo

Bump GraalVM Version to 20.2.0 (#1094)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/scala.yml
  build.sbt
  docs/CONTRIBUTING.md
  docs/distribution/packaging.md
  docs/distribution/release-policy.md
  docs/getting-enso.md
  docs/infrastructure/README.md
  docs/infrastructure/native-image.md
  docs/infrastructure/rust.md
  docs/infrastructure/upgrading-graalvm.md
  engine/launcher/src/main/java/org/enso/launcher/workarounds/ReplacementStatics.java
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/workarounds/Unsafe.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  lib/scala/version-output/src/main/scala/org/enso/version/VersionDescription.scala
  project/NativeImage.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Make launched processes inherit streams (#1101)
  engine/launcher/src/main/scala/org/enso/launcher/components/runner/Command.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Configuration Management in the Launcher (#1112)
  build.sbt
  docs/distribution/packaging.md
  engine/launcher/src/main/scala/org/enso/launcher/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/Main.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/Manifest.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/runner/Runner.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/DefaultVersion.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/GlobalConfig.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/InvalidConfigError.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionInstaller.scala
  engine/launcher/src/main/scala/org/enso/launcher/installation/DistributionUninstaller.scala
  engine/launcher/src/main/scala/org/enso/launcher/project/Project.scala
  engine/launcher/src/main/scala/org/enso/launcher/project/ProjectManager.scala
  engine/launcher/src/test/scala/org/enso/launcher/DefaultVersionSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/components/runner/RunnerSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/config/GlobalConfigurationManagerSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/project/ProjectManagerSpec.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/Config.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/SemVerJson.scala
  lib/scala/pkg/src/test/scala/org/enso/pkg/ConfigSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Handling Broken Releases in the Launcher (#1113)
  docs/distribution/release-policy.md
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/Logger.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/ComponentsManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/Engine.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/Manifest.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/EngineReleaseProvider.scala
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/broken
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-linux-amd64.tar.gz/enso-0.1.0-marked-broken/component/runner.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-linux-amd64.tar.gz/enso-0.1.0-marked-broken/component/runtime.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-macos-amd64.tar.gz/enso-0.1.0-marked-broken/component/runner.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-macos-amd64.tar.gz/enso-0.1.0-marked-broken/component/runtime.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-windows-amd64.zip/enso-0.1.0-marked-broken/component/runner.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/enso-engine-0.1.0-marked-broken-windows-amd64.zip/enso-0.1.0-marked-broken/component/runtime.jar
  engine/launcher/src/test/resources/org/enso/launcher/components/fake-releases/enso/enso-0.1.0-marked-broken/manifest.yaml
  engine/launcher/src/test/scala/org/enso/launcher/components/ComponentsManagerSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Use Runner to Create Projects in Launcher (#1116)
  docs/distribution/launcher-cli.md
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/Main.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/runner/Runner.scala
  engine/launcher/src/main/scala/org/enso/launcher/project/ProjectManager.scala
  engine/launcher/src/test/scala/org/enso/launcher/components/ComponentsManagerTest.scala
  engine/launcher/src/test/scala/org/enso/launcher/components/runner/RunnerSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/project/ProjectManagerSpec.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Store Project Manager Metadata in Project Directory (#1120)
  build.sbt
  lib/scala/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
  lib/scala/project-manager/src/main/resources/application.conf
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/Globals.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/MainModule.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ZioPlatform.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/configuration.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/Applicative.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/ApplicativeFunctionOps.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/ApplicativeOps.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/CovariantFlatMap.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/Traverse.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/ZioApplicative.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/ZioCovariantFlatMap.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/syntax.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/file/BlockingFileSystem.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/file/FileSystem.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/file/FileSystemFailure.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/file/JsonFileStorage.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/MetadataFileStorage.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/model/ProjectMetadata.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/MoveProjectDirCmd.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/test/ObservableGenerator.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @lolczak, @4e6

Improve the CI configuration (#1122)
  .github/settings.yml
  .github/workflows/docs.yml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
Owners: @iamrecursion, @kustosz, @radeusgd

Fix imports resolution (#1129)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
Owners: @iamrecursion, @kustosz, @radeusgd

Setup Runtime logging (#1128)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/util/LogHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/util/Logging.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/util/Logging.scala
Owners: @lolczak, @4e6, @kustosz

Add a label for the standard library
  .github/settings.yml
Owners: @iamrecursion

Unbounded Integers (#1134)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/AddNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/DivideNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/ModNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/MultiplyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/NegateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/SubtractNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/AddNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/DivideNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/ModNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/MultiplyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/NegateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/SubtractNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/AddNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/DivideNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/ModNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/MultiplyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/NegateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/int64/SubtractNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/utils/BigIntegerOps.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/utils/ToEnsoNumberNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/BigIntegerLiteralNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Number.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/number/EnsoBigInteger.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  test/Benchmarks/src/Main.enso
  test/Test/src/Main.enso
  test/Test/src/Numbers/Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd

[doc] Fix typo in docs/README.md (#1142)
  docs/README.md
Owners: @iamrecursion, @kustosz

Fallback for Launcher Upgrades (#1139)
  .github/workflows/release-update-broken.yml
  .github/workflows/release.yml
  docs/distribution/README.md
  docs/distribution/fallback-launcher-release-infrastructure.md
  docs/distribution/launcher-cli.md
  docs/distribution/release-policy.md
  engine/launcher/src/main/scala/org/enso/launcher/FileSystem.scala
  engine/launcher/src/main/scala/org/enso/launcher/archive/Archive.scala
  engine/launcher/src/main/scala/org/enso/launcher/config/GlobalConfigurationManager.scala
  engine/launcher/src/main/scala/org/enso/launcher/http/HTTPDownload.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/EnsoRepository.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/FallbackReleaseProvider.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/SimpleReleaseProviderWithFallback.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FallbackAsset.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FallbackManifest.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FallbackRelease.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FileStorage.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/FileStorageFallbackReleaseProvider.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/ReleaseList.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/StaticWebsite.scala
  engine/launcher/src/main/scala/org/enso/launcher/releases/fallback/staticwebsite/StaticWebsiteFallbackReleaseProvider.scala
  engine/launcher/src/main/scala/org/enso/launcher/upgrade/LauncherUpgrader.scala
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/available/fallback-manifest.yaml
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/available/launcher/enso-0.0.0/broken
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/available/launcher/enso-0.0.0/data.txt
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/available/launcher/enso-0.0.1/data.txt
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/available/release-list.json
  engine/launcher/src/test/resources/org/enso/launcher/releases/fallback/unavailable/fallback-manifest.yaml
  engine/launcher/src/test/scala/org/enso/launcher/releases/fallback/FileStorageFallbackReleaseProviderSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/releases/fallback/SimpleReleaseProviderWithFallbackSpec.scala
  engine/launcher/src/test/scala/org/enso/launcher/releases/fallback/TestFileStorage.scala
  tools/ci/releases/add-release.js
  tools/ci/releases/is-broken.js
  tools/ci/releases/mark-broken.js
Owners: @iamrecursion, @kustosz, @radeusgd

Fix project manager projects loading (#1145)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
Owners: @lolczak, @4e6, @kustosz

Rename the int64 package (#1148)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/AbsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/AddNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/DivNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/DivideNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/GreaterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/GreaterOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/LessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/LessOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/ModNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/MultiplyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/NegateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/PowNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/SubtractNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/ToDecimalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Number.java
Owners: @iamrecursion, @kustosz, @radeusgd
