Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iamrecursion, @kustosz, @radeusgd, @4e6, @wdanilo

Add a `.to_json` conversion for `Error` (#1742)
  distribution/std-lib/Standard/src/Base/Error/Extensions.enso
  test/Tests/src/Semantic/Error_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Rewrite Docs Generator from Python to Scala (#1729)
  .github/workflows/scala.yml
  .gitignore
  RELEASES.md
  build.sbt
  lib/scala/docs-generator/README.md
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/Constants.scala
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/DocsGenerator.scala
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/Main.scala
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/TreeOfCommonPrefixes.scala
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/template.js
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/treeStyle.css
  lib/scala/parser-service/src/main/scala/org/enso/ParserService.scala
  lib/scala/syntax/specialization/js/src/main/scala/org/enso/syntax/text/Main.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/docparser/DocParserHTMLGenerator.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/docparser/DocParserRunner.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Log akka messages (#1719)
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/boot/LanguageServerConfig.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeKiller.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/StackItem.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/VisualisationConfiguration.scala
  engine/launcher/src/main/scala/org/enso/launcher/Launcher.scala
  engine/launcher/src/main/scala/org/enso/launcher/cli/LauncherApplication.scala
  engine/launcher/src/main/scala/org/enso/launcher/components/LauncherRunner.scala
  engine/launcher/src/test/scala/org/enso/launcher/components/LauncherRunnerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  lib/scala/logging-service/src/main/scala/org/enso/logger/akka/ActorLoggingReceive.scala
  lib/scala/logging-service/src/main/scala/org/enso/logger/akka/ActorMessageLogging.scala
  lib/scala/logging-service/src/main/scala/org/enso/loggingservice/LoggerFactory.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/MainModule.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ExecutorWithUnlimitedPool.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/HeartbeatSession.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerBootLoader.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/config/GlobalConfigurationManager.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/runner/Runner.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Remove the EPB GIL for GraalPython (#1747)
  .gitignore
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/CoercePrimitiveNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapExceptionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/PyForeignNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/caseexpr/ArrayBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/caseexpr/BooleanBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/caseexpr/BooleanConstructorBranchNode.java
  test/Tests/src/Semantic/Js_Interop_Spec.enso
  test/Tests/src/Semantic/Python_Interop_Spec.enso
  test/Tests/src/Semantic/R_Interop_Spec.enso
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

Add evaluation for one-shot expressions (#1749)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/visualisation/ExecuteExpressionHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/VisualisationApi.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ExecutionContextJsonMessages.scala
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

Update the protocol to support streaming files (#1757)
  distribution/std-lib/Standard/src/Visualization.enso
  distribution/std-lib/Standard/src/Visualization/File_Upload.enso
  docs/language-server/README.md
  docs/language-server/protocol-language-server.md
  docs/language-server/streaming-file-transfer.md
  test/Visualization_Tests/src/Main.enso
  test/Visualization_Tests/src/Visualization_Spec.enso
Owners: @iamrecursion, @kustosz, @wdanilo, @4e6, @radeusgd

Provide API access to the project name (#1759)
  RELEASES.md
  build.sbt
  docs/language-server/protocol-language-server.md
  docs/language-server/protocol-project-manager.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/data/Config.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionControllerFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/workspace/ProjectInfoHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/workspace/WorkspaceApi.scala
  engine/language-server/src/test/resources/package.yaml
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/WorkspaceOperationsTest.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/RunningLanguageServerInfo.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ProjectManagementApi.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectOpenHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/ProjectManagementOps.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  tools/legal-review/engine/report-state
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Update the FlatBuffers schemas (#1763)
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/ErrorFactory.scala
  engine/language-server/src/main/schema/binary_protocol.fbs
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

Add HTML Documentation API (#1758)
  docs/language-server/protocol-language-server.md
  docs/runtime/searcher.md
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/WorkspaceOperationsTest.scala
Owners: @iamrecursion, @kustosz, @4e6, @radeusgd

FlatBuffers Schema Fix (#1778)
  engine/language-server/src/main/schema/binary_protocol.fbs
Owners: @radeusgd, @4e6, @kustosz, @iamrecursion

Default visualization definitions (#1786)
  RELEASES.md
  distribution/std-lib/Standard/src/Base/Meta/Enso_Project.enso
  distribution/std-lib/Standard/src/Table/Data/Table.enso
  distribution/std-lib/Standard/src/Visualization.enso
  distribution/std-lib/Standard/src/Visualization/Id.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/EnsoProjectNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
  test/Visualization_Tests/src/Id_Spec.enso
  test/Visualization_Tests/src/Main.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @wdanilo, @4e6

Add support for the `file/checksum` endpoint (#1787)
  RELEASES.md
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystem.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemFailure.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemFailureMapper.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/ChecksumFileHandler.scala
  engine/language-server/src/main/schema/binary_protocol.fbs
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/FileSystemSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileManagerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Implement byte-based file operations (#1795)
  RELEASES.md
  docs/language-server/protocol-language-server.md
  docs/language-server/streaming-file-transfer.md
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystem.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemFailure.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemFailureMapper.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/BinaryConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/ChecksumBytesReplyFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/EnsoDigestFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/ErrorFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/FileContentsReplyFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/ReadBytesReplyFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/binary/factory/WriteBytesReplyFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/ChecksumBytesHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/ChecksumFileHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/ReadBinaryFileHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/ReadBytesHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/WriteBinaryFileHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/WriteBytesHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/FileSystemSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BinaryFileManipulationTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/factory/ChecksumBytesCommandFactory.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/factory/FileSegmentFactory.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/factory/ReadBytesCommandFactory.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/factory/WriteBytesCommandFactory.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileManagerTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Add some tweaks to the native builds (#1779)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
  Cargo.lock
  RELEASES.md
  project/NativeImage.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Refactor the LS to support multiple content roots (#1800)
  .github/workflows/nightly.yml
  .github/workflows/scala.yml
  RELEASES.md
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/DirectoriesInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/resource/RepoInitialization.scala
  engine/language-server/src/main/scala/org/enso/languageserver/data/Config.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/ContentRoot.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/PathWatcher.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/session/SessionApi.scala
  engine/language-server/src/test/scala/org/enso/languageserver/boot/resource/RepoInitializationSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BaseBinaryServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BinaryFileManipulationTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileManagerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileNotificationsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ReceivesTreeUpdatesHandlerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SessionManagementTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/WorkspaceOperationsTest.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Document running the IDE with a development LS (#1803)
  docs/CONTRIBUTING.md
Owners: @iamrecursion, @kustosz, @4e6

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @iamrecursion, @kustosz, @4e6

Fix a missing change in the LS protocol spec (#1807)
  docs/language-server/protocol-language-server.md
Owners: @iamrecursion, @kustosz, @4e6

Update GraalVM in the runtime container (#1814)
  tools/ci/docker/Dockerfile
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Libraries Repository (#1804)
  RELEASES.md
  build.sbt
  docs/libraries/README.md
  docs/libraries/repositories.md
  lib/scala/editions/src/main/scala/org/enso/editions/EditionName.scala
  lib/scala/editions/src/main/scala/org/enso/editions/EditionResolutionError.scala
  lib/scala/editions/src/main/scala/org/enso/editions/EditionSerialization.scala
  lib/scala/editions/src/main/scala/org/enso/editions/LibraryName.scala
  lib/scala/editions/src/main/scala/org/enso/editions/repository/Manifest.scala
  lib/scala/editions/src/main/scala/org/enso/yaml/ParseError.scala
  lib/scala/editions/src/main/scala/org/enso/yaml/YamlHelper.scala
  lib/scala/editions/src/test/scala/org/enso/editions/LibraryNameSpec.scala
  lib/scala/editions/src/test/scala/org/enso/editions/repository/ManifestParserSpec.scala
  lib/scala/library-manager/src/main/scala/org/enso/librarymanager/published/repository/LibraryManifest.scala
  lib/scala/library-manager/src/test/scala/org/enso/librarymanager/published/repository/LibraryManifestParserSpec.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/http/HTTPDownload.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/http/HTTPDownloadSpec.scala
  tools/simple-library-server/README.md
  tools/simple-library-server/main.js
  tools/simple-library-server/package.json
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Documentation in the Suggestions Database (#1791)
  RELEASES.md
  build.sbt
  distribution/engine/THIRD-PARTY/com.google.auto.service.auto-service-1.0-rc7/NOTICES
  distribution/engine/THIRD-PARTY/com.google.errorprone.error_prone_annotations-2.3.4/NOTICES
  distribution/engine/THIRD-PARTY/com.typesafe.akka.akka-http-spray-json_2.13-10.2.0-RC1/NOTICES
  distribution/engine/THIRD-PARTY/dev.zio.zio_2.13-1.0.1/NOTICES
  distribution/engine/THIRD-PARTY/io.spray.spray-json_2.13-1.3.5/NOTICES
  distribution/project-manager/THIRD-PARTY/com.typesafe.akka.akka-http-spray-json_2.13-10.2.0-RC1/NOTICES
  distribution/project-manager/THIRD-PARTY/dev.zio.zio_2.13-1.0.1/NOTICES
  distribution/project-manager/THIRD-PARTY/io.spray.spray-json_2.13-1.3.5/NOTICES
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/Suggestions.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionDiff.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  lib/scala/searcher/src/bench/scala/org/enso/searcher/sql/SuggestionRandom.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
  tools/legal-review/engine/report-state
  tools/legal-review/project-manager/report-state
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Add syntactic support for conversion definitions (#1815)
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AutomaticParallelism.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DemandAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/TailCall.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/FunctionBinding.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/GenerateMethodBodies.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/SectionsToBinOp.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/lint/UnusedBindings.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/optimise/LambdaConsolidate.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/IgnoredBindings.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/SuspendedArguments.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/GatherDiagnosticsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/FunctionBindingTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/GenerateMethodBodiesTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/optimise/LambdaConsolidateTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  test/Tests/src/Semantic/Js_Interop_Spec.enso
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Prepare for the 0.2.11 release (#1818)
  RELEASES.md
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Bump the snapshot version
  build.sbt
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

Include namespace in the project manager messages (#1820)
  RELEASES.md
  docs/language-server/protocol-project-manager.md
  lib/scala/pkg/src/main/scala/org/enso/pkg/Config.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/ProjectMetadata.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/RunningLanguageServerInfo.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/model/Project.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ProjectManagementApi.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectOpenHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/ProjectManagementOps.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @iamrecursion, @kustosz, @radeusgd, @4e6

.github/CODEOWNERS:

# Catch All
* @iamrecursion @kustosz @radeusgd

# Distribution
/distribution @iamrecursion @kustosz @radeusgd @4e6
/distribution/std-lib @iamrecursion @kustosz @wdanilo @4e6

# Scala Libraries
/lib/scala/cli @iamrecursion @kustosz @radeusgd @4e6
/lib/scala/core-definition @iamrecursion @kustosz @4e6
/lib/scala/flexer @iamrecursion @kustosz @4e6
/lib/scala/graph @iamrecursion @kustosz @4e6
/lib/scala/interpreter-dsl @iamrecursion @kustosz @4e6
/lib/scala/json-rpc-server @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/json-rpc-server-test @radeusgd @4e6 @iamrecursion @kustosz
/lib/scala/logger @kustosz @iamrecursion @4e6
/lib/scala/parser-service @kustosz @iamrecursion @4e6
/lib/scala/pkg @iamrecursion @kustosz @4e6
/lib/scala/project-manager @radeusgd @4e6 @kustosz
/lib/scala/searcher @4e6 @radeusgd @kustosz @iamrecursion
/lib/scala/syntax @iamrecursion @kustosz @4e6
/lib/scala/testkit @4e6 @kustosz @iamrecursion
/lib/scala/text-buffer @iamrecursion @kustosz @4e6
/lib/scala/version-output @iamrecursion @kustosz @radeusgd @4e6

# Rust Libraries
/lib/rust/ @iamrecursion @wdanilo @radeusgd

# Main Project
/engine/language-server @radeusgd @4e6 @kustosz @iamrecursion
/engine/launcher @iamrecursion @kustosz @radeusgd @4e6
/engine/polyglot-api @iamrecursion @kustosz @4e6
/engine/runner @iamrecursion @kustosz @radeusgd @4e6
/engine/runtime @iamrecursion @kustosz @radeusgd @4e6

# Documentation
/docs @iamrecursion @kustosz @4e6
/.gitignore @iamrecursion @kustosz @4e6
/.jvmopts @iamrecursion @kustosz @4e6
/.scalafmt.conf @iamrecursion @kustosz @4e6
/CODE_OF_CONDUCT.md @iamrecursion @kustosz @4e6
/LICENSE @iamrecursion @kustosz @4e6
README.md @iamrecursion @kustosz @4e6

# Config
/.github @iamrecursion @kustosz @4e6
/.github/workflows @iamrecursion @kustosz @radeusgd @4e6
/tools @iamrecursion @kustosz @radeusgd @4e6
/project @iamrecursion @kustosz @radeusgd @4e6
/build.sbt @iamrecursion @kustosz @radeusgd @4e6

# Repo Configuration
/.github/settings.yml @iamrecursion
