Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @hubertp, @jdunkerley, @radeusgd, @PabloBuchu, @indiv0, @somebody1234

Add dashboard table view (#6015)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/content-config/src/config.json
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/dashboard/bundle.ts
  app/ide-desktop/lib/dashboard/src/authentication/package.json
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/label.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/permissionDisplay.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/rows.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
  app/ide-desktop/lib/types/globals.d.ts
  app/ide-desktop/package.json
  app/ide-desktop/tsconfig.json
Owners: @somebody1234, @MichaelMauderer, @wdanilo, @kazcw

Save cognito access token to ~/.enso/credentials (#6251)
  app/ide-desktop/lib/client/src/authentication.ts
  app/ide-desktop/lib/client/src/ipc.ts
  app/ide-desktop/lib/client/src/preload.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/types/globals.d.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Update top-bar styles and implement changePassword feature. (#6219)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/modal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/modal.tsx
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Language Server preserves the suggestion updates order (#6268)
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Speed cascade of if statements up (#6255)
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/IfVsCaseBenchmarks.java
  engine/runtime/src/main/java/org/enso/interpreter/node/InlineableRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/BuiltinRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/IfThenElseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/ThrowErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/ThrowPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/GetStackTraceNode.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/MethodProcessor.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/model/MethodDefinition.java
  test/Tests/src/Semantic/Warnings_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Test, fix, re-enable buffer compaction. (#6202)
  Cargo.lock
  lib/rust/ensogl/core/Cargo.toml
  lib/rust/ensogl/core/src/lib.rs
  lib/rust/ensogl/core/src/system/gpu/data/attribute.rs
  lib/rust/ensogl/core/src/system/gpu/data/buffer.rs
  lib/rust/ensogl/examples/instance-ordering/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Add split and tokenize to the Table. (#6233)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Split_Tokenize.enso
  test/Table_Tests/src/In_Memory/Main.enso
  test/Table_Tests/src/In_Memory/Split_Tokenize_Spec.enso
  test/Table_Tests/src/Util.enso
Owners: @jdunkerley, @radeusgd

Add TypeScript style guide (#6226)
  docs/style-guide/README.md
  docs/style-guide/typescript.md
Owners: none

Start and open workspace (#5804)
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/service.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/authentication/tsconfig.json
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

sort handles incomparable values (#5998)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Problem_Behavior.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Problems.enso
  engine/polyglot-api/src/main/java/org/enso/polyglot/HostEnsoUtils.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/TypeOfNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/SortNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/GreaterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/GreaterOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/LessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/bigInteger/LessOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/GreaterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/GreaterOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/LessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/LessOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/GreaterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/GreaterOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/LessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/smallInteger/LessOrEqualNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/LessThanNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/SortArrayNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/SortVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/AnyToTextNode.java
  engine/runtime/src/test/java/org/enso/interpreter/test/DebuggingEnsoTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/TestBase.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
  engine/runtime/src/test/java/org/enso/interpreter/test/VectorSortTest.java
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Tests/src/Data/Array_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Data/Ordering_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  tools/performance/engine-benchmarks/bench_download.py
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Fix stepping out of the function after renaming the project (#6285)
  app/gui/src/controller/graph/executed.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/plain.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/model/project/synchronized.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Splitting Gigantic EqualsNode into few Smaller Ones (#6280)
  distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering.enso
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/CurriedFunctionBenchmarks.java
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/EqualsBenchmarks.java
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/VectorBenchmarks.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/CallableFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsAtomNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsComplexNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/HashCodeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/CustomComparatorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/HasCustomComparatorNode.java
  engine/runtime/src/test/java/org/enso/interpreter/test/EqualsTest.java
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

Ready to merge no longer implies keeping up to date. (#6305)
  .github/mergify.yml
Owners: none

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp
/distribution/ @4e6 @jdunkerley @radeusgd
/engine/ @4e6 @jaroslavtulach @hubertp
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd

# Cloud Dashboard & Authentication
/app/ide-desktop/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/common @PabloBuchu @indiv0 @somebody1234

# Eslint configuration
/app/ide-desktop/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
