Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @hubertp, @jdunkerley, @radeusgd

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp
/distribution/ @4e6 @jdunkerley @radeusgd
/engine/ @4e6 @jaroslavtulach @hubertp
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd

Implementation of EnsoGL predefined Rectangle shape. (#6033)
  Cargo.lock
  lib/rust/ensogl/core/src/display/shape/primitive/def/class.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/modifier.rs
  lib/rust/ensogl/core/src/display/shape/primitive/glsl/shape.glsl
  lib/rust/ensogl/core/src/display/shape/primitive/shader/canvas.rs
  lib/rust/ensogl/examples/Cargo.toml
  lib/rust/ensogl/examples/built-in-shapes/Cargo.toml
  lib/rust/ensogl/examples/built-in-shapes/src/lib.rs
  lib/rust/ensogl/examples/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix code generation for suggestion preview (#6054)
  app/gui/src/controller/searcher.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Use .node-version for pinning Node.js version (#6057)
  .node-version
  app/gui/docs/CONTRIBUTING.md
  build-config.yaml
  build/build/src/config.rs
  build/cli/src/main.rs
  docs/CONTRIBUTING.md
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Search suggestions by static attribute (#6036)
  app/gui/controller/engine-protocol/src/language_server.rs
  app/gui/src/controller/searcher.rs
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/search/CompletionHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  lib/scala/searcher/src/bench/java/org/enso/searcher/sql/SuggestionsRepoBenchmark.java
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @4e6, @jaroslavtulach, @hubertp

Use new Enso Hash Codes and Comparable (#6060)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering/Comparator.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Statistics.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Day_Of_Week.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/SQL_Type.enso
  distribution/lib/Standard/Image/0.0.0-dev/src/Data/Image.enso
  distribution/lib/Standard/Image/0.0.0-dev/src/Data/Matrix.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  std-bits/base/src/main/java/org/enso/base/ObjectComparator.java
  std-bits/base/src/main/java/org/enso/base/polyglot/EnsoObjectWrapper.java
  std-bits/base/src/main/java/org/enso/base/statistics/Rank.java
  std-bits/table/src/main/java/org/enso/table/aggregations/First.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Last.java
  std-bits/table/src/main/java/org/enso/table/aggregations/MinOrMax.java
  std-bits/table/src/main/java/org/enso/table/data/index/OrderedMultiValueKey.java
  std-bits/table/src/main/java/org/enso/table/data/index/UnorderedMultiValueKey.java
  std-bits/table/src/main/java/org/enso/table/data/table/Column.java
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/IndexJoin.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/scan/MatcherFactory.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/scan/ScanJoin.java
  std-bits/table/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/src/Common_Table_Operations/Order_By_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Tests/src/Data/Ordering/Comparator_Spec.enso
Owners: @jdunkerley, @radeusgd

Layout fixes (#6066)
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/object/layout.rs
  lib/rust/ensogl/examples/auto-layout/src/lib.rs
  lib/rust/ensogl/examples/slider/src/lib.rs
  lib/rust/prelude/src/leak.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Use new common parse method throwing less exceptions. (#6075)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDateTime.java
  lib/scala/common-polyglot-core-utils/src/main/java/org/enso/polyglot/common_utils/Core_Date_Utils.java
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  std-bits/table/src/main/java/org/enso/table/expressions/ExpressionVisitorImpl.java
  std-bits/table/src/main/java/org/enso/table/parsing/DateTimeParser.java
Owners: @4e6, @jaroslavtulach, @hubertp, @jdunkerley, @radeusgd

Fix the broken test for git-clean (#6055)
  build/ci_utils/src/programs/git/clean.rs
Owners: @mwu-tow

Add tooltips to the action bar (#6035)
  CHANGELOG.md
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/profiling.rs
  lib/rust/ensogl/component/toggle-button/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Ensure new and wrapper nodes inherit UUID (#6067)
  CHANGELOG.md
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/NodeCountingTestInstrument.java
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/IncrementalUpdatesTest.java
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/WarningInstrumentationTest.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/FunctionCallInstrumentationNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/InvokeFunctionNode.java
Owners: @4e6, @jaroslavtulach, @hubertp

Treat Boolean.False as false primitive (#6090)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/QualifiedAccessorNode.java
  engine/runtime/src/test/scala/org/enso/std/test/BooleanTest.scala
  project/DistributionPackage.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Implement Regular Expression replace and update `Text.replace` to the new API (#5959)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Helpers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Match_2.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern_2.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Replacer.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex_2.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Naming_Helpers.enso
  std-bits/base/src/main/java/org/enso/base/Replacer_Cache.java
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Tests/src/Data/Text/Regex_2_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd

Serde testing infrastructure for the Enso compiler (#6062)
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/SerializationManager.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/java/org/enso/compiler/CompilerTest.java
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  engine/runtime/src/test/java/org/enso/compiler/SerdeCompilerTest.java
  engine/runtime/src/test/resources/Fib_Test/package.yaml
  engine/runtime/src/test/resources/Fib_Test/src/Arith.enso
  engine/runtime/src/test/resources/Fib_Test/src/Main.enso
Owners: @4e6, @jaroslavtulach, @hubertp

Restore mistakenly removed unit test for named arguments (#6101)
  app/gui/src/controller/graph.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

More elaborate error message for invalid text edit (#6108)
  engine/language-server/src/main/scala/org/enso/languageserver/text/CollaborativeBuffer.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  lib/scala/text-buffer/src/main/scala/org/enso/text/editing/TextEditValidationFailure.scala
  lib/scala/text-buffer/src/main/scala/org/enso/text/editing/TextEditValidator.scala
  lib/scala/text-buffer/src/test/scala/org/enso/text/editing/EditorOpsSpec.scala
  lib/scala/text-buffer/src/test/scala/org/enso/text/editing/TextEditValidatorSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Add engine benchmark analysis tool (#5852)
  tools/performance/engine-benchmarks/Engine_Benchs/package.yaml
  tools/performance/engine-benchmarks/Engine_Benchs/src/Main.enso
  tools/performance/engine-benchmarks/README.md
  tools/performance/engine-benchmarks/bench_download.py
  tools/performance/engine-benchmarks/template_jinja.html
Owners: @4e6, @jaroslavtulach, @radeusgd

Turn missing body in a binding into a syntax error (#6107)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/ExecCompilerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp

Generate index when invoking `buildStdLib` tasks (#6000)
  build.sbt
  project/DistributionPackage.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Decouple node edit mode from ports (#5983)
  app/gui/language/span-tree/src/generate.rs
  app/gui/language/span-tree/src/node/kind.rs
  app/gui/src/presenter/graph.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/expression.rs
  app/gui/view/graph-editor/src/component/node/input/area.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/src/project.rs
  integration-test/tests/graph_editor.rs
  lib/rust/ensogl/component/text/src/component/text.rs
  lib/rust/ensogl/core/src/application/command.rs
  lib/rust/frp/src/nodes.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix crash when editing certain names in the CB (#6120)
  app/gui/src/controller/searcher/input.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add icon for enabling re-evaluation (#6122)
  app/gui/view/examples/icons/src/lib.rs
  app/gui/view/graph-editor/src/component/node/action_bar/icon.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Always print stacktrace to provide some guidance of what is going on (#6128)
  engine/runner/src/main/scala/org/enso/runner/Main.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Make tooltips more visually pleasing (#6097)
  CHANGELOG.md
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/label/src/lib.rs
  lib/rust/ensogl/component/tooltip/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Report errors when generating indexes (#6123)
  build.sbt
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime/src/main/java/org/enso/compiler/Cache.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  project/DistributionPackage.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fix: Make sure to correctly resize the table (#6031)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley

Implement Regular Expression split and update Text.split to the new API (#6116)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern_2.enso
  test/Tests/src/Data/Text/Regex_2_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd

add alignment setting per shape system (#6087)
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound/screen.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound/sprite.rs
  lib/rust/ensogl/core/src/lib.rs
  lib/rust/ensogl/examples/auto-layout/src/lib.rs
  lib/rust/ensogl/examples/dom-symbols/src/lib.rs
  lib/rust/ensogl/examples/sprite-system-benchmark/src/lib.rs
  lib/rust/ensogl/examples/sprite-system/src/lib.rs
  lib/rust/types/src/topology.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

When renaming the project clean old modules instead of updating (#6148)
  engine/language-server/src/main/scala/org/enso/languageserver/refactoring/ProjectNameChangedEvent.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/refactoring/RenameProjectHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Compute column widths based on content of column. (#6157)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley

Fix prettier config; run prettier (#6132)
  .prettierrc.yaml
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/common.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/confirmRegistration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/forgotPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/login.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/resetPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/setUsername.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/listen.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/session.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/http.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/logger.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
Owners: @MichaelMauderer, @wdanilo, @kazcw

Date/time support for Postgres. Year/month/day operations on Columns. (#6153)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Column_Fetcher.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Statement_Setter.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Exports.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Extensions.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeOfDay.java
  std-bits/database/src/main/java/org/enso/database/JDBCUtils.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/UnaryIntegerOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateTimeStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  test/Table_Tests/src/Common_Table_Operations/Aggregate_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Expression_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @hubertp

bump shader tools version and use distribution install by default (#6164)
  build/build/src/project/wasm.rs
  build/ci_utils/src/cache/goodie.rs
  build/ci_utils/src/goodies/shader_tools.rs
  build/cli/src/arg/wasm.rs
  build/cli/src/lib.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
Owners: @mwu-tow, @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Adjusting tests to new parser (#6143)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/OperatorToFunction.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/ExpressionAnnotations.scala
  engine/runtime/src/test/java/org/enso/compiler/AnnotationsCompilerTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/AliasAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/ComplexTypeTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/FunctionBindingTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/ExpressionAnnotationsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/IgnoredBindingsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/SugaredTypeFunctionsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/SuspendedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/TypeSignaturesTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/Metadata.scala
Owners: @4e6, @jaroslavtulach, @hubertp

A Stub for Vector Editor Widget. (#6142)
  app/gui/view/graph-editor/src/component/node/input/area.rs
  app/gui/view/graph-editor/src/component/node/input/widget.rs
  app/gui/view/graph-editor/src/component/node/input/widget/vector_editor.rs
  app/ide-desktop/lib/content-config/src/config.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Execution context switch expressions (#6121)
  app/gui/controller/double-representation/src/context_switch.rs
  app/gui/controller/double-representation/src/lib.rs
  app/gui/controller/double-representation/src/name.rs
  app/gui/controller/double-representation/src/node.rs
  app/gui/controller/double-representation/src/refactorings/collapse.rs
  app/gui/language/ast/impl/src/lib.rs
  app/gui/language/ast/impl/src/macros/skip_and_freeze.rs
  app/gui/language/ast/impl/src/opr.rs
  app/gui/language/ast/impl/src/repr.rs
  app/gui/src/controller/graph.rs
  app/gui/src/controller/searcher/input.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/state.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

do not override default shape alignment in macro (#6170)
  app/gui/view/src/window_control_buttons.rs
  app/gui/view/src/window_control_buttons/close.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Add JSON-RPC endpoints (#6004)
  app/ide-desktop/lib/content/src/newtype.ts
  app/ide-desktop/lib/content/src/project_manager.ts
Owners: @MichaelMauderer, @wdanilo, @kazcw

Small issues from working with Ned (#6160)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
  distribution/lib/Standard/Base/0.0.0-dev/src/System/Process.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/Process/Process_Builder.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Unique_Name_Strategy.enso
  std-bits/table/src/main/java/org/enso/table/util/NameDeduplicator.java
  test/Image_Tests/src/Image_Read_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Cross_Join_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Join_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Zip_Spec.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Helpers/Unique_Naming_Strategy_Spec.enso
  test/Tests/src/System/File_Spec.enso
  test/Tests/src/System/Process_Spec.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley, @radeusgd

Delay creation of project root EnsoFile until it is really needed (#6149)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/EnsoProjectNode.java
Owners: @4e6, @jaroslavtulach, @hubertp

#5123 Text.tokenize (#6150)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Case_Sensitivity.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Helpers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern_2.enso
  test/Tests/src/Data/Text/Regex_2_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd
