Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234

Unbreak CI after outdated merge (#6466)
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Don't attempt to resolve hostname for git init (#6463)
  engine/language-server/src/main/scala/org/enso/languageserver/vcsmanager/EmptyUserConfigReader.scala
  engine/language-server/src/main/scala/org/enso/languageserver/vcsmanager/Git.scala
  engine/language-server/src/test/scala/org/enso/languageserver/vcsmanager/GitSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VcsManagerTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Hide profile button behind a feature flag (#6430)
  app/gui/view/graph-editor/src/lib.rs
  app/ide-desktop/lib/content-config/src/config.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Change defaults for `Connection.tables` and ensure that `Connection.query` recognizes all available tables (#6443)
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  test/Table_Tests/src/Database/Common_Spec.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Visualization_Tests/src/Widgets/Database_Widgets_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add Execution Context control to Text.write (#6459)
  CHANGELOG.md
  app/gui/controller/engine-protocol/src/language_server.rs
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Encoding.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Runtime.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File/Write_Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File_Format.enso
  distribution/lib/Standard/Examples/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table_Conversions.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Test_Reporter.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/runtime/ContextIsEnabledNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoFile.java
  std-bits/base/src/main/java/org/enso/base/DryRunFileManager.java
  std-bits/base/src/main/java/org/enso/base/file_format/JSONFormatSPI.java
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/IO/Csv_Spec.enso
  test/Table_Tests/src/IO/Delimited_Read_Spec.enso
  test/Table_Tests/src/IO/Delimited_Write_Spec.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
  test/Table_Tests/src/IO/Formats_Spec.enso
  test/Tests/src/System/File_Read_Spec.enso
  test/Tests/src/System/File_Spec.enso
  test/Tests/src/System/Reporting_Stream_Decoder_Spec.enso
  test/Tests/src/System/Reporting_Stream_Encoder_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Runtime.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix disappearing cached shapes (#6458)
  lib/rust/ensogl/core/src/display/render/composer.rs
  lib/rust/ensogl/core/src/display/render/pass.rs
  lib/rust/ensogl/core/src/display/render/passes/cache_shapes.rs
  lib/rust/ensogl/core/src/system/gpu/data/texture/class.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Proper handling of multiple list views. (#6461)
  lib/rust/ensogl/component/list-editor/src/lib.rs
  lib/rust/ensogl/component/slider/src/model.rs
  lib/rust/ensogl/core/src/data/bounding_box.rs
  lib/rust/ensogl/core/src/gui/cursor.rs
  lib/rust/ensogl/examples/list-editor/src/lib.rs
  lib/rust/frp/src/nodes.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Make execution mode `live` default for CLI (#6496)
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  test/Tests/src/Semantic/Runtime_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

More reliable shutdown of the EnsoContext to save resources (#6468)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/BuiltinTypesTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeComponentsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeStdlibTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ThreadExecutors.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerEmulator.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Limit Dead Letter logging (#6482)
  engine/language-server/src/main/resources/application.conf
  lib/scala/project-manager/src/main/resources/application.conf
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Implement `create_database_table` for Database Table (#6467)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Error_Mapper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Query.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Error_Mapper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Error_Mapper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Error_Mapper.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

DataflowAnalysis preserves dependencies order (#6493)
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Multiflavor layers (#6477)
  lib/rust/ensogl/core/src/display/scene/layer.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix layer ordering between dropdown and breadcrumbs backgrounds. (#6483)
  app/gui/view/execution-environment-selector/src/lib.rs
  app/gui/view/graph-editor/src/component/breadcrumbs.rs
  lib/rust/ensogl/core/src/display/scene.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Reimplement `enso_project` as a proper builtin (#6352)
  CHANGELOG.md
  app/gui/src/controller/searcher.rs
  build.sbt
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta/Enso_Project.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Id.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EnsoProjectNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/EnsoProjectNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/scala/org/enso/compiler/SerializationManager.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime/src/test/java/org/enso/compiler/ExecCompilerTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/BindingAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EnsoProjectTest.scala
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/MethodProcessor.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/model/MethodDefinition.java
  test/Tests/src/Semantic/Meta_Location_Spec.enso
  test/Visualization_Tests/src/Id_Spec.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Fix doubled named arguments bug (#6422)
  app/gui/language/span-tree/src/action.rs
  app/gui/language/span-tree/src/node.rs
  app/gui/src/controller/graph.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Cloud/desktop mode switcher (#6448)
  app/gui/config.yaml
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/newtype.ts
  app/ide-desktop/lib/content/src/project_manager.ts
  app/ide-desktop/lib/dashboard/bundle.ts
  app/ide-desktop/lib/dashboard/esbuild-config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/resetPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/setUsername.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/directoryCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/fileCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/secretCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/backend.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/uploadMultipleFiles.ts
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
  app/ide-desktop/lib/types/modules.d.ts
  app/ide-desktop/lib/types/types.d.ts
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @somebody1234, @PabloBuchu, @indiv0

Fix application config (#6513)
  engine/language-server/src/main/resources/application.conf
  lib/scala/project-manager/src/main/resources/application.conf
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

IDE's logging to a file (#6478)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/client/src/index.ts
  app/ide-desktop/lib/client/src/log.ts
  app/ide-desktop/lib/client/src/paths.ts
Owners: @somebody1234, @PabloBuchu, @indiv0

Continued Execution Context work and some little fixes (#6506)
  distribution/lib/Standard/Base/0.0.0-dev/src/Runtime.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File_Format.enso
  distribution/lib/Standard/Image/0.0.0-dev/src/Data/Image.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  test/Image_Tests/src/Image_Read_Write_Spec.enso
  test/Image_Tests/src/Main.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/IO/Csv_Spec.enso
  test/Table_Tests/src/IO/Delimited_Read_Spec.enso
  test/Table_Tests/src/IO/Delimited_Write_Spec.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
  test/Table_Tests/src/IO/Formats_Spec.enso
  test/Tests/src/System/File_Spec.enso
  test/Tests/src/System/Reporting_Stream_Decoder_Spec.enso
  test/Tests/src/System/Reporting_Stream_Encoder_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Force pending saves if client closes abruptly (#6514)
  engine/language-server/src/main/scala/org/enso/languageserver/text/CollaborativeBuffer.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  lib/scala/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Run typecheck and eslint on `./run lint` (#6314)
  app/ide-desktop/lib/client/src/file-associations.ts
  build/cli/src/lib.rs
Owners: @PabloBuchu, @indiv0, @somebody1234, @mwu-tow

Delete unused websocket dependency (#6535)
  Cargo.lock
  app/gui/Cargo.toml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Infer correct synthetic name for nested modules (#6525)
  engine/runtime/src/main/scala/org/enso/compiler/PackageRepository.scala
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/package.yaml
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A/A_Mod.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A/B.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A/B/B_Mod.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A/B/C/C_Mod.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/A/B/C/D/D_Mod.enso
  engine/runtime/src/test/resources/Test_Deeply_Nested_Modules/src/Main.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix cut-off in text visualisations (#6421)
  CHANGELOG.md
  app/gui/view/examples/text-grid-visualization/src/lib.rs
  app/gui/view/graph-editor/src/builtin/visualization/native/text_visualization.rs
  app/gui/view/graph-editor/src/builtin/visualization/native/text_visualization/grid_view_entry.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Cache result of slow function resolution on Any that is present on a hot path (#6536)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Build nightly 3 hours earlier. (#6551)
  .github/workflows/nightly.yml
  build/build/src/ci_gen.rs
Owners: @mwu-tow

Fix lint CI (#6567)
  app/ide-desktop/lib/content-config/src/index.ts
  app/ide-desktop/lib/types/modules.d.ts
Owners: @MichaelMauderer, @wdanilo, @PabloBuchu, @indiv0, @somebody1234

Disregard visualisation for selection of nodes. (#6487)
  CHANGELOG.md
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/selection.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Apply screen size to screen-size-independent passes (#6569)
  lib/rust/ensogl/core/src/display/render/composer.rs
  lib/rust/ensogl/core/src/display/render/pass.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Run prettier on `CHANGELOG.md`; bump prettier (#6571)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Fix default dynamic-asssets directory (#6537)
  app/ide-desktop/lib/content/src/index.ts
  lib/rust/ensogl/pack/js/src/runner/config.json
Owners: @PabloBuchu, @indiv0, @somebody1234, @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Only `Join_Kind.Inner` removes the common-named columns (#6564)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Database_Join_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  test/Table_Tests/src/Common_Table_Operations/Integration_Tests.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Join_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix #5075: stop panning on full-screen visualisation (#6530)
  CHANGELOG.md
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Let ChangesetBuilder.invalidated search even container elements (#6548)
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix dashboard issues (#6502)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Identify SyntaxError exception and avoid printing a stack trace (#6574)
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime/src/main/java/org/enso/compiler/exception/CompilationAbortedException.java
  engine/runtime/src/main/scala/org/enso/compiler/exception/CompilationAbortedException.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/EqualsTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/PolyglotErrorTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/SignatureTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/TestBase.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix opening links in desktop IDE (#6507)
  app/ide-desktop/lib/client/src/security.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Catch 5813 and avoid crash (#6585)
  app/gui/view/documentation/src/html.rs
  app/gui/view/documentation/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Benchmark Engine job runs only engine, not Enso benchmarks (#6534)
  .github/workflows/benchmark.yml
  build/build/src/ci_gen.rs
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
Owners: @mwu-tow, @4e6, @jaroslavtulach, @hubertp, @Akirathan
