Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

Project create form (#6923)
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/createForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dropdown.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Throw panic on "no currying for conversions" (#6940)
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/NoConversionCurrying.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  test/Tests/src/Semantic/Conversion_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Small fixes from book club. (#6933)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Ordering.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File_Format.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Searcher/0.0.0-dev/src/Data_Science.enso
  distribution/lib/Standard/Searcher/0.0.0-dev/src/Data_Science/Transform.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Aggregate_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Vector_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Data_Formatter.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Join_Condition.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Delimited/Delimited_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  test/Table_Tests/src/Common_Table_Operations/Cross_Tab_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Order_By_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Transpose_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Visualization_Tests/src/SQL_Spec.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis

Fix visualisation FRP bugs. (#6831)
  Cargo.lock
  app/gui/src/presenter/graph/visualization.rs
  app/gui/view/graph-editor/Cargo.toml
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
  app/gui/view/graph-editor/src/component/visualization/container/action_bar.rs
  app/gui/view/graph-editor/src/component/visualization/container/fullscreen.rs
  app/gui/view/graph-editor/src/component/visualization/layer.rs
  app/gui/view/graph-editor/src/lib.rs
  build-config.yaml
  lib/rust/ensogl/component/toggle-button/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Handle some edge cases in rounding (inexact representations and overflows) (#6922)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  test/Tests/src/Data/Numbers_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Eliminate deadlock scenario during file edit/open/close requests (#6920)
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/CloseFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/OpenFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Documenting how to obtain static methods for a type (#6938)
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Refactor `create_database_table` into `Connection.create_table` and `select_into_database_table`, implement `Set`. (#6925)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Map.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Set.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Update_Action.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Database_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Default_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_In_Memory_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/In_Transaction.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Storage.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Scatter_Plot.enso
  test/Table_Tests/src/Common_Table_Operations/Conversion_Spec.enso
  test/Table_Tests/src/Database/Common_Spec.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Database/Types/SQLite_Type_Mapping_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Tests/src/Data/Map_Spec.enso
  test/Tests/src/Data/Set_Spec.enso
  test/Tests/src/Main.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix entering node failure handling (#6932)
  app/gui/src/controller/graph/executed.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/lib.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/plain.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/retry.rs
  lib/rust/prelude/src/data/non_empty_vec.rs
  lib/rust/prelude/src/lib.rs
  lib/rust/prelude/src/result.rs
  lib/rust/prelude/src/sync.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Truncate the error message for to_uri. (#6963)
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/URI.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Save backend type in localStorage, and automatically open projects when ready (#6728)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/confirmDeleteModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/contextMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/contextMenuEntry.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/validation.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/backend.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
  app/ide-desktop/lib/dashboard/watch.ts
Owners: @somebody1234, @PabloBuchu, @indiv0

Show status mesage if a visualisation is closed due to engine error. (#6937)
  app/gui/src/presenter/graph/visualization.rs
  app/gui/view/src/root.rs
  lib/rust/ensogl/core/src/application.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Create execution context with id (#6947)
  app/gui/controller/engine-protocol/src/language_server.rs
  app/gui/controller/engine-protocol/src/language_server/tests.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/model/project.rs
  app/gui/src/model/project/synchronized.rs
  app/gui/tests/language_server.rs
  integration-test/tests/engine.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Reduce draw calls (#6707)
  Cargo.lock
  app/gui/view/examples/Cargo.toml
  app/gui/view/examples/graph-editor-edges/Cargo.toml
  app/gui/view/examples/graph-editor-edges/src/lib.rs
  app/gui/view/examples/src/lib.rs
  app/gui/view/graph-editor/src/component/edge.rs
  app/gui/view/graph-editor/src/component/edge/inputs.rs
  app/gui/view/graph-editor/src/component/edge/layout.rs
  app/gui/view/graph-editor/src/component/edge/render.rs
  app/gui/view/graph-editor/src/component/edge/state.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/node/output/port.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/src/project_list.rs
  app/gui/view/src/searcher.rs
  build-config.yaml
  lib/rust/ensogl/component/drop-down-menu/src/lib.rs
  lib/rust/ensogl/component/label/src/lib.rs
  lib/rust/ensogl/component/list-view/src/lib.rs
  lib/rust/ensogl/core/src/data/bounding_box.rs
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/shape.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/class.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound/screen.rs
  lib/rust/ensogl/core/src/display/symbol/gpu/geometry/compound/sprite.rs
  lib/rust/ensogl/core/src/gui/component.rs
  lib/rust/ensogl/core/src/system/gpu/data/attribute.rs
  lib/rust/ensogl/examples/built-in-shapes/src/lib.rs
  lib/rust/ensogl/examples/dom-symbols/src/lib.rs
  lib/rust/ensogl/examples/sprite-system-benchmark/src/lib.rs
  lib/rust/ensogl/examples/sprite-system/src/lib.rs
  lib/rust/frp/src/microtasks.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Reimplement Column.truncate, .ceil, and .floor as vectorized Java ops (#6941)
  CHANGELOG.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Bench.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/UnaryDoubleToLongOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/UnaryLongToLongOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/AbstractLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  test/Benchmarks/src/Column_Numeric.enso
  test/Benchmarks/src/Main.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Workaround for `to_date_time` type errors (#6964)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDate.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDateTime.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeOfDay.java
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Use US Locale for Date and Time parsing and formatting (#6967)
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Table_Tests/src/In_Memory/Column_Format_Spec.enso
  test/Tests/src/Data/Time/Date_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Skip internal field getters when building suggestions (#6968)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Implement addition and subtraction for Date_Period and Time_Period (#6956)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Period.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Dates are dates and zones are zones (#6934)
  engine/runtime/src/test/java/org/enso/interpreter/test/MetaIsATest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Remove directory create form; remove input focus ring (#6993)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/directoryCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dropdown.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectCreateForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
  app/ide-desktop/lib/dashboard/src/tailwind.css
Owners: @PabloBuchu, @indiv0, @somebody1234

Make sure Enso FrameDescriptors have non-null default value (#6977)
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/IncrementalUpdatesTest.java
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/InsightForEnsoTest.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/DataflowError.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/scope/LocalScope.scala
  engine/runtime/src/test/java/org/enso/compiler/ExecCompilerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Improve compiler's diagnostic messages (#6931)
  CHANGELOG.md
  build.sbt
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CacheInvalidationTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/OverloadsResolutionErrorTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StrictCompileDiagnosticsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Eliminate race condition for edit/close/open cmds (#6998)
  CHANGELOG.md
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/AsynchronousCommand.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/CloseFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/Command.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/CreateContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/DeserializeLibrarySuggestionsCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/DestroyContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/DetachVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/GetComponentGroupsCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/GetTypeGraphCommand.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/InterruptContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/InvalidateModulesIndexCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/OpenFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/PopContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/SetExpressionValueCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/StartBackgroundProcessingCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/SynchronousCommand.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/CommandExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/CommandProcessor.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Display error message in status bar when execution failed (#6918)
  CHANGELOG.md
  app/gui/src/ide.rs
  app/gui/src/model/project.rs
  app/gui/src/model/project/synchronized.rs
  app/gui/src/presenter/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix potential NoSuchElementException (#6948)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ThreadExecutors.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Test case with a function read from a variable (#6986)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Prevent default only of some shortcuts. (#6981)
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/frp/src/io/js.rs
  lib/rust/frp/src/io/keyboard.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Undo redo fixes and improvements (#6950)
  app/gui/language/parser/src/translation.rs
  app/gui/src/controller/module.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/upload.rs
  app/gui/src/model/module/plain.rs
  app/gui/src/model/undo_redo.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/call_stack.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/view/examples/graph-editor-edges/src/lib.rs
  app/gui/view/graph-editor/src/component/edge.rs
  app/gui/view/graph-editor/src/component/edge/inputs.rs
  app/gui/view/graph-editor/src/component/edge/render.rs
  app/gui/view/graph-editor/src/component/edge/state.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/src/project.rs
  lib/rust/ensogl/core/src/application/shortcut.rs
  lib/rust/ensogl/examples/sprite-system/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Do not return getters from global completion response (#7007)
  engine/language-server/src/main/scala/org/enso/languageserver/search/SearchProtocol.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/Suggestions.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/ExportedSymbol.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  lib/scala/searcher/src/bench/scala/org/enso/searcher/sql/SuggestionRandom.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Recognize root of Enso repository as VSCode project (#6942)
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/EnsoLogicalView.java
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/EnsoProjectFactory.java
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/EnsoRootProject.java
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/EnsoSbtProject.java
Owners: @4e6, @jaroslavtulach, @radeusgd

Run benchmarks after building stuff. (#6685)
  build/build/src/engine/context.rs
  build/ci_utils/src/programs/sbt.rs
Owners: @mwu-tow

Implement `Insert` update action for `update_database_table`. (#6990)
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column_Constraint.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column_Description.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Database_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Default_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_In_Memory_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Create_Column_Descriptor.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Query.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Type_Mapping.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Problems.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Database/Transaction_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix dropdown laziness; also misc fixes (#6991)
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/growth_animation.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/src/project.rs
  docs/profiler/profiling.md
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/drop-down/src/lib.rs
  lib/rust/ensogl/component/drop-down/src/model.rs
  lib/rust/ensogl/component/grid-view/src/lib.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/scene/layer.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/world.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Add Progress Bar For Large Streamed Downloads (#6096)
  Cargo.lock
  build/ci_utils/Cargo.toml
  build/ci_utils/src/global.rs
  build/ci_utils/src/io/web.rs
  build/ci_utils/src/log.rs
Owners: @mwu-tow

Improve performance of graph changes (#6954)
  Cargo.toml
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/src/controller/graph/widget/configuration.rs
  app/gui/src/presenter/graph/visualization.rs
  app/gui/view/examples/visualization/src/lib.rs
  app/gui/view/graph-editor/src/builtin/visualization/native/bubble_chart.rs
  app/gui/view/graph-editor/src/builtin/visualization/native/error.rs
  app/gui/view/graph-editor/src/builtin/visualization/native/text_visualization/text_provider.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
  app/gui/view/graph-editor/src/component/visualization/data.rs
  app/gui/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
  app/gui/view/graph-editor/src/lib.rs
  lib/rust/ensogl/component/text/src/font.rs
  lib/rust/frp/src/microtasks.rs
  lib/rust/json-rpc/src/error.rs
  lib/rust/json-rpc/src/handler.rs
  lib/rust/json-rpc/src/lib.rs
  lib/rust/json-rpc/src/log.rs
  lib/rust/json-rpc/src/macros.rs
  lib/rust/json-rpc/src/messages.rs
  lib/rust/prelude/src/serde.rs
  lib/rust/profiler/src/log.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Implement remaining `Update_Action`s for `update_database_table`. (#7035)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/SQL.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR/Query.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Update sqlite jdbc dependency (#7031)
  build.sbt
  distribution/engine/THIRD-PARTY/NOTICE
  distribution/engine/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/LICENSE
  distribution/engine/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/LICENSE.zentus
  distribution/engine/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/NOTICES
  distribution/lib/Standard/Database/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Database/0.0.0-dev/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/LICENSE
  distribution/lib/Standard/Database/0.0.0-dev/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/LICENSE.zentus
  distribution/lib/Standard/Database/0.0.0-dev/THIRD-PARTY/org.xerial.sqlite-jdbc-3.42.0.0/NOTICES
  tools/legal-review/Database/org.xerial.sqlite-jdbc-3.42.0.0/copyright-ignore
  tools/legal-review/Database/org.xerial.sqlite-jdbc-3.42.0.0/copyright-keep
  tools/legal-review/Database/org.xerial.sqlite-jdbc-3.42.0.0/custom-license
  tools/legal-review/Database/org.xerial.sqlite-jdbc-3.42.0.0/files-keep
  tools/legal-review/Database/report-state
  tools/legal-review/engine/org.xerial.sqlite-jdbc-3.42.0.0/copyright-ignore
  tools/legal-review/engine/org.xerial.sqlite-jdbc-3.42.0.0/copyright-keep
  tools/legal-review/engine/org.xerial.sqlite-jdbc-3.42.0.0/custom-license
  tools/legal-review/engine/org.xerial.sqlite-jdbc-3.42.0.0/files-keep
  tools/legal-review/engine/report-state
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Fix unclosed `console.group` and overhaul logging in `loader.ts` (#6979)
  lib/rust/ensogl/pack/js/src/runner/wasm/loader.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Improvements that significantly reduce the chances of request timeouts (#7042)
  CHANGELOG.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeServerInfo.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/command/SetExecutionEnvironmentCommand.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/SerializeModuleJob.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/CloseFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/DestroyContextCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/DetachVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualisationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/OpenFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/SetExpressionValueCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/CommandExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobControlPlane.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/Locking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualisationJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualisationJob.scala
  engine/runtime-instrument-runtime-server/src/main/java/org/enso/interpreter/instrument/RuntimeServerInstrument.java
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
