Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @jdunkerley, @jaroslavtulach, @farmaazon, @AdRiley, @PabloBuchu, @wdanilo, @MichaelMauderer, @vitvakatu, @Frizi, @kazcw, @Akirathan, @4e6, @hubertp, @radeusgd, @GregoryTravis, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @mwu-tow
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @vitvakatu @Frizi @kazcw @farmaazon @mwu-tow
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon @vitvakatu @Frizi @kazcw 
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi
/lib/rust/ensogl/ @MichaelMauderer @farmaazon @kazcw @vitvakatu @Frizi
/lib/rust/parser/ @MichaelMauderer @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach
/integration-test/ @MichaelMauderer @farmaazon @kazcw @vitvakatu @Frizi
/tools/build-performance/ @kazcw @mwu-tow @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @farmaazon @mwu-tow @kazcw @vitvakatu @Frizi
/app/gui/view/ @MichaelMauderer @farmaazon @kazcw @vitvakatu @Frizi
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @farmaazon @kazcw @jdunkerley @vitvakatu @Frizi
/app/gui2/

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234

Tweak commitEdit API (#8667)
  app/gui2/src/stores/graph/index.ts
Owners: none

Initialize builtin methods lazily in non-AOT mode (#8654)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/util/CachingSupplier.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Give file read its own helper widget for delimiters. (#8627)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Widget_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Delimited/Delimited_Format.enso
  std-bits/table/src/main/java/org/enso/table/read/DelimitedReader.java
  std-bits/table/src/main/java/org/enso/table/write/DelimitedWriter.java
  test/Table_Tests/src/IO/Delimited_Read_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Report more errors to the user (#8623)
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/createApp.ts
  app/gui2/stories/GraphEditor.story.vue
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  package-lock.json
  package.json
Owners: @PabloBuchu, @indiv0, @somebody1234

Canonicalize file names before comparing them (#8670)
  engine/runtime-compiler/src/main/java/org/enso/compiler/PackageRepositoryUtils.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/DefaultPackageRepository.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Ignore User-Agent in HTTP tests (#8630)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json.enso
  test/Tests/src/Data/Json_Spec.enso
  test/Tests/src/Network/Http_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Preparations for collapsing nodes (#8569)
  app/gui2/src/bindings.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/collapsing.ts
Owners: none

Remove org.bouncycastle dependency (#8664)
  build.sbt
  distribution/engine/THIRD-PARTY/NOTICE
  distribution/engine/THIRD-PARTY/org.bouncycastle.bcpkix-jdk15on-1.70/NOTICES
  distribution/engine/THIRD-PARTY/org.bouncycastle.bcprov-jdk15on-1.70/NOTICES
  distribution/engine/THIRD-PARTY/org.bouncycastle.bcutil-jdk15on-1.70/NOTICES
  distribution/lib/Standard/AWS/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Base/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Database/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Google_Api/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Image/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Table/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/project-manager/THIRD-PARTY/NOTICE
  distribution/project-manager/THIRD-PARTY/licenses/Bouncy_Castle_Licence.txt
  distribution/project-manager/THIRD-PARTY/org.bouncycastle.bcpkix-jdk15on-1.70/NOTICES
  distribution/project-manager/THIRD-PARTY/org.bouncycastle.bcprov-jdk15on-1.70/NOTICES
  distribution/project-manager/THIRD-PARTY/org.bouncycastle.bcutil-jdk15on-1.70/NOTICES
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManager.scala
  engine/runtime-fat-jar/src/main/java/module-info.java
  engine/runtime/src/main/java/org/enso/interpreter/caches/Cache.java
  lib/scala/text-buffer/src/main/java/org/enso/text/Hex.java
  lib/scala/text-buffer/src/main/scala/org/enso/text/ContentVersion.scala
  lib/scala/text-buffer/src/main/scala/org/enso/text/Sha3_224VersionCalculator.scala
  tools/legal-review/AWS/report-state
  tools/legal-review/Base/report-state
  tools/legal-review/Database/report-state
  tools/legal-review/Google_Api/report-state
  tools/legal-review/Image/report-state
  tools/legal-review/Table/report-state
  tools/legal-review/engine/org.bouncycastle.bcpkix-jdk15on-1.70/copyright-add
  tools/legal-review/engine/org.bouncycastle.bcprov-jdk15on-1.70/copyright-ignore
  tools/legal-review/engine/org.bouncycastle.bcprov-jdk15on-1.70/copyright-keep-context
  tools/legal-review/engine/org.bouncycastle.bcutil-jdk15on-1.70/copyright-add
  tools/legal-review/engine/report-state
  tools/legal-review/project-manager/org.bouncycastle.bcpkix-jdk15on-1.70/copyright-add
  tools/legal-review/project-manager/org.bouncycastle.bcprov-jdk15on-1.70/copyright-ignore
  tools/legal-review/project-manager/org.bouncycastle.bcprov-jdk15on-1.70/copyright-keep
  tools/legal-review/project-manager/org.bouncycastle.bcprov-jdk15on-1.70/copyright-keep-context
  tools/legal-review/project-manager/org.bouncycastle.bcutil-jdk15on-1.70/copyright-add
  tools/legal-review/project-manager/report-state
  tools/legal-review/project-manager/reviewed-licenses/Bouncy_Castle_Licence
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Test benchmark theory (#8668)
  build.sbt
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/VectorBenchmarks.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Avoid using cached bindings when the module isn't loaded from cache (#8669)
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/java/org/enso/interpreter/caches/Cache.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Instructions to build Enso with Espresso for GraalVM for JDK21 (#8641)
  docs/infrastructure/native-image.md
  engine/runner/src/main/java/org/enso/runner/ContextFactory.java
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  project/GraalVM.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

language server tests do not unnecessarily re-assemble fat jar (#8695)
  build.sbt
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Cats are not welcome (#8696)
  lib/scala/editions/src/main/scala/org/enso/editions/EditionResolver.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Replace Jackson library by simple data I/O streams (#8693)
  build.sbt
  engine/runtime/src/main/java/org/enso/interpreter/caches/Cache.java
  engine/runtime/src/main/java/org/enso/interpreter/caches/ImportExportCache.java
  engine/runtime/src/main/java/org/enso/interpreter/caches/ModuleCache.java
  engine/runtime/src/main/java/org/enso/interpreter/caches/SuggestionsCache.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Smart search (#8554)
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/playwright.config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/__tests__/assetQuery.test.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/__tests__/error.test.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/__tests__/fileInfo.test.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/array.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/assetQuery.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/__tests__/validation.test.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/column.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetRow.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetSearchBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetsTable.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/drive.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/label.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/labels.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/event.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localStorage.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/shortcuts.ts
  app/ide-desktop/lib/dashboard/test/authentication/src/error.spec.ts
  app/ide-desktop/lib/dashboard/test/authentication/src/fileInfo.spec.ts
  app/ide-desktop/lib/dashboard/test/authentication/src/password.spec.ts
  app/ide-desktop/lib/dashboard/vitest.config.ts
  package-lock.json
Owners: @PabloBuchu, @indiv0, @somebody1234

Widget refactoring & show widget in placeholders (#8687)
  app/gui2/src/components/GraphEditor/NodeWidget.vue
  app/gui2/src/components/GraphEditor/NodeWidgetTree.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetApplication.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetArgument.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetArgumentName.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetBlank.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetCheckbox.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetHierarchy.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetNumber.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetSelection.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetToken.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetTopLevelArgument.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetVector.vue
  app/gui2/src/providers/__tests__/widgetRegistry.test.ts
  app/gui2/src/providers/portInfo.ts
  app/gui2/src/providers/widgetRegistry.ts
  app/gui2/src/providers/widgetUsageInfo.ts
  app/gui2/src/util/callTree.ts
Owners: none
