Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234

Never return null from InteropLibrary calls (#7044)
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/InsightForEnsoTest.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/DebugLocalScope.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

AI Completions (#5910)
  CHANGELOG.md
  app/gui/controller/engine-protocol/src/language_server.rs
  app/gui/controller/engine-protocol/src/language_server/response.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/plain.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/presenter/searcher.rs
  distribution/lib/Standard/Visualization/0.0.0-dev/src/AI.enso
  engine/language-server/src/main/scala/org/enso/languageserver/ai/AICompletion.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/data/Config.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/ai/AICompletionHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/boot/resource/RepoInitializationSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/ContentRootManagerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/binary/BaseBinaryServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileManagerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VcsManagerTest.scala
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

QoL code improvements for dashboard (#7022)
  app/ide-desktop/debugGlobals.ts
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/client/electron-builder-config.ts
  app/ide-desktop/lib/client/esbuild-config.ts
  app/ide-desktop/lib/client/src/authentication.ts
  app/ide-desktop/lib/client/src/config.ts
  app/ide-desktop/lib/client/src/config/parser.ts
  app/ide-desktop/lib/client/src/index.ts
  app/ide-desktop/lib/client/src/project-management.ts
  app/ide-desktop/lib/client/src/security.ts
  app/ide-desktop/lib/client/tasks/computeHashes.cjs
  app/ide-desktop/lib/client/watch.ts
  app/ide-desktop/lib/common/package.json
  app/ide-desktop/lib/common/src/detect.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/globals.d.ts
  app/ide-desktop/lib/content/src/devServiceWorker.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/newtype.ts
  app/ide-desktop/lib/content/src/run.js
  app/ide-desktop/lib/content/src/serviceWorkerConstants.js
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/esbuild-config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
  app/ide-desktop/lib/dashboard/tailwind.config.ts
  app/ide-desktop/lib/dashboard/watch.ts
  app/ide-desktop/lib/icons/src/index.js
  app/ide-desktop/lib/types/globals.d.ts
  app/ide-desktop/lib/types/modules.d.ts
Owners: @MichaelMauderer, @wdanilo, @somebody1234, @PabloBuchu, @indiv0

Lock Enso4Igv NPM dependencies (#7053)
  tools/enso4igv/package-lock.json
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/scala/ScalaDataObject.java
Owners: @4e6, @jaroslavtulach, @radeusgd

Benchmarking Enso version of the Sieve of Eratosthenes algorithm (#7019)
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/SieveBenchmarks.java
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/SrcUtil.java
  engine/runtime/src/bench/resources/org/enso/interpreter/bench/benchmarks/semantic/sieve1.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix issues with mouse cursor position when editing nodes (#7014)
  CHANGELOG.md
  app/gui/view/graph-editor/src/component/node/input/area.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Do not add self arguments of static methods to suggestions database (#7074)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Improving widgets and other minor tweaks. (#7052)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta/Enso_Project.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Widget_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Id.enso
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EnsoProjectTest.scala
  std-bits/aws/src/main/java/org/enso/aws/ProfileReader.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/StorageType.java
  test/Tests/src/Semantic/Meta_Location_Spec.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix scrollbars not being visible in fullscreen text visualisation. (#7069)
  app/gui/view/graph-editor/src/builtin/visualization/native/text_visualization.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix defect where constructor fields not show for `Value` constructors. (#7080)
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/IdExecutionService.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix: Remove race in MultiProgress write/flush (#7086)
  build/ci_utils/src/global.rs
  build/ci_utils/src/log.rs
Owners: @mwu-tow

Fix leaks after calling wasm drop (#7038)
  lib/rust/ensogl/component/text/src/font.rs
  lib/rust/ensogl/core/src/control/io/mouse.rs
  lib/rust/ensogl/core/src/display/render/passes/cache_shapes.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/world.rs
  lib/rust/frp/src/io/js.rs
  lib/rust/web/Cargo.toml
  lib/rust/web/src/binding/mock.rs
  lib/rust/web/src/binding/wasm.rs
  lib/rust/web/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Fix redundant imports when selecting options from the dropdown widget (#7028)
  CHANGELOG.md
  app/gui/src/controller/graph.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/controller/module.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/breadcrumbs.rs
  app/gui/src/controller/searcher/component/builder.rs
  app/gui/src/controller/searcher/component/group.rs
  app/gui/src/controller/text.rs
  app/gui/src/test.rs
  app/gui/suggestion-database/src/documentation_ir.rs
  app/gui/suggestion-database/src/entry.rs
  app/gui/suggestion-database/src/lib.rs
  app/gui/suggestion-database/src/mock.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Disable macOS signing and notarization (#7092)
  .github/workflows/gui.yml
  .github/workflows/release.yml
  build/build/src/ci_gen/job.rs
Owners: @mwu-tow

Fix link to Enso IDE (gui -> app/gui) (#7029)
  README.md
Owners: none

Replace Tailwind with custom CSS rules in documentation panel (#6978)
  app/gui/view/documentation/README.md
  app/gui/view/documentation/assets/icon-examples.svg
  app/gui/view/documentation/assets/icon-important.svg
  app/gui/view/documentation/assets/icon-info.svg
  app/gui/view/documentation/assets/icon-methods.svg
  app/gui/view/documentation/assets/icon-type.svg
  app/gui/view/documentation/assets/input.css
  app/gui/view/documentation/assets/styles.css
  app/gui/view/documentation/build.rs
  app/gui/view/documentation/package-lock.json
  app/gui/view/documentation/package.json
  app/gui/view/documentation/src/html.rs
  app/gui/view/documentation/src/lib.rs
  app/gui/view/documentation/tailwind.config.js
  app/gui/view/examples/documentation/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix fast typing leading to wrong component browser selection. (#7032)
  app/gui/src/presenter/searcher.rs
  app/gui/view/src/project.rs
  lib/rust/frp/src/io/timer/timeout.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix startup performance bug (#7089)
  lib/rust/ensogl/core/src/display/scene.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

fix dragging out edge from node output (#7108)
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Do not invalidate caches when building engine distribution (#7106)
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Reenable macOS signing and notarization (#7112)
  .github/workflows/gui.yml
  .github/workflows/release.yml
  build/build/src/ci_gen/job.rs
Owners: @mwu-tow

Empty input in REPL does not throw NPE (#7111)
  engine/runner/src/main/scala/org/enso/runner/Repl.scala
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Always call instance methods on Any (#7033)
  CHANGELOG.md
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/PrintTest.java
  test/Tests/src/Semantic/Any_Spec.enso
  test/Tests/src/Semantic/Definitions/Any_Types.enso
  test/Tests/src/Semantic/Equals_Spec.enso
  test/Tests/src/Semantic/Error_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Don't instrument function bodies (#7097)
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/AvoidIdInstrumentationTagTest.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/StatementNode.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add retries to GraalVM updater commands (#7079)
  CHANGELOG.md
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdaterSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Do not clear method pointer on pending updates (#7110)
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/src/model/execution_context.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Vector.map & State (#7078)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/InvokeFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Vector.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/builtins/MethodNodeClassGenerator.java
  test/Tests/src/Data/Vector_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Improve TCO in the presence of warnings (#7116)
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CurryNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/IndirectCurryNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/ThunkExecutorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/SortVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/control/TailCallException.java
  test/Tests/src/Semantic/Warnings_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Add method call info for infix operators (#7090)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/IdExecutionService.java
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/BuiltinTypesTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/BuiltinRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/InstrumentTestContext.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/DateTest.scala
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/MethodProcessor.java
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Polyglot.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Drop-down widgets for extension functions via UnresolvedSymbol (#7115)
  app/gui/controller/engine-protocol/src/language_server/tests.rs
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/controller/graph/widget.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/visualization/manager.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/tests/language_server.rs
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Widgets.enso
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/VisualizationConfiguration.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ExecutionContextJsonMessages.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VisualizationOperationsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetAnnotationNode.java
  test/Tests/src/Semantic/Meta_Spec.enso
  test/Visualization_Tests/src/Widgets/Database_Widgets_Spec.enso
  test/Visualization_Tests/src/Widgets/Table_Widgets_Spec.enso
  test/Visualization_Tests/src/Widgets/Text_Widgets_Spec.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

(even more) Dashboard fixes (#6919)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/confirmDeleteModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/permissionDisplay.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/rows.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @somebody1234, @PabloBuchu, @indiv0

Documenting how to debug project-manager project (#7153)
  build.sbt
  docs/CONTRIBUTING.md
  docs/debugger/README.md
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Send `executionComplete` response only on success (#7143)
  CHANGELOG.md
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeFailureMapper.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Do not adjust node position when created under mouse cursor. (#7136)
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/graph-editor/src/new_node_position.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Bump electrion version (#7134)
  app/gui/src/model/execution_context.rs
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/lib/client/src/file-associations.ts
  app/ide-desktop/package-lock.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @PabloBuchu, @indiv0, @somebody1234

Don't report EOFException on shutdown (#7157)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
Owners: @4e6, @jaroslavtulach, @hubertp

move method icon definition to documentation tag (#7123)
  Cargo.lock
  app/gui/language/ast/impl/src/lib.rs
  app/gui/src/controller/searcher/component.rs
  app/gui/src/controller/searcher/component/builder.rs
  app/gui/suggestion-database/src/documentation_ir.rs
  app/gui/suggestion-database/src/entry.rs
  app/gui/suggestion-database/src/mock.rs
  app/gui/view/examples/documentation/src/lib.rs
  app/gui/view/examples/icons/Cargo.toml
  app/gui/view/examples/icons/src/lib.rs
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  lib/rust/parser/doc-parser/src/doc_sections.rs
  lib/rust/parser/doc-parser/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis, @jaroslavtulach

HashMapNode supports atoms with custom comparators (#7165)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsAtomNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/HashCodeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/hash/EnsoHashMap.java
  test/Tests/src/Data/Map_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Send info about function values (#7168)
  CHANGELOG.md
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/IdExecutionService.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Separated templates and directory list (#6995)
  app/ide-desktop/lib/assets/rotating_arrow.svg
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @MichaelMauderer, @wdanilo, @PabloBuchu, @indiv0, @somebody1234
