Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234

Add support for `Filter_Condition` in `any`, `all`, `find`, `partition` and `index_of` (#7148)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/List.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  test/Tests/src/Data/List_Spec.enso
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Time/Date_Range_Spec.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add round, ceil, floor, truncate to the In-Database Column type (#6988)
  CHANGELOG.md
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Internal/Rounding_Helpers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Type_Mapping.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/DoubleLongMapOpWithSpecialNumericHandling.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/UnaryMapOperationWithProblemBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Expression_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

parse_to_columns should generate at least one row for a non-match (#7171)
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Split_Tokenize.enso
  test/Table_Tests/src/In_Memory/Split_Tokenize_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Truncate long error messages (#7180)
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Helpers.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Preprocessor.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Don't start Enso automatically after installation completes. (#7175)
  app/ide-desktop/lib/client/electron-builder-config.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Delay URM reset until the async initialization is done. (#7121)
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Preview keeps showing when cursor is over it, preventing flickering (#7158)
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Provide human-readable error log during installation (#7159)
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Reload project's config on rename (#7179)
  engine/language-server/src/main/scala/org/enso/languageserver/libraries/EditionReferenceResolver.scala
  engine/language-server/src/main/scala/org/enso/languageserver/libraries/LocalLibraryManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/libraries/ProjectSettingsManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/workspace/ProjectInfoHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/LibrariesTest.scala
  engine/runner/src/main/scala/org/enso/runner/DependencyPreinstaller.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/RenameProjectCmd.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeComponentsTest.scala
  engine/runtime/src/main/java/org/enso/compiler/ImportExportCache.java
  engine/runtime/src/main/java/org/enso/compiler/ModuleCache.java
  engine/runtime/src/main/java/org/enso/compiler/SuggestionsCache.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EnsoProjectNode.java
  engine/runtime/src/main/scala/org/enso/compiler/PackageRepository.scala
  lib/scala/library-manager/src/main/scala/org/enso/librarymanager/LibraryResolver.scala
  lib/scala/library-manager/src/main/scala/org/enso/libraryupload/LibraryUploader.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/Config.scala
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/repository/ProjectFileRepository.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/runner/Project.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Implement `add_row_number` for Database backends, fix primary key inference for SQLite (#7174)
  CHANGELOG.md
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Type_Mapping.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Row_Number.enso
  test/Table_Tests/src/Common_Table_Operations/Add_Row_Number_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/Database/Common/Common_Spec.enso
  test/Table_Tests/src/Database/Common/Default_Ordering_Spec.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Table_Tests/src/In_Memory/Common_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add timeout retries for project-related operations (#7173)
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  lib/scala/project-manager/src/main/resources/application.conf
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/configuration.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ClientController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectCreateHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectListHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectOpenHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/RequestHandler.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fix dashboard React errors (#7128)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/backend.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Support signing up to an existing organization (#7145)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/confirmRegistration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix a bug that somehow went under CI (#7204)
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Row_Number.enso
  std-bits/base/src/main/java/org/enso/base/arrays/MutableLongArrayWrapper.java
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

A dataflow error with warnings reports the former (#7205)
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/WithWarnings.java
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Update context on timeout retry (#7207)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/RequestHandler.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Combine Regex and Pattern (#7172)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Case_Sensitivity.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Internal/Match_Iterator.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Internal/Replacer.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Match.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Pattern.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Split_Tokenize.enso
  test/Tests/src/Data/Text/Regex_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Remove connections for a node that is being deleted. (#7185)
  app/gui/src/controller/graph.rs
  app/gui/src/controller/graph/executed.rs
  app/gui/src/presenter/graph.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Do not rename column on fill_nothing and add version to the Table allowing filling multiple (include fill_empty as well). (#7166)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

add support for bidirectional rectangle border and inset (#7188)
  app/gui/view/graph-editor/src/component/edge/render.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  lib/rust/ensogl/component/list-editor/src/placeholder.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/class.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/modifier.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/primitive.rs
  lib/rust/ensogl/core/src/display/shape/primitive/def/var.rs
  lib/rust/ensogl/core/src/display/shape/primitive/glsl/fragment_runner.glsl
  lib/rust/ensogl/core/src/display/shape/primitive/glsl/shape.glsl
  lib/rust/ensogl/core/src/display/shape/primitive/shader/canvas.rs
  lib/rust/ensogl/examples/built-in-shapes/src/lib.rs
  lib/rust/ensogl/examples/instance-ordering/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix mouse hover events. (#7177)
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/input/widget/list_editor.rs
  app/gui/view/graph-editor/src/component/node/output/port.rs
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/scene.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Reload externally changed file on a keypress (#7217)
  app/gui/src/controller/graph/executed.rs
  app/gui/src/model/module.rs
  app/gui/src/model/module/plain.rs
  app/gui/src/model/module/synchronized.rs
  app/gui/src/presenter/project.rs
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add Table.replace; Change Text.replace to take a Text|Pattern, and remove the use_regex param. (#7223)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Case_Sensitivity.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Naming_Helpers.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Initialize Language Server's JSON RPC protocol asynchronously (#7232)
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpcProtocolFactory.scala
  lib/scala/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/JsonRpcServer.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/MessageHandler.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/MessageHandlerSupervisor.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/Protocol.scala
  lib/scala/json-rpc-server/src/main/scala/org/enso/jsonrpc/ProtocolFactory.scala
  lib/scala/json-rpc-server/src/test/scala/org/enso/jsonrpc/MessageHandlerSpec.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/JsonRpc.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/JsonRpcProtocolFactory.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

New Prototype AI Searcher (#7146)
  CHANGELOG.md
  app/gui/src/controller/graph.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/breadcrumbs.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/src/presenter/searcher/ai.rs
  app/gui/src/presenter/searcher/component_browser.rs
  app/gui/src/presenter/searcher/component_browser/provider.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/graph-editor/src/shortcuts.rs
  app/gui/view/src/project.rs
  app/gui/view/src/root.rs
  build-config.yaml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Cache dataflow errors (#7193)
  CHANGELOG.md
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Illegal_Argument.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Resizing visualizations (#7164)
  CHANGELOG.md
  Cargo.lock
  app/gui/view/component-browser/src/lib.rs
  app/gui/view/documentation/src/lib.rs
  app/gui/view/graph-editor/Cargo.toml
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/error.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fixes from the live demo. (#7243)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Aggregate_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  std-bits/table/src/main/java/org/enso/table/data/index/MultiValueIndex.java
  std-bits/table/src/main/java/org/enso/table/error/TooManyColumnsException.java
  test/Table_Tests/src/Common_Table_Operations/Aggregate_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Cross_Tab_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/Database/Common/Common_Spec.enso
  test/Table_Tests/src/In_Memory/Aggregate_Column_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix Undo/Redo for visualization toggling (#7209)
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix right click (#7237)
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/modal.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Skip local engine version check (#7230)
  app/gui/config/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add cross_join support to Database Table (#7234)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Join_Kind_Cross.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Cross_Join_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add fileModifiedOnDisk notification (#7239)
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/src/model/project/synchronized.rs
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileManagerProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/filemanager/FileSystemApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/WriteBinaryFileHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/file/WriteTextualFileHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/Buffer.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/CollaborativeBuffer.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/FileWithMetadata.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/TextApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/TextProtocol.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  lib/scala/text-buffer/src/main/scala/org/enso/text/ContentVersion.scala
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Round on a column was always adding a warning (#7246)
  distribution/lib/Standard/Base/0.0.0-dev/src/Any.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/AbstractLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Automatically apply `from` conversion when runtime argument check fails (#7009)
  CHANGELOG.md
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/ListBenchmarks.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentCheckNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/TypeOfNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/LiteralNode.java
  engine/runtime/src/test/java/org/enso/interpreter/test/SignatureTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix improperly scoped styles in visualizations (#7211)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/histogram.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley

Show spinner on templates when creating project (#7225)
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/rows.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/spinner.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/templates.tsx
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

"Share with" button (#7100)
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/autocomplete.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/managePermissionsModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/permissionDisplay.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/permissionSelector.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/error.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/set.ts
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.ts
Owners: @somebody1234, @PabloBuchu, @indiv0

Add remoteLog function for gathering gui logs (#6582)
  app/gui/analytics/src/remote_log.rs
  app/ide-desktop/lib/content-config/src/config.json
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/remoteLog.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
  app/ide-desktop/lib/types/types.d.ts
  lib/rust/ensogl/pack/js/src/runner/config.json
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw, @PabloBuchu, @indiv0, @somebody1234

Convert vector elements when needed (#7271)
  test/Tests/src/Semantic/Conversion_Spec.enso
  test/Tests/src/Semantic/Conversion_Use.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis
