Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MichaelMauderer, @mwu-tow, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @jdunkerley, @radeusgd

EnsoCompilerTest to verify compatibility of parsers (#3723)
  build.sbt
  engine/runtime/src/main/java/org/enso/compiler/EnsoCompiler.java
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/java/org/enso/compiler/EnsoCompilerTest.java
  lib/rust/metamodel/src/java/bincode.rs
  lib/rust/parser/generate-java/java/org/enso/syntax2/Either.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/FormatException.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/Message.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/Parser.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/UnsupportedSyntaxException.java
  project/plugins.sbt
Owners: @4e6, @jaroslavtulach, @kazcw, @wdanilo

Fixing yargs and electron-builder regressions (#3725)
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/patches/README.md
  app/ide-desktop/patches/app-builder-lib+23.3.3.patch
  docs/CONTRIBUTING.md
Owners: @MichaelMauderer, @wdanilo

Component Browser Entry (#3718)
  Cargo.lock
  app/gui/view/component-browser/component-group/Cargo.toml
  app/gui/view/component-browser/component-group/src/icon.rs
  app/gui/view/component-browser/component-group/src/lib.rs
  app/gui/view/component-browser/component-group/src/new_entry.rs
  app/gui/view/component-browser/component-group/src/new_entry/style.rs
  app/gui/view/component-browser/searcher-list-panel/src/layout.rs
  app/gui/view/component-browser/searcher-list-panel/src/layouting.rs
  app/gui/view/component-browser/searcher-list-panel/src/lib.rs
  app/gui/view/debug_scene/Cargo.toml
  app/gui/view/debug_scene/new-component-list-panel-view/Cargo.toml
  app/gui/view/debug_scene/new-component-list-panel-view/src/lib.rs
  app/gui/view/debug_scene/src/lib.rs
  build-config.yaml
  lib/rust/ensogl/component/grid-view/src/entry.rs
  lib/rust/ensogl/component/grid-view/src/entry/visible.rs
  lib/rust/ensogl/component/grid-view/src/header.rs
  lib/rust/ensogl/component/grid-view/src/selectable/highlight.rs
  lib/rust/ensogl/component/grid-view/src/selectable/highlight/layer.rs
  lib/rust/ensogl/component/text/src/component/area.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon

Ensure the Visualization Is Opened on the Edited Node when the Component Browser is Opened. (#3714)
  app/gui/src/presenter/graph.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

GridView auto-scrolling when navigating with keyboard (#3687)
  build-config.yaml
  lib/rust/ensogl/component/grid-view/src/entry/visible.rs
  lib/rust/ensogl/component/grid-view/src/lib.rs
  lib/rust/ensogl/component/grid-view/src/scrollable.rs
  lib/rust/ensogl/component/grid-view/src/selectable.rs
  lib/rust/ensogl/component/scroll-area/src/lib.rs
  lib/rust/ensogl/example/grid-view/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon

Add business days functions to Date and Date_Time (#3726)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Map.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Statistics.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Tests/src/Data/Ordering/Comparator_Spec.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
Owners: @jdunkerley, @radeusgd

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon
/lib/rust/metamodel/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/profiler/ @kazcw @MichaelMauderer @wdanilo
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6
/lib/scala/interpreter-dsl/ @4e6 @jaroslavtulach

# GUI
/run @MichaelMauderer @wdanilo
/build/ @MichaelMauderer @wdanilo
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6
/distribution/ @4e6
/engine/ @4e6 @jaroslavtulach
/project/ @4e6
/test/ @jdunkerley @radeusgd
/tools/ @4e6

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd

# Engine
/app/engine/ @4e6
