Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

"at_least_one" flag for tokenize_to_rows (#6539)
  CHANGELOG.md
  app/ide-desktop/lib/dashboard/src/index.html
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Split_Tokenize.enso
  test/Table_Tests/src/In_Memory/Split_Tokenize_Spec.enso
Owners: @PabloBuchu, @indiv0, @somebody1234, @jdunkerley, @radeusgd, @GregoryTravis

Show error pop-up when failing to rename a project (#6366)
  CHANGELOG.md
  Cargo.lock
  app/gui/controller/engine-protocol/src/common/error.rs
  app/gui/src/model/project/synchronized.rs
  app/gui/src/presenter/project.rs
  app/gui/view/examples/interface/src/lib.rs
  app/gui/view/graph-editor/Cargo.toml
  app/gui/view/graph-editor/src/component/breadcrumbs.rs
  app/gui/view/graph-editor/src/component/breadcrumbs/project_name.rs
  app/gui/view/src/debug_mode_popup.rs
  app/gui/view/src/lib.rs
  app/gui/view/src/popup.rs
  app/gui/view/src/project.rs
  build-config.yaml
  integration-test/tests/graph_editor.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix the Engine version check in GUI (#6570)
  Cargo.lock
  Cargo.toml
  app/gui/Cargo.toml
  app/gui/config.yaml
  app/gui/config/Cargo.toml
  app/gui/config/src/lib.rs
  app/gui/src/controller/project.rs
  app/gui/src/model/project/synchronized.rs
  build/build/Cargo.toml
  build/ci_utils/Cargo.toml
  lib/rust/ensogl/core/Cargo.toml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Revert typescript CI Lint changes (#6602)
  app/ide-desktop/lib/client/src/file-associations.ts
  app/ide-desktop/lib/content-config/src/index.ts
  app/ide-desktop/lib/types/modules.d.ts
  build/cli/src/lib.rs
Owners: @PabloBuchu, @indiv0, @somebody1234, @MichaelMauderer, @wdanilo, @mwu-tow

Fix visualisation type selector artifacts rendered after node preview visualisation was closed. (#6575)
  app/gui/view/graph-editor/src/component/visualization/container.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Fix dashboard issues (part 2) (#6511)
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/setUsername.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/confirmDeleteModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/createForm.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/modal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/backend.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Add format to the in-memory Column (#6538)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Format.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDateTime.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeOfDay.java
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Table_Tests/src/In_Memory/Column_Format_Spec.enso
  test/Table_Tests/src/In_Memory/Main.enso
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix node editing race condition (#6594)
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

tokenize_to_columns or parse_to_columns results in a single column we shouldn't add the 1 (#6607)
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Split_Tokenize.enso
  test/Table_Tests/src/In_Memory/Split_Tokenize_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Improve `Non_Unique_Primary_Key` error, split file format detection into read/write, improve SQLite format detection (#6604)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File_Format.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/SQLite_Format.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Table.enso
  distribution/lib/Standard/Image/0.0.0-dev/src/Image_File_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Delimited/Delimited_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Format.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Extensions.enso
  test/Image_Tests/src/Image_Read_Write_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Java_Interop_Spec.enso
  test/Tests/src/System/File_Read_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add tests for Date.until, Date.next and Date.previous. (#6606)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  test/Tests/src/Data/Time/Date_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix #6377: Change ctrl-r shortcut (#6620)
  CHANGELOG.md
  app/gui/docs/product/shortcuts.md
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix asset delete; implement project delete and project rename (#6566)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/confirmDeleteModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/index.html
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix issues with missing sourcemaps (#6572)
  app/ide-desktop/lib/client/src/bin/server.ts
  app/ide-desktop/lib/client/src/index.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  build/build/paths.yaml
  build/build/src/project/wasm.rs
Owners: @PabloBuchu, @indiv0, @somebody1234, @mwu-tow

Add COOP+COEP+CORP headers (#6597)
  app/ide-desktop/lib/client/src/bin/server.ts
  app/ide-desktop/lib/common/src/index.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Limit the number of reported warnings (#6577)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Warning.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Warnings.enso
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/WarningBenchmarks.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/IndirectInvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/IndirectInvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/IndirectInvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeConversionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/caseexpr/CaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/InstantiateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/SortVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/foreign/CoerceNothing.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Array.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/ArraySlice.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Vector.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/Warning.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/WarningsLibrary.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/WithWarnings.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/WarningsTest.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/MethodProcessor.java
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Warnings_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Make Meta.get_annotation work for constructor (#6633)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetAnnotationNode.java
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Automatic type based dropdown does not include singleton in a union type (#6629)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/Any.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/Builtin.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/Nothing.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/Panic.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/Decimal.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/Integer.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/Number.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/Text.java
  engine/runtime/src/main/scala/org/enso/compiler/SerializationManager.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleInScopeJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleJob.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/BuiltinsProcessor.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix shortcuts table formatting (#6644)
  app/gui/docs/product/shortcuts.md
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Revert "Add COOP+COEP+CORP headers (#6597)" (#6647)
  app/ide-desktop/lib/client/src/bin/server.ts
  app/ide-desktop/lib/common/src/index.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Whitelist AWS Cognito domains (#6643)
  app/ide-desktop/lib/client/src/security.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix #6287: wrong nested breadcrumb ordering (#6617)
  CHANGELOG.md
  app/gui/src/controller/graph/executed.rs
  app/gui/src/controller/project.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/call_stack.rs
  app/gui/src/presenter/graph/visualization.rs
  app/gui/view/graph-editor/src/component/breadcrumbs.rs
  app/gui/view/graph-editor/src/component/breadcrumbs/breadcrumb.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix redirect paths and enable authentication and new dashboard by default (#6605)
  app/ide-desktop/lib/content-config/src/config.json
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/esbuild-config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/config.ts
  app/ide-desktop/lib/dashboard/watch.ts
  app/ide-desktop/lib/types/globals.d.ts
Owners: @MichaelMauderer, @wdanilo, @PabloBuchu, @indiv0, @somebody1234

All Vector operations shall be applicable on java.util.ArrayList (#6642)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/immutable/SliceArrayVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Array.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Vector.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/PanicException.java
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/model/MethodDefinition.java
  test/Tests/src/Data/Vector_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add `Date_Range` (#6621)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/List.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Map.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Pair.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  test/Tests/src/Data/Range_Spec.enso
  test/Tests/src/Data/Time/Date_Range_Spec.enso
  test/Tests/src/Data/Time/Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix blank input port (#6614)
  app/gui/view/graph-editor/src/component/node/input/widget.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Implement loading spinner for visualisations. (#6512)
  CHANGELOG.md
  Cargo.lock
  app/gui/view/documentation/src/lib.rs
  app/gui/view/graph-editor/src/component/visualization/container.rs
  lib/rust/ensogl/component/Cargo.toml
  lib/rust/ensogl/component/spinner/Cargo.toml
  lib/rust/ensogl/component/spinner/src/lib.rs
  lib/rust/ensogl/component/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Add COOP+COEP+CORP headers (#6646)
  app/gui/view/examples/text-grid-visualization/src/lib.rs
  app/gui/view/graph-editor/src/builtin/visualization/java_script/heatmap.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/helpers/loading.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/histogram.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  app/ide-desktop/lib/client/src/bin/server.ts
  app/ide-desktop/lib/common/src/index.ts
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley, @PabloBuchu, @indiv0, @somebody1234

disable authentication and newDashboard by default (#6664)
  app/ide-desktop/lib/content-config/src/config.json
Owners: @MichaelMauderer, @wdanilo

Improving widgets for take/drop (#6641)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetConstructorDeclaringTypeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetShortTypeNameNode.java
  test/Table_Tests/src/Common_Table_Operations/Take_Drop_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
  test/Visualization_Tests/src/Widgets/Text_Widgets_Spec.enso
  test/Visualization_Tests/src/Widgets_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Removing flush (#6670)
  lib/rust/ensogl/core/src/display/render/passes/pixel_read.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Improvements to the Table visualization. (#6653)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Metadata.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis

SuggestionBuilder needs to send ascribedType of constructor parameters (#6655)
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/File_Error.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Excel_Reader.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Test.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/SQL/Visualization.enso
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  test/Benchmarks/src/Vector/Utils.enso
  test/Tests/src/Semantic/Default_Args_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Verify ascribed types of parameters really exist (#6584)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Match.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/GlobalNames.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/SignatureTest.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Force `newDashboard` default on the CI-built packages. (#6680)
  app/gui/view/documentation/src/lib.rs
  build/base/src/fs.rs
  build/build/paths.yaml
  build/build/src/project/gui.rs
  lib/rust/ensogl/component/spinner/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @mwu-tow

Build nightlies every day. (#6681)
  .github/workflows/nightly.yml
  build/build/src/ci_gen.rs
Owners: @mwu-tow

Fix `--startup.project` to bypass opening dashboard (#6671)
  app/ide-desktop/lib/content/src/index.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Ensure slow shutdown of LS always kicks off hooks (#6665)
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerKiller.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerRegistry.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ShutdownHookActivator.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Create unique atom getter suggestions (#6694)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix logic for enabling dashboard (#6696)
  app/ide-desktop/lib/content/src/index.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
