Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MichaelMauderer, @mwu-tow, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @4e6, @jdunkerley, @radeusgd

Add `Table.take` and `Table.drop` functions to In-Memory table (#3647)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  std-bits/table/src/main/java/org/enso/table/data/index/HashIndex.java
  std-bits/table/src/main/java/org/enso/table/data/index/Index.java
  std-bits/table/src/main/java/org/enso/table/data/mask/SliceRange.java
  std-bits/table/src/main/java/org/enso/table/data/table/Column.java
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  test/Table_Tests/src/Column_Spec.enso
  test/Table_Tests/src/Common_Table_Spec.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
  test/Table_Tests/src/Util.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Vector/Slicing_Helpers_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
Owners: @jdunkerley, @radeusgd

DataFormatter should infer datetime from values without seconds (#3668)
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Data_Formatter.enso
  test/Table_Tests/data/datetime_sample.csv
  test/Table_Tests/data/time_of_day_sample.csv
  test/Table_Tests/src/Data_Formatter_Spec.enso
Owners: @jdunkerley, @radeusgd

CI Updates (ECR push and disabling integration tests) (#3672)
  .github/workflows/benchmark.yml
  .github/workflows/gui.yml
  .github/workflows/nightly.yml
  .github/workflows/scala-new.yml
  Cargo.lock
Owners: none

Split long lines to 1024 long chunks (#3665)
  CHANGELOG.md
  app/gui/controller/engine-protocol/Cargo.toml
  app/gui/view/graph-editor/src/builtin/visualization/native/raw_text.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

[CI] Cleaning runtime before building engine. (#3675)
  Cargo.lock
Owners: none

Remove a leftover debug print (#3676)
  engine/runner/src/main/scala/org/enso/runner/Main.scala
Owners: @4e6, @jaroslavtulach

IDE uses new visualization API (#3661)
  CHANGELOG.md
  app/gui/controller/engine-protocol/src/language_server/tests.rs
  app/gui/controller/engine-protocol/src/language_server/types.rs
  app/gui/docs/product/visualizations.md
  app/gui/src/controller/graph/executed.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/plain.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/presenter/graph/visualization.rs
  app/gui/src/presenter/graph/visualization/manager.rs
  app/gui/tests/language_server.rs
  app/gui/view/debug_scene/visualization/src/lib.rs
  app/gui/view/graph-editor/src/builtin/visualization/java_script/geoMap.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/heatmap.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/histogram.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/sql.js
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
  app/gui/view/graph-editor/src/builtin/visualization/native/error.rs
  app/gui/view/graph-editor/src/component/visualization/foreign/java_script/binding.rs
  app/gui/view/graph-editor/src/component/visualization/foreign/java_script/visualization.js
  app/gui/view/graph-editor/src/component/visualization/instance.rs
  app/gui/view/graph-editor/src/data.rs
  build-config.yaml
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Preprocessor.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/VisualisationConfiguration.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ExecutionContextJsonMessages.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VisualisationOperationsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/Visualisation.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualisationJob.scala
  lib/rust/prelude/src/string.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @jdunkerley, @radeusgd, @4e6, @jaroslavtulach, @kazcw

CI and build script update (#3677)
  .github/workflows/benchmark.yml
  .github/workflows/gui.yml
  .github/workflows/nightly.yml
  .github/workflows/scala-new.yml
  Cargo.lock
  app/ide-desktop/lib/content/esbuild-config.ts
  app/ide-desktop/lib/content/package.json
  run.cmd
Owners: @MichaelMauderer, @wdanilo

Remove GitHub discussions link (#3680)
  README.md
Owners: none

Parser: Parse UUIDs; implement comments in AST; implement type annotations and signatures; fix field names (#3653)
  Cargo.lock
  lib/rust/metamodel/src/java/from_meta.rs
  lib/rust/metamodel/src/java/implementation.rs
  lib/rust/metamodel/src/java/mod.rs
  lib/rust/metamodel/src/rust/mod.rs
  lib/rust/metamodel/src/rust/to_meta.rs
  lib/rust/parser/Cargo.toml
  lib/rust/parser/generate-java/java/org/enso/syntax2/Either.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/Message.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/Parser.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/UnsupportedSyntaxException.java
  lib/rust/parser/generate-java/src/bin/java-tests.rs
  lib/rust/parser/generate-java/src/serialization.rs
  lib/rust/parser/jni/src/lib.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/metadata.rs
  lib/rust/parser/src/syntax/item.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/tests/metadata/mod.rs
  lib/rust/parser/tests/parse.rs
  lib/rust/reflect/macros/src/analyze.rs
  lib/rust/reflect/macros/src/lib.rs
  lib/rust/reflect/macros/src/runtime.rs
Owners: @kazcw, @wdanilo, @jaroslavtulach, @MichaelMauderer, @mwu-tow, @farmaazon

Parse text literals (#3681)
  lib/rust/metamodel/src/meta/serialization.rs
  lib/rust/metamodel/src/rust/to_meta.rs
  lib/rust/parser/generate-java/java/org/enso/syntax2/Message.java
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/syntax/item.rs
  lib/rust/parser/src/syntax/operator.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/tests/parse.rs
Owners: @kazcw, @wdanilo, @jaroslavtulach

Make In Memory Table Aggregator types more specific where possible (#3679)
  std-bits/table/src/main/java/org/enso/table/aggregations/First.java
  std-bits/table/src/main/java/org/enso/table/aggregations/GroupBy.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Last.java
  std-bits/table/src/main/java/org/enso/table/aggregations/MinOrMax.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Mode.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateTimeStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/SpecializedStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/TimeOfDayStorage.java
  std-bits/table/src/main/java/org/enso/table/data/index/MultiValueIndex.java
  test/Table_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd

Fix a link in Readme.md and some punctuation. (#3685)
  README.md
Owners: none

Add a note about the need of Python 2 on MacOS to CONTRIBUTING.md (#3682)
  docs/CONTRIBUTING.md
Owners: none

create inmem database (#3690)
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
Owners: @4e6, @jaroslavtulach

Check methods of a type are present on its Atoms (#3689)
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  engine/runtime/src/test/java/org/enso/interpreter/test/TypeMembersTest.java
Owners: @4e6, @jaroslavtulach

Add `Table.distinct` function to In-Memory table (#3684)
  CHANGELOG.md
  build.sbt
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Case.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Matching.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Table/0.0.0-dev/THIRD-PARTY/com.ibm.icu.icu4j-71.1/LICENSE
  distribution/lib/Standard/Table/0.0.0-dev/THIRD-PARTY/com.ibm.icu.icu4j-71.1/NOTICES
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  std-bits/base/src/main/java/org/enso/base/text/TextFoldingStrategy.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Concatenate.java
  std-bits/table/src/main/java/org/enso/table/aggregations/CountDistinct.java
  std-bits/table/src/main/java/org/enso/table/aggregations/First.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Last.java
  std-bits/table/src/main/java/org/enso/table/aggregations/Percentile.java
  std-bits/table/src/main/java/org/enso/table/aggregations/StandardDeviation.java
  std-bits/table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  std-bits/table/src/main/java/org/enso/table/data/index/HashIndex.java
  std-bits/table/src/main/java/org/enso/table/data/index/Index.java
  std-bits/table/src/main/java/org/enso/table/data/index/MultiValueIndex.java
  std-bits/table/src/main/java/org/enso/table/data/index/MultiValueKey.java
  std-bits/table/src/main/java/org/enso/table/data/index/MultiValueKeyBase.java
  std-bits/table/src/main/java/org/enso/table/data/index/OrderedMultiValueKey.java
  std-bits/table/src/main/java/org/enso/table/data/index/UnorderedMultiValueKey.java
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  std-bits/table/src/main/java/org/enso/table/operations/Distinct.java
  test/Table_Tests/src/Aggregate_Column_Spec.enso
  test/Table_Tests/src/Aggregate_Spec.enso
  test/Table_Tests/src/Table_Spec.enso
  tools/legal-review/Table/com.ibm.icu.icu4j-71.1/copyright-ignore
  tools/legal-review/Table/com.ibm.icu.icu4j-71.1/copyright-keep
  tools/legal-review/Table/com.ibm.icu.icu4j-71.1/custom-license
  tools/legal-review/Table/com.ibm.icu.icu4j-71.1/files-keep
  tools/legal-review/Table/report-state
Owners: @4e6, @jdunkerley, @radeusgd

Restructuring `Database.Connection` to allow for database specific types. (#3632)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Postgres.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Redshift.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/SQLite.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect/Postgres.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect/SQLite.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Internal/Aggregate_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Error.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Result_Set.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/IO/File_Format.enso
  std-bits/database/src/main/java/org/enso/database/JDBCProxy.java
  test/Table_Tests/src/Aggregate_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/Database/Common_Spec.enso
  test/Table_Tests/src/Database/Helpers/Fake_Test_Connection.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/README.md
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @jdunkerley, @radeusgd

Tidy up type signatures and error types (#3693)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/List.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Locale.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Map.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering/Comparator.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Regression.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Encoding.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Matching.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine/Default.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Error/Common.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/Http.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/Process.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Internal/Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Data_Formatter.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/IO/File_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Faker.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Scatter_Plot.enso
  test/Benchmarks/src/Statistics/CountMinMax.enso
  test/Benchmarks/src/Table/Aggregate.enso
Owners: @jdunkerley, @radeusgd

Prevent reading broken IR caches by changing their serialVersionUID (#3692)
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
Owners: @4e6, @jaroslavtulach

Use Mplus1 font (#3688)
  Cargo.lock
  app/gui/view/welcome-screen/style.css
  app/ide-desktop/lib/content/src/docsStyle.css
  app/ide-desktop/lib/content/src/docsStyle.less
  app/ide-desktop/lib/content/src/style.css
  build/build-utils/src/lib.rs
  lib/rust/ensogl/component/text/src/font/embedded/Cargo.toml
  lib/rust/ensogl/component/text/src/font/embedded/build.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon

Print result of main (if not Nothing) (#3696)
  CHANGELOG.md
  engine/runner/src/main/scala/org/enso/runner/Main.scala
Owners: @4e6, @jaroslavtulach

Fix Regression: Node not selected after adding. (#3698)
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon

Add Period Start and End functions to Date and DateTime (#3695)
  CHANGELOG.md
  build.sbt
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Period.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Period.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeZone.java
  std-bits/base/src/main/java/org/enso/base/Time_Utils.java
  std-bits/base/src/main/java/org/enso/base/time/Date_Period_Utils.java
  std-bits/base/src/main/java/org/enso/base/time/Date_Time_Utils.java
  std-bits/base/src/main/java/org/enso/base/time/Date_Utils.java
  std-bits/base/src/main/java/org/enso/base/time/TimeUtilsBase.java
  std-bits/base/src/main/java/org/enso/base/time/Time_Of_Day_Utils.java
  test/Tests/src/Data/Time/Date_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
  test/Tests/src/Data/Time/Time_Of_Day_Spec.enso
  test/Tests/src/Semantic/Java_Interop_Spec.enso
Owners: @4e6, @jdunkerley, @radeusgd, @jaroslavtulach

Fix execution error message (#3702)
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
Owners: @4e6, @jaroslavtulach

GridView selection keyboard navigation. (#3657)
  lib/rust/ensogl/component/grid-view/src/header.rs
  lib/rust/ensogl/component/grid-view/src/lib.rs
  lib/rust/ensogl/component/grid-view/src/selectable.rs
  lib/rust/ensogl/core/src/gui/component.rs
  lib/rust/ensogl/example/grid-view/src/lib.rs
  lib/rust/frp/src/io/keyboard.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Parser: Utf16, recursive spans, `toString`, lambdas, case expressions, operator precedence, array and tuple literals, numeric literals (#3706)
  lib/rust/metamodel/lexpr/src/lib.rs
  lib/rust/metamodel/src/java/bincode.rs
  lib/rust/metamodel/src/java/from_meta.rs
  lib/rust/metamodel/src/java/implementation.rs
  lib/rust/metamodel/src/java/mod.rs
  lib/rust/metamodel/src/meta/mod.rs
  lib/rust/metamodel/src/meta/serialization.rs
  lib/rust/metamodel/src/meta/transform.rs
  lib/rust/parser/generate-java/java/org/enso/syntax2/Message.java
  lib/rust/parser/generate-java/java/org/enso/syntax2/Parser.java
  lib/rust/parser/generate-java/src/bin/java-tests.rs
  lib/rust/parser/generate-java/src/serialization.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/macros/resolver.rs
  lib/rust/parser/src/source/code.rs
  lib/rust/parser/src/source/span.rs
  lib/rust/parser/src/syntax/item.rs
  lib/rust/parser/src/syntax/operator.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/tests/parse.rs
Owners: @kazcw, @wdanilo, @jaroslavtulach

Parser: Named and default arguments; Text interpolation; Escape sequences (#3709)
  lib/rust/metamodel/lexpr/src/lib.rs
  lib/rust/parser/generate-java/src/bin/java-tests.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/lib.rs
  lib/rust/parser/src/macros/built_in.rs
  lib/rust/parser/src/syntax/item.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
  lib/rust/parser/tests/parse.rs
Owners: @kazcw, @wdanilo, @jaroslavtulach

Minor cleanups in tests (#3697)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/ComplexTypeTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/DocumentationCommentsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/semantic/TypeSignaturesTest.scala
Owners: @4e6, @jaroslavtulach

Force recompilation if imported module has changed (#3703)
  CHANGELOG.md
  docs/runtime/ir-caching.md
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/ModuleCache.scala
  engine/runtime/src/test/resources/Test_Caching_Invalidation/package.yaml
  engine/runtime/src/test/resources/Test_Caching_Invalidation/src/Atom_1.enso
  engine/runtime/src/test/resources/Test_Caching_Invalidation/src/Atom_2.enso
  engine/runtime/src/test/resources/Test_Caching_Invalidation/src/Atom_3.enso
  engine/runtime/src/test/resources/Test_Caching_Invalidation/src/Main.enso
  engine/runtime/src/test/scala/org/enso/compiler/test/CachingTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/ModifiedTest.scala
Owners: @4e6, @jaroslavtulach

Additional tests for handling Dates in Table (#3707)
  std-bits/base/src/main/java/org/enso/base/Polyglot_Utils.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/aggregate/FunctionAggregator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/table/Column.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Spec.enso
Owners: @jdunkerley, @radeusgd

Rename `Standard.Base.Data.Text.Regex.Mode` to `Regex_Mode` (#3713)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine/Default.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Regex_Mode.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
Owners: @jdunkerley, @radeusgd

Don't rename imported Main module that only imports names (#3710)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json/Internal.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Helpers.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Histogram.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Id.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Scatter_Plot.enso
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/Imports.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/ImportsTest.scala
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
  test/Visualization_Tests/src/Geo_Map_Spec.enso
  test/Visualization_Tests/src/Helpers_Spec.enso
  test/Visualization_Tests/src/Histogram_Spec.enso
  test/Visualization_Tests/src/Id_Spec.enso
  test/Visualization_Tests/src/Scatter_Plot_Spec.enso
  test/Visualization_Tests/src/Sql_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @jdunkerley, @radeusgd, @4e6, @jaroslavtulach

Show Visualisation Preview when Selecting Item on Searcher (#3691)
  CHANGELOG.md
  app/gui/src/controller/searcher.rs
  app/gui/src/model/module.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/presenter/graph/state.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher.rs
  app/gui/view/src/project.rs
  build-config.yaml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

String functionality in std-table should use std-base (#3717)
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  std-bits/base/src/main/java/org/enso/base/Text_Utils.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Text/Utils_Spec.enso
Owners: @jdunkerley, @radeusgd

Component browser breadcrumbs (#3686)
  Cargo.lock
  app/gui/controller/engine-protocol/src/language_server/tests.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/model/execution_context.rs
  app/gui/tests/language_server.rs
  app/gui/view/component-browser/Cargo.toml
  app/gui/view/component-browser/breadcrumbs/Cargo.toml
  app/gui/view/component-browser/breadcrumbs/src/entry.rs
  app/gui/view/component-browser/breadcrumbs/src/lib.rs
  app/gui/view/component-browser/searcher-list-panel/Cargo.toml
  app/gui/view/component-browser/searcher-list-panel/src/lib.rs
  app/gui/view/component-browser/src/lib.rs
  build-config.yaml
  build/build-utils/src/lib.rs
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/grid-view/src/entry/visible.rs
  lib/rust/ensogl/component/grid-view/src/header.rs
  lib/rust/ensogl/component/grid-view/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

Renaming various constructors and moving types around for Database. (#3715)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/sql.js
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Engine.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Credentials.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Database.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Postgres_Options.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Redshift_Options.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/SQLite_Options.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Dialect/Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/SQL.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Aggregate_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/IR.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Redshift/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Result_Set.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/SQL/Visualization.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/Database/Helpers/Fake_Test_Connection.enso
  test/Table_Tests/src/Database/Postgres_Spec.enso
  test/Table_Tests/src/Database/Redshift_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Visualization_Tests/src/Main.enso
  test/Visualization_Tests/src/SQL_Spec.enso
  test/Visualization_Tests/src/Table_Spec.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @jdunkerley, @radeusgd

Fix expression updates for builtin types (#3721)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/BuiltinTypesTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Ref.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Zone.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Main.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/Runtime/Ref.enso
  test/micro-distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
Owners: @4e6, @jaroslavtulach, @jdunkerley, @radeusgd

macOS Code Signing & Notarization (#3712)
  .github/workflows/gui.yml
  .github/workflows/nightly.yml
  Cargo.lock
  Cargo.toml
  app/ide-desktop/lib/client/electron-builder-config.ts
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/lib/client/tasks/notarize.js
  app/ide-desktop/lib/client/tasks/prepareToSign.js
  app/ide-desktop/lib/client/tasks/signArchivesMacOs.js
  app/ide-desktop/lib/client/tasks/signArchivesMacOs.ts
  app/ide-desktop/package.json
  app/ide-desktop/patches/README.md
  app/ide-desktop/patches/app-builder-lib+23.3.3.patch
  build-config.yaml
  docs/CONTRIBUTING.md
Owners: @MichaelMauderer, @wdanilo

Entering modules in component browser (#3719)
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/breadcrumbs.rs
  app/gui/src/controller/searcher/component/builder.rs
  app/gui/src/presenter/searcher.rs
  app/gui/src/presenter/searcher/provider.rs
  app/gui/view/component-browser/component-group/src/entry.rs
  app/gui/view/component-browser/component-group/src/lib.rs
  app/gui/view/component-browser/component-group/src/set.rs
  app/gui/view/component-browser/component-group/src/wide.rs
  app/gui/view/component-browser/searcher-list-panel/src/lib.rs
  app/gui/view/debug_scene/component-group/src/lib.rs
  app/gui/view/debug_scene/component-list-panel-view/src/lib.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon
/lib/rust/metamodel/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/lib/rust/profiler/ @kazcw @MichaelMauderer @wdanilo
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo

# Scala Libraries
/lib/scala/ @4e6
/lib/scala/interpreter-dsl/ @4e6 @jaroslavtulach

# GUI
/run @MichaelMauderer @wdanilo
/build/ @MichaelMauderer @wdanilo
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6
/distribution/ @4e6
/engine/ @4e6 @jaroslavtulach
/project/ @4e6
/test/ @jdunkerley @radeusgd
/tools/ @4e6

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd
/std-bits/ @jdunkerley @radeusgd

# Engine
/app/engine/ @4e6
