Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

Show spinner when opening/creating a project (#6321)
  app/gui/src/controller/ide.rs
  app/gui/src/controller/ide/desktop.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/ide.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/integration_test.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher/provider.rs
  app/gui/src/tests.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project_list.rs
  app/gui/view/src/root.rs
  build-config.yaml
  integration-test/tests/engine.rs
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix opening cloud projects (#6683)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/ide.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Fix top bar styles (#6695)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Hide "shared with" column on local backend (#6684)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Add verbose logs mention to CONTRIBUTING.md (#6703)
  docs/CONTRIBUTING.md
Owners: none

Fix FRP events that deactivate visualizations. (#6638)
  app/gui/view/graph-editor/src/component/visualization/container.rs
  app/gui/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Revert "Show spinner when opening/creating a project (#6321)" (#6712)
  app/gui/src/controller/ide.rs
  app/gui/src/controller/ide/desktop.rs
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/ide.rs
  app/gui/src/ide/initializer.rs
  app/gui/src/integration_test.rs
  app/gui/src/presenter.rs
  app/gui/src/presenter/project.rs
  app/gui/src/presenter/searcher/provider.rs
  app/gui/src/tests.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project_list.rs
  app/gui/view/src/root.rs
  build-config.yaml
  integration-test/tests/engine.rs
  lib/rust/ensogl/pack/js/src/runner/index.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Change full-screen visualisation shortcut to shift-space (#6663)
  CHANGELOG.md
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/graph-editor/src/shortcuts.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Remove project create form (#6710)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: none

Fix list editor panics during insertion (#6540)
  Cargo.lock
  Cargo.toml
  app/gui/language/span-tree/src/generate.rs
  app/gui/language/span-tree/src/lib.rs
  app/gui/language/span-tree/src/node.rs
  app/gui/src/controller/graph/widget/configuration.rs
  app/gui/src/controller/graph/widget/response.rs
  app/gui/view/graph-editor/Cargo.toml
  app/gui/view/graph-editor/src/component/edge.rs
  app/gui/view/graph-editor/src/component/node.rs
  app/gui/view/graph-editor/src/component/node/input/area.rs
  app/gui/view/graph-editor/src/component/node/input/port.rs
  app/gui/view/graph-editor/src/component/node/input/widget.rs
  app/gui/view/graph-editor/src/component/node/input/widget/list_editor.rs
  app/gui/view/graph-editor/src/component/node/input/widget/single_choice.rs
  app/gui/view/graph-editor/src/component/node/output/port.rs
  app/gui/view/graph-editor/src/component/node/vcs.rs
  app/gui/view/graph-editor/src/lib.rs
  app/ide-desktop/lib/content-config/src/config.json
  build-config.yaml
  lib/rust/ensogl/component/list-editor/src/lib.rs
  lib/rust/ensogl/core/Cargo.toml
  lib/rust/ensogl/core/src/display/object/event.rs
  lib/rust/ensogl/core/src/display/object/instance.rs
  lib/rust/ensogl/core/src/display/scene.rs
  lib/rust/ensogl/core/src/display/shape/compound/rectangle.rs
  lib/rust/ensogl/core/src/display/shape/primitive/system.rs
  lib/rust/ensogl/core/src/gui/cursor.rs
  lib/rust/ensogl/examples/cached-shape/src/lib.rs
  lib/rust/frp/src/nodes.rs
  lib/rust/prelude/src/string.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add cloud dashboard to changelog (#6688)
  CHANGELOG.md
Owners: none

Show spinner while loading directory (#6714)
  app/ide-desktop/lib/dashboard/src/authentication/src/components/svg.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/rows.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234

Meta.meta Integer . methods (#6740)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/GetTypeMethodsNode.java
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Display "modified at" column on the cloud dashboard (#6687)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/rows.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/dateTime.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

sbt runEngineDistribution --debug to ease debuggging (#6745)
  project/DistributionPackage.scala
  project/WithDebugCommand.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Only send suggestions updates when type changes (#6755)
  CHANGELOG.md
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Display Initializing project... message when initializing project (#6661)
  app/gui/view/graph-editor/src/component/breadcrumbs/project_name.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw

Implement `cast` for Table and Column (#6711)
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Type/Value_Type.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Cast_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Parse_Values_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Problems.enso
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoDate.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/EnsoTimeOfDay.java
  lib/scala/common-polyglot-core-utils/src/main/java/org/enso/polyglot/common_utils/Core_Date_Utils.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/object/Builder.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/CastProblemBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DateTimeStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/MixedStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/SpecializedStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/TimeOfDayStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/IntegerType.java
  test/Table_Tests/data/.gitignore
  test/Table_Tests/src/Common_Table_Operations/Cast_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Conversion_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Main.enso
  test/Tests/polyglot-sources/enso-test-java-helpers/src/main/java/org/enso/table_test_helpers/ExplodingStorage.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Using WarningsLibrary to query for warnings (#6751)
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix file uploading node expression. (#6689)
  app/gui/src/controller/upload.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Set suggestion reexports when serializing the library (#6778)
  engine/language-server/src/test/scala/org/enso/languageserver/search/SuggestionsHandlerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/SuggestionsHandlerEventsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/ExportedSymbol.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Suggestion.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime/src/main/java/org/enso/compiler/context/ExportsMap.java
  engine/runtime/src/main/scala/org/enso/compiler/SerializationManager.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/ExportsBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Decimal/Integer .round and .int #6654 (#6743)
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Numbers.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/decimal/TruncateNode.java
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @4e6, @jaroslavtulach, @hubertp, @Akirathan

Implement simple variants of `parse` for the Database backend (#6731)
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Type_Mapping.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Problems.enso
  test/Table_Tests/src/Common_Table_Operations/Conversion_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
  test/Table_Tests/src/Database/Types/SQLite_Type_Mapping_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Widgets, Vector as Column, Viz Fixes and Rename Columns (#6768)
  app/gui/view/graph-editor/src/builtin/visualization/java_script/table.js
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Map.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Encoding.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Text_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Problem_Behavior.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File_Format.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Widget_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Database.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Vector_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Row.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Column_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Problem_Builder.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Extensions.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  test/Table_Tests/src/Common_Table_Operations/Date_Time_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Expression_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Filter_Spec.enso
  test/Table_Tests/src/Database/Types/Postgres_Type_Mapping_Spec.enso
  test/Table_Tests/src/Database/Types/SQLite_Type_Mapping_Spec.enso
  test/Table_Tests/src/In_Memory/Column_Format_Spec.enso
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @kazcw, @jdunkerley, @radeusgd, @GregoryTravis

Add a compiler pass to analyze non-existing imported symbols (#6726)
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/ImportSymbolAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/FullyQualifiedNames.scala
  engine/runtime/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime/src/test/java/org/enso/compiler/ErrorCompilerTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/PassesTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/semantic/ImportExportTest.scala
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Tests/src/Semantic/Deep_Export/Internal_3.enso
  test/Tests/src/Semantic/Deep_Export/Spec.enso
  test/Tests/src/Semantic/Names_Spec.enso
  tools/performance/engine-benchmarks/bench_download.py
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis

Add project creation time to project metadata (#6780)
  CHANGELOG.md
  docs/language-server/protocol-project-manager.md
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/ProjectMetadata.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Fix #6521: Main module function calls shouldn't use project namespace (#6719)
  CHANGELOG.md
  app/gui/src/controller/searcher.rs
  app/gui/src/controller/searcher/action.rs
  app/gui/src/controller/searcher/component.rs
  app/gui/src/controller/searcher/input.rs
  app/gui/suggestion-database/src/entry.rs
  app/gui/suggestion-database/src/lib.rs
  app/gui/suggestion-database/src/mock.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add logs section to the bug template (#6798)
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: none

Link to new 101 tutorial and not deprecated one. (#6793)
  README.md
Owners: none

feat: set constructor args tag values (#6801)
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Missing conversion of hash key in EqualsNode (#6803)
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/EqualsComplexNode.java
  engine/runtime/src/test/java/org/enso/interpreter/test/HashCodeTest.java
  engine/runtime/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Reloading file in LS after desynchronization. (#6752)
  CHANGELOG.md
  app/gui/docs/product/shortcuts.md
  app/gui/src/model/module.rs
  app/gui/src/model/module/plain.rs
  app/gui/src/model/module/synchronized.rs
  app/gui/src/model/project/synchronized.rs
  app/gui/src/presenter/graph.rs
  app/gui/src/test.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/graph-editor/src/shortcuts.rs
  app/gui/view/src/project.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Disable cloud backend for unverified users; use local backend as default backend; minor bugfixes (#6779)
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/changePasswordModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/renameModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/projectManager.ts
  app/ide-desktop/lib/dashboard/src/index.tsx
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Run TypeScript typechecking and eslint on Lint CI (#6603)
  Cargo.lock
  app/ide-desktop/lib/client/src/file-associations.ts
  app/ide-desktop/lib/content-config/src/index.ts
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/uploadFileModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/fileInfo.ts
  app/ide-desktop/lib/types/globals.d.ts
  app/ide-desktop/lib/types/modules.d.ts
  app/ide-desktop/lib/types/tsconfig.json
  app/ide-desktop/package.json
  app/ide-desktop/tsconfig.json
  build/ci_utils/src/fs.rs
  build/cli/Cargo.toml
  build/cli/src/lib.rs
  lib/rust/ensogl/pack/src/lib.rs
Owners: @PabloBuchu, @indiv0, @somebody1234, @MichaelMauderer, @wdanilo, @mwu-tow, @farmaazon, @kazcw

Use state sent with `GET /directories` instead of querying state separately (#6794)
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectActionButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
Owners: @PabloBuchu, @indiv0, @somebody1234

Add dashboard button (#6474)
  CHANGELOG.md
  Cargo.lock
  app/gui/src/ide/initializer.rs
  app/gui/src/presenter/project.rs
  app/gui/view/graph-editor/src/component/node/action_bar.rs
  app/gui/view/graph-editor/src/component/profiling.rs
  app/gui/view/graph-editor/src/execution_environment.rs
  app/gui/view/graph-editor/src/lib.rs
  app/gui/view/src/lib.rs
  app/gui/view/src/project.rs
  app/gui/view/src/project/project_view_top_bar.rs
  app/gui/view/src/project/project_view_top_bar/go_to_dashboard_button.rs
  app/gui/view/src/project/project_view_top_bar/window_control_buttons.rs
  app/gui/view/src/project/project_view_top_bar/window_control_buttons/close.rs
  app/gui/view/src/project/project_view_top_bar/window_control_buttons/fullscreen.rs
  app/gui/view/src/window_control_buttons.rs
  build-config.yaml
  lib/rust/ensogl/app/theme/hardcoded/src/lib.rs
  lib/rust/ensogl/component/toggle-button/Cargo.toml
  lib/rust/ensogl/component/toggle-button/src/lib.rs
  lib/rust/web/src/binding/mock.rs
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Filter suggestion constructors when searching by self type (#6813)
  lib/scala/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/scala/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Import/export syntax error have more specific messages (#6808)
  engine/runtime/src/main/java/org/enso/compiler/TreeToIr.java
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/java/org/enso/compiler/ErrorCompilerTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Update GraalVM to 22.3.1 JDK17 (#6750)
  CHANGELOG.md
  app/ide-desktop/lib/client/tasks/signArchivesMacOs.ts
  build.sbt
  build/ci_utils/src/cache/goodie/graalvm.rs
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMComponentConfiguration.scala
  lib/scala/runtime-version-manager/src/test/scala/org/enso/runtimeversionmanager/components/GraalVMComponentConfigurationSpec.scala
  test/Table_Tests/src/In_Memory/Column_Format_Spec.enso
  test/Tests/src/Network/Http_Spec.enso
  tools/ci/docker/Dockerfile
  tools/enso4igv/src/test/java/org/enso/tools/enso4igv/EnsoSbtProjectTest.java
Owners: @PabloBuchu, @indiv0, @somebody1234, @4e6, @jaroslavtulach, @hubertp, @Akirathan, @mwu-tow, @jdunkerley, @radeusgd, @GregoryTravis

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley
/app/ide-desktop/ @MichaelMauderer @wdanilo

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Cloud Dashboard & Authentication
/app/ide-desktop/lib/dashboard @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/content @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/client @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/types @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234

# Eslint & Esbuild Configuration
/app/ide-desktop/lib/esbuild-plugin-copy-directories @somebody1234
/app/ide-desktop/eslint.config.js @somebody1234
/app/ide-desktop/utils.ts @somebody1234
