Repository junglerot/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radeusgd, @4e6, @wdanilo, @mwu-tow, @MichaelMauderer

.github/CODEOWNERS:

# Catch All
* @radeusgd @4e6

# Rust Libraries
/lib/rust/ @wdanilo @radeusgd @4e6

# Repo Configuration
/.github/settings.yml @4e6 @radeusgd

# GUI
/gui/* @wdanilo
/gui/src/rust/ide @mwu-tow
/gui/src/rust/ide/view @wdanilo
/gui/src/rust/ide/view @MichaelMauderer

Bump rustc to nightly-2021-10-21 (#3129)
  .github/workflows/gui.yml
  gui/build/workflow.js
  gui/run
  gui/rust-toolchain
  gui/src/rust/ensogl/example/src/lib.rs
  gui/src/rust/ensogl/example/src/list_view.rs
  gui/src/rust/ensogl/lib/components/src/drop_down_menu.rs
  gui/src/rust/ensogl/lib/components/src/label.rs
  gui/src/rust/ensogl/lib/core/src/display/shape/primitive/shader/builder.rs
  gui/src/rust/ensogl/lib/core/src/display/shape/primitive/shader/canvas.rs
  gui/src/rust/ensogl/lib/core/src/lib.rs
  gui/src/rust/ensogl/lib/text/src/buffer/view.rs
  gui/src/rust/ensogl/lib/text/src/buffer/view/movement.rs
  gui/src/rust/ide/lib/ast/impl/src/lib.rs
  gui/src/rust/ide/lib/ast/impl/src/prefix.rs
  gui/src/rust/ide/lib/enso-protocol/src/lib.rs
  gui/src/rust/ide/src/controller/project.rs
  gui/src/rust/ide/src/double_representation/refactorings/collapse.rs
  gui/src/rust/ide/src/ide.rs
  gui/src/rust/ide/src/ide/integration/visualization.rs
  gui/src/rust/ide/view/graph-editor/src/builtin/visualization/native/bubble_chart.rs
  gui/src/rust/ide/view/graph-editor/src/component/edge.rs
  gui/src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  gui/src/rust/ide/view/graph-editor/src/lib.rs
  gui/src/rust/ide/view/src/lib.rs
  gui/src/rust/lib/frp/src/data/watch.rs
  gui/src/rust/lib/frp/src/debug.rs
  gui/src/rust/lib/frp/src/io/keyboard.rs
  gui/src/rust/lib/frp/src/nodes.rs
Owners: @radeusgd, @4e6, @wdanilo, @mwu-tow, @MichaelMauderer

This wasn't supposed to be committed.
  gui/CURRENT_RELEASE_CHANGELOG.json
Owners: @wdanilo

Use libraries merged from `rust-lib` directly (#3137)
  Cargo.lock
  gui/src/rust/Cargo.lock
  gui/src/rust/ensogl/example/Cargo.toml
  gui/src/rust/ensogl/lib/components/Cargo.toml
  gui/src/rust/ensogl/lib/core/Cargo.toml
  gui/src/rust/ensogl/lib/text/Cargo.toml
  gui/src/rust/ensogl/lib/text/embedded-fonts/Cargo.toml
  gui/src/rust/ensogl/lib/text/msdf-sys/Cargo.toml
  gui/src/rust/ensogl/lib/web/Cargo.toml
  gui/src/rust/ide/Cargo.toml
  gui/src/rust/ide/lib/args/Cargo.toml
  gui/src/rust/ide/lib/ast/impl/Cargo.toml
  gui/src/rust/ide/lib/ast/macros/Cargo.toml
  gui/src/rust/ide/lib/enso-protocol/Cargo.toml
  gui/src/rust/ide/lib/json-rpc/Cargo.toml
  gui/src/rust/ide/lib/parser/Cargo.toml
  gui/src/rust/ide/lib/span-tree/Cargo.toml
  gui/src/rust/ide/lib/span-tree/example/Cargo.toml
  gui/src/rust/ide/lib/utils/Cargo.toml
  gui/src/rust/ide/view/Cargo.toml
  gui/src/rust/ide/view/graph-editor/Cargo.toml
  gui/src/rust/lib/callback/Cargo.toml
  gui/src/rust/lib/code-builder/Cargo.toml
  gui/src/rust/lib/frp/Cargo.toml
  gui/src/rust/lib/fuzzly/Cargo.toml
  gui/src/rust/lib/shortcuts/Cargo.toml
  gui/src/rust/lib/shortcuts/example/Cargo.toml
  gui/src/rust/lib/system/web/Cargo.toml
  gui/src/rust/lib/web-test/Cargo.toml
  lib/rust/lexer/definition/Cargo.toml
  lib/rust/lexer/definition/src/lexer.rs
  lib/rust/lexer/generation/Cargo.toml
  lib/rust/logger/src/processor.rs
  lib/rust/parser/Cargo.toml
Owners: @radeusgd, @4e6, @mwu-tow, @MichaelMauderer, @wdanilo

Disable the engine Changelog check. (#3146)
  .github/settings.yml
Owners: @4e6, @radeusgd

Disable ProjectManagementApiSpec (#3138)
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
Owners: @radeusgd, @4e6

Apply unified prettier style to engine codebase (#3145)
  .github/settings.yml
  .github/workflows/docs.yml
  .github/workflows/gui.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .prettierignore
  gui/build/workflow.js
  lib/scala/docs-generator/src/main/scala/org/enso/docs/generator/template.js
  package.json
  tools/ci/check-changelog.js
  tools/ci/nightly/bump-version.js
  tools/ci/nightly/extract-release-notes.js
  tools/ci/nightly/github.js
  tools/ci/nightly/preflight-check.js
  tools/ci/nightly/publish-release.js
  tools/ci/nightly/trigger-workflow.js
  tools/ci/releases/add-release.js
  tools/ci/releases/is-broken.js
  tools/ci/releases/mark-broken.js
  tools/legal-review-helper/index.js
  tools/legal-review-helper/static/inject.js
  tools/native-image-config-cleanup/index.js
  tools/simple-library-server/main.js
Owners: @4e6, @radeusgd

Update docs.yml
  .github/workflows/docs.yml
Owners: @radeusgd, @4e6

Set Locale in Tests (#3158)
  test/Tests/src/Data/Locale_Spec.enso
  test/Tests/src/Main.enso
Owners: @radeusgd, @4e6

Fix `SystemProcessTest` to not require presence of `echo` program on Windows. (#3152)
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SystemProcessTest.scala
Owners: @radeusgd, @4e6

Colorful Histograms (#3153)
  app/gui/CHANGELOG.md
  app/gui/view/graph-editor/src/builtin/visualization/java_script/histogram.js
Owners: @radeusgd, @4e6
